@import '~stylesheets/variables';

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .avatar {
    margin-right: 20px;
  }
}

.fleetchart-slider {
  margin-bottom: 20px;
}

.fleetchart {
  justify-content: space-around;
  align-items: center;

  .fleetchart-item {
    margin: 10px;
    display: inline-block;
    text-align: center;
  }
}
