@import '~stylesheets/variables';

.holo-viewer {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .actions {
    position: absolute;
    right: 15px;
    bottom: 10px;
    z-index: 1000;
    margin-right: 0;
    opacity: 0;
    transition: opacity $transition-base-speed ease;
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }
}
