.base-pill {
  display: inline-block;
  padding: 6px 10px;
  font-size: 15px;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  border-radius: 4px;
  background: rgba($primary, 0.2);
  border: 1px solid rgba($primary, 0.4);
  color: color.adjust($primary, $lightness: 20%);

  &--danger {
    background: rgba($danger, 0.2);
    border-color: rgba($danger, 0.4);
    color: color.adjust($danger, $lightness: 20%);
  }

  &--warning {
    background: rgba($warning, 0.2);
    border-color: rgba($warning, 0.4);
    color: color.adjust($warning, $lightness: 10%);
  }

  &--success {
    background: rgba($success, 0.2);
    border-color: rgba($success, 0.4);
    color: color.adjust($success, $lightness: 20%);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--margin-right {
    margin-right: 6px;
  }
}
