.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th=sort_link(@q, :name)
        %th=sort_link(@q, :system)
        %th=sort_link(@q, :planet)
        %th=sort_link(@q, :station_type, 'Type')
        %th.actions.actions-two
    %tbody
      = render partial: "admin/trade_hubs/show", collection: @trade_hubs, as: :trade_hub

      - if @trade_hubs.blank?
        = render "shared/tables/blank", count: 3, resource: "trade_hub"
