- content_for :title do
  = I18n.t(:"title.trade_hub.edit")
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = I18n.t(:"headlines.admin.trade_hub.edit", trade_hub: trade_hub.name)

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t("actions.back"), admin_trade_hubs_path(params: index_back_params, anchor: trade_hub.id), class: "btn btn-default"

    = render "form"
