<script>
  window.APP_VERSION = '<%= Fleetyards::VERSION %>'
  window.APP_CODENAME = '<%= Fleetyards::CODENAME %>'
  window.NODE_ENV = '<%= Rails.env %>'
  window.GIT_REVISION = '<%= Git.revision_short %>'
  window.APP_NAME = '<%= Rails.application.secrets.app_name %>'
  window.STORE_VERSION = '<%= Rails.application.secrets.store_version %>'
  window.API_ENDPOINT = '<%= Rails.application.secrets.api_endpoint %>'
  window.CABLE_ENDPOINT = '<%= Rails.application.secrets.cable_endpoint %>'
  window.FRONTEND_ENDPOINT = '<%= Rails.application.secrets.frontend_endpoint %>'
  window.RSI_ENDPOINT = '<%= Rails.application.secrets.rsi_endpoint %>'
  window.SENTRY_DSN = '<%= Rails.application.secrets.sentry_frontend_dsn %>'
  window.DATA_PREFETCH = <%= @data_prefetch.to_json.html_safe %>
  window.MAINTAINER_NAME = '<%= Rails.application.secrets.maintainer_name %>'
  window.MAINTAINER_MAIL = '<%= Rails.application.secrets.maintainer_mail %>'
  window.MAINTAINER_ADDRESS_STREET = '<%= Rails.application.secrets.maintainer_address_street %>'
  window.MAINTAINER_ADDRESS_POSTALCODE = '<%= Rails.application.secrets.maintainer_address_postalcode %>'
  window.MAINTAINER_ADDRESS_CITY = '<%= Rails.application.secrets.maintainer_address_city %>'
  window.MAINTAINER_ADDRESS_COUNTRY = '<%= Rails.application.secrets.maintainer_address_country %>'
  window.COPYRIGHT_OWNER = '<%= Rails.application.secrets.copyright_owner %>'
</script>
<%= javascript_packs_with_chunks_tag 'frontend' %>
