importScripts('/precache-manifest.<%= Git.revision %>.js', 'https://storage.googleapis.com/workbox-cdn/releases/5.1.2/workbox-sw.js')

// --------------------------------------------------
// Configure
// --------------------------------------------------

// Set workbox config
workbox.setConfig({
  "debug": false
})

// Start controlling any existing clients as soon as it activates
// workbox.core.clientsClaim()

// Skip over the SW waiting lifecycle stage
workbox.core.skipWaiting()

workbox.precaching.cleanupOutdatedCaches()

// --------------------------------------------------
// Precaches
// --------------------------------------------------

// Precache assets
workbox.precaching.precacheAndRoute(self.__precacheManifest)

// --------------------------------------------------
// Runtime Caching
// --------------------------------------------------

// Register route handlers for runtimeCaching
workbox.routing.registerRoute(
  ({url}) => url.origin === 'https://kit.fontawesome.com' ||
             url.origin === 'https://kit-pro.fontawesome.com' ||
             url.origin === 'https://fonts.googleapis.com' ||
             url.origin === 'https://fonts.gstatic.com',
  new workbox.strategies.CacheFirst({}),
  'GET',
)
workbox.routing.registerRoute(new RegExp('/'), new workbox.strategies.NetworkFirst ({}), 'GET')
