.oauth-btn {
  min-width: 70px;

  &.inline {
    margin-right: 0;
  }

  .oauth-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    border-radius: 50%;
  }

  .oauth-icon--citizenid {
    width: 32px !important;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
  }

}
