.oauth-btn {
  min-width: 70px;

  &.inline {
    margin-right: 0;
  }

  .fa-brands {
    font-size: 32px;
  }

  .oauth-icon--citizenid {
    width: 32px !important;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
  }
}
