.input-group-addon {
  color: inherit;
}

.btn.btn-default {
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: lighten($primary, 50%);
  }
}

.label {
  font-weight: normal;
}

.modal-content {
  border-radius: $border-radius-base;
}
