$footer-border-color:    #ccc;
$footer-bg-color:        #ddd;
$gravatar-shadow:        0 1px 0 #fff;
$primary:                #428bca;
$navbar-active:          $primary;

$container-xxlg:         95%;
$container-xlg:          95%;
$container-lg:           95%;
$container-md:           95%;
$container-xs:           95%;
$container-sm:           100%;

$font-size-h1: $font-size-h1-base;
$font-size-h2: $font-size-h2-base;
$font-size-h3: $font-size-h3-base;
$font-size-h4: $font-size-h4-base;
$font-size-h5: $font-size-h5-base;
$font-size-h6: $font-size-h6-base;

@import 'dark';
