@import '~stylesheets/variables';

.compare {
  .compare-image {
    height: 180px;
    position: relative;
    overflow: hidden;

    & > a {
      position: relative;
      border-radius: $border-radius-base;
      display: block;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .6);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
    }
  }

  .compare-row {
    margin-bottom: 10px;
  }

  .compare-section {
    margin-top: 30px;

    .metrics-title {
      position: relative;
      padding-right: 25px;
      cursor: pointer;

      i {
        transition: all .5s ease;
        position: absolute;
        right: 0;
        top: 2px;
      }

      &.active {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .compare {
    .metrics-label,
    .metrics-title {
      text-align: center;
    }

    .compare-section {
      .metrics-title {
        padding-right: 0;

        i {
          right: 15px;
        }
      }
    }
  }
}
