@tailwind base;
@tailwind components;
@tailwind utilities;

@import "photoswipe/dist/photoswipe";
@import "@/stylesheets/shared/vendor/photoswipe/default-skin";
@import "@/stylesheets/shared/noty";
@import "@/stylesheets/shared/transitions";
@import "@/stylesheets/frontend/fonts";
@import "@/fontawesome/css/all";

body {
  position: relative;
  background-color: black;
  color: white;
}
