.support-body {
  text-align: center;
}

.support-buymeacoffee {
  img {
    width: auto;
  }

  .panel-btn-inner {
    width: 235px;
    padding: 0;
  }
}

.support-referral-link {
  font-size: 130%;
}
