- content_for :title do
  = I18n.t(:"title.manufacturer.edit")
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = I18n.t(:"headlines.admin.manufacturer.edit", manufacturer: manufacturer.name.html_safe)

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.back"), admin_manufacturers_path, class: "btn btn-default"

    = render "form"
