@import '~stylesheets/variables';

h2.main-headline {
  font-weight: normal;
  font-family: 'Orbitron', sans-serif;
}

.info-box {
  margin-bottom: 21px;

  .panel-title {
    margin-top: 20px;
  }

  .panel-body {
    display: flex;
    align-items: center;
    min-height: 250px;
    padding-top: 0;

    p {
      font-size: 110%;
      line-height: 2;
    }
  }
}
