a {
  color: $text-color;
  text-decoration: none;
  transition: all ease 0.5s;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:focus {
    color: $text-color;
    text-decoration: none;
  }
}
