$outerBorderWidth: 2px;
$outerBorderRadius: $panelOuterBorderRadius;
$innerBorderWidth: 3px;
$innerBorderRadius: $panelInnerBorderRadius;
$contentBorderRadius: $panelContentBorderRadius;

.panel-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: $outerBorderWidth;
  border: $outerBorderWidth solid $panel-outer-border;
  border-radius: $outerBorderRadius;
  transition: border-color $transition-base-speed ease;

  &.panel-outer-spacing {
    margin-bottom: 21px;
  }

  &.panel-highlight {
    border: $outerBorderWidth solid $gold;
  }

  &::before {
    position: absolute;
    top: -$outerBorderWidth;
    right: 80px;
    left: 80px;
    height: $outerBorderWidth;
    background-color: #444;
    content: "";
  }

  &::after {
    position: absolute;
    right: 80px;
    bottom: -$outerBorderWidth;
    left: 80px;
    height: $outerBorderWidth;
    background-color: #444;
    content: "";
  }
}

.panel {
  position: relative;
  min-height: $innerBorderRadius * 2;
  background-color: $panel-bg;
  border: $innerBorderWidth solid $panel-inner-border;
  border-radius: $innerBorderRadius;
  box-shadow: 0 1px 1px rgba(#000, 0.05);

  &::before {
    position: absolute;
    top: -$innerBorderWidth;
    right: 40px;
    left: 40px;
    height: ($innerBorderWidth + 1);
    background-color: #444;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    content: "";
  }

  &::after {
    position: absolute;
    right: 40px;
    bottom: -$innerBorderWidth;
    left: 40px;
    height: ($innerBorderWidth + 1);
    background-color: #444;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    content: "";
  }

  &-primary {
    color: white;
    background-color: $primary;
  }

  &-success {
    color: white;
    background-color: $success;
  }

  &-transparency-more {
    background-color: rgba($panel-bg, 0.6);
  }

  &-transparency-complete {
    background-color: transparent;
  }

  &-inner {
    border-radius: $contentBorderRadius;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 286px;

    &-text {
      padding: 20px;
      padding-bottom: 0;
    }

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
    }

    &-left {
      > :first-child {
        flex: 30% 0 0;
      }
    }

    &-right {
      > :last-child {
        flex: 30% 0 0;
      }
    }

    &-slim {
      min-height: 0;
    }
  }

  table {
    margin-bottom: 0;
  }

  table:first-child tbody:first-child tr:first-child td,
  table:first-child thead tr:first-child th {
    border-top: none;
  }
}
