@import '~stylesheets/variables';

.cookies-banner {
  form {
    margin-top: 20px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  dl {
    margin: 20px 0;

    dt {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .info-link {
    font-size: 120%;
    cursor: pointer;
  }

  .form-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    > .form-group {
      margin: 0;
    }
  }
}

.cookies-banner-actions {
  display: flex;
  justify-content: center;
}
