<ul class="list-items">
  <li>
    <div class="row dark trans-03s trans-background active">
      <div class="basic-infos clearfix">
        <div class="item-image-wrapper content-block3">
          <div
            class="image"
            style="
              background-image: url('https://media.robertsspaceindustries.com/ewuc8yp3tnfnm/heap_infobox.jpg');
            "
          ></div>
          <div class="corner corner-top-left"></div>
          <div class="corner corner-top-right"></div>
          <div class="corner corner-bottom-left"></div>
          <div class="corner corner-bottom-right"></div>
        </div>
        <div class="wrapper-col">
          <a class="arrow js-expand-arrow trans-02s"
            ><span class="effect trans-02s trans-opacity"></span
          ></a>
          <div class="title-col">
            <h3 class="">
              combo - Best In Show Perfect Collection - LTI (19627703)
            </h3>

            <script class="js-pledge-name-reservations" type="application/json">
              { "44415327": "Beroan", "44415328": "Rhaegal" }
            </script>
            <script class="js-pledge-nameable-ships" type="application/json">
              [
                {
                  "membership_id": "44415327",
                  "default_name": "Reclaimer 2949 Best in Show",
                  "custom_name": "Beroan"
                },
                {
                  "membership_id": "44415328",
                  "default_name": "Hammerhead 2949 Best in Show",
                  "custom_name": "Rhaegal"
                }
              ]
            </script>
            <input type="hidden" class="js-pledge-id" value="19627703" />
            <input
              type="hidden"
              class="js-pledge-name"
              value="Add-Ons - Best In Show Perfect Collection"
            />
            <input
              type="hidden"
              class="js-pledge-value"
              value="$1,350.00 USD"
            />
            <input
              type="hidden"
              class="js-pledge-configuration-value"
              value="$0.00 USD"
            />
            <input
              type="hidden"
              class="js-pledge-currency"
              value="Store Credit"
            />
            <input type="hidden" class="js-pledge-last-alpha" value="0" />
            <span class="availability">Attributed</span>
          </div>
          <div class="date-col">
            <label>Created:</label>
            December 04, 2019
          </div>
          <div class="items-col">
            <label>Contains:</label>
            4 ships and 12 items
          </div>
          <div class="date-col melt-col">
            <label>Melt Value</label>$1,350.00 USD
          </div>
          <div class="items-col pledge-col">
            <label>Base Pledge</label>Best In Show Perfect Collection
          </div>
        </div>
      </div>
      <div class="items more js-more trans-02s trans-height">
        <h2>Items</h2>
        <a class="shadow-button trans-02s trans-color js-reclaim reclaim rm">
          <span class="label js-label trans-02s">Exchange</span>
          <span class="icon trans-02s"
            ><span class="effect trans-opacity trans-03s"></span
          ></span>
          <span class="left-section"></span>
          <span class="right-section"></span>
        </a>

        <span class="clear"></span>

        <div class="content-block1">
          <div class="nameable-infobox">
            <div class="nameable-infobox-icon">
              <div class="nameable-icon"></div>
            </div>
            <div class="nameable-infobox-text">
              You can rename <span class="infobox-count">2</span> ships
            </div>
            <a
              class="shadow-button trans-02s trans-color js-rename-ship nameable-infobox-rename-btn"
            >
              <span class="label js-label trans-02s">Rename ships</span>
              <span class="icon trans-02s"
                ><span class="effect trans-opacity trans-03s"></span
              ></span>
              <span class="left-section"></span>
              <span class="right-section"></span>
            </a>
            <div class="cboth"></div>
          </div>

          <div class="with-images">
            <div class="item">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/1r1vf9peutpr0/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Caterpillar 2949 Best in Show</div>
                <div class="kind">Ship</div>
                <div class="liner">
                  Drake Interplanetary (<span>DRAK</span>)
                </div>
              </div>
            </div>

            <div class="item">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/vt0f0g30nua1v/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Cutlass 2949 Best In Show</div>
                <div class="kind">Ship</div>
                <div class="liner">
                  Drake Interplanetary (<span>DRAK</span>)
                </div>
              </div>
            </div>

            <div class="item has-custom-name">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/81432ksmdzn30/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Reclaimer 2949 Best in Show</div>
                <div class="custom-name">
                  <div class="custom-name-icon"></div>
                  <div class="custom-name-text">Beroan</div>
                </div>
                <div class="kind">Ship</div>
                <div class="liner">Aegis Dynamics (<span>AEGS</span>)</div>
              </div>
            </div>

            <div class="item has-custom-name">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/tmuyqtlpfh64d/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Hammerhead 2949 Best in Show</div>
                <div class="custom-name">
                  <div class="custom-name-icon"></div>
                  <div class="custom-name-text">Rhaegal</div>
                </div>
                <div class="kind">Ship</div>
                <div class="liner">Aegis Dynamics (<span>AEGS</span>)</div>
              </div>
            </div>

            <div class="item">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/97n3zqxftsq2j/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Best in Show Schematics - Caterpillar</div>
                <div class="kind">Hangar</div>
              </div>
            </div>

            <div class="item">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/jwm4adiy8frwt/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Best in Show Schematics - Reclaimer</div>
                <div class="kind">Hangar</div>
              </div>
            </div>

            <div class="item">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/hvqiegt00ktsc/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Best in Show Schematics - Hammerhead</div>
                <div class="kind">Hangar</div>
              </div>
            </div>

            <div class="item">
              <div
                class="image"
                style="
                  background-image: url('https://media.robertsspaceindustries.com/xqgd67769iow5/subscribers_vault_thumbnail.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">Best in Show Schematics - Cutlass Black</div>
                <div class="kind">Hangar</div>
              </div>
            </div>

            <div class="item">
              <div
                class="image"
                style="
                  background-image: url('/media/jmgju9pvpk3zyr/subscribers_vault_thumbnail/Asteroid_02.jpg');
                "
              ></div>
              <div class="text">
                <div class="title">VFG Industrial Hangar</div>
                <div class="kind">Hangar</div>
              </div>
            </div>

            <div class="cboth"></div>
          </div>

          <div class="also-contains">Also Contains</div>

          <div class="without-images">
            <div class="item">
              <div class="title">Caterpillar BIS Skin</div>
            </div>

            <div class="item">
              <div class="title">Cutlass 2949 BIS Skin</div>
            </div>

            <div class="item">
              <div class="title">Reclaimer 2949 BIS Skin</div>
            </div>

            <div class="item">
              <div class="title">Hammerhead 2949 BIS Skin</div>
            </div>

            <div class="item">
              <div class="title">Lifetime Insurance</div>
            </div>

            <div class="item">
              <div class="title">Hammerhead Name Reservation</div>
            </div>

            <div class="item">
              <div class="title">Reclaimer Name Reservation</div>
            </div>
            <div class="cboth"></div>
          </div>

          <div class="top-line-thin"></div>
          <div class="top-line"></div>
          <div class="corner corner-top-left"></div>
          <div class="corner corner-top-right"></div>
          <div class="corner corner-bottom-left"></div>
          <div class="corner corner-bottom-right"></div>
        </div>
      </div>
      <div class="line">
        <div class="effect trans-02s trans-opacity"></div>
      </div>
    </div>
  </li>
</ul>
