.col-12.col-md-4.fields
  .form-group{class: form_error?(fields.object, :name)}
    - if fields.object.name.present?
      %img{src: fields.object.name.url(:small)}
    - else
      = fields.file_field :name, placeholder: I18n.t(:"helpers.placeholder.image.name"), class: 'form-control'
    = form_errors fields.object, :name


  .d-flex.justify-content-end
    .btn-group-responsive.form-group
      = link_to_delete_fields fields, name: I18n.t(:"actions.delete"), class: "btn btn-danger" do
        %i.fa.fa-trash

  .clearfix
  .col-12.d-md-none.d-sm-block
    %hr
