# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile*

# CI/CD
.github

# Data dumps
dumps/*
data/*
!data/sc_data

# Config/secrets
.env*
!.env.example
blocklist.json
.idea

# Uploads & generated assets
public/uploads
public/compare
public/vite

# Node
node_modules
.pnpm-store

# Caches & logs
.eslintcache
log/*
tmp/*
.byebug_history

# Tests
test/*
spec/*

# Build artifacts
build
vendor/assets*
