dumps/*
data/*

# config files
.env
blocklist.json
.idea

# app files
public/uploads
public/compare
public/packs-test

# yarn files
yarn-error.log
yarn-debug.log*
.yarn-integrity
build
node_mobules/*
vendor/assets*

# cache & history files
.eslintcache
log/*
tmp/*
.byebug_history

# test files
test/*
spec/*
