{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "compat",
    "cypress",
    "jest",
    "import"
  ],
  "settings": {
    "html/indent": "tab",
    "polyfills": ["promises"]
  },
  "rules": {
    "compat/compat": "error",
    "no-bitwise": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-underscore-dangle": "off",
    "semi": ["error", "never"],
    "no-console": [
      "error", { "allow": ["info", "warn", "error"] }
    ],
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_"
    }],
    "no-useless-escape": 0,
    "space-before-function-paren": 0,
    "vue/no-v-html": "off",
    "vue/component-name-in-template-casing": "off",
    "spaced-comment": [2, "always", {"exceptions": ["-"], "markers": ["/"]}]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "process": true,
    "env": true,
    "fixture": true,
    "self": true,
    "clients": true
  },
  "overrides": [{
    "files": ["**/*+(spec|test).?(f|functional).js"],
    "globals": {
      "test": true,
      "mountVM": true
    }
  }, {
    "files": ["cypress/**/*.js"],
    "rules": {
      "no-unused-expressions": "off",
      "jest/valid-expect": "off"
    },
    "env": {
      "cypress/globals": true
    }
  }, {
    "files": ["**/*+(spec|test).js"],
    "rules": {
      "no-unused-expressions": "off"
    },
    "globals": {
      "mountVM": true
    },
    "env": {
      "jest": true,
      "mocha": true
    }
  }]
}
