.bundle

# logfiles and tempfiles.
log/*
tmp/*
dumps

pids/*

# config files
.env
.wti

# test files
coverage/*
test/reports/*
test/javascript/e2e/screenshots/*
test/javascript/e2e/videos/*
test/javascript/unit/coverage/*

# app files
public/uploads/*
public/assets
public/compare/*
public/packs
public/packs-test

# js dependencies
vendor/assets/.bowerrc
vendor/assets/bower.json
vendor/assets/bower_components/jquery
vendor/assets/bower_components/bootstrap
vendor/assets/bower_components/sweetalert

.byebug_history

/node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity
build

.eslintcache

blocklist.json
reserved_usernames.json

REVISION
