.bundle

# logfiles and tempfiles.
log/*
tmp/*

pids/*
.ruby-version

# config files
config/database.yml
.env
.wti

# test files
coverage/*

# app files
public/uploads/*

# js dependencies
vendor/assets/.bowerrc
vendor/assets/bower.json

