{
  "linters": {
    "*.js": [
      "yarn run lint:js",
      "git add"
    ],
    "*.{css,scss}": [
      "yarn run lint:style",
      "git add"
    ],
    "*.vue": [
      "yarn run lint:vue",
      "git add"
    ],
    "*.{rb,erb,haml,jbuilder}": [
      "bundle exec rubocop",
      "git add"
    ],
  },
  "ignore": ["**/db/*.rb"]
}
