FORMAT: 1A
HOST: https://api.fleetyards.net

# FleetYards.net

# Group Ships

## Ships [/v1/ships]

### GET Index [GET]
Get a List of Ships

+ Request

    + Headers

            Accept: application/json



+ Response 200 (application/json; charset=utf-8)

    + Body

            [{"id":"4a624dcc-5e61-4166-822a-2d918edc5910","name":"300i","slug":"300i","description":"If you're going to travel the stars... why not do it in style? The 300i is Origin Jumpworks' premiere luxury spacecraft. It is a sleek, silver killer that sends as much of a message with its silhouette as it does with its weaponry.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"4","netCargo":null,"crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/4a624dcc-5e61-4166-822a-2d918edc5910/300i_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/300i","price":"55.0","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"personal_transport","focus":"Touring","rsiId":7,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"4716966d-72eb-40f8-9663-15d2ffd59d9b","name":"Touring"},"createdAt":"2014-10-04T23:45:27.976+02:00","updatedAt":"2017-08-26T04:00:51.819+02:00"},{"id":"44ebab77-3856-40da-9162-4774aa8c27f5","name":"315p","slug":"315p","description":"Exploration is man's highest calling. Prepare to chart distant horizons with man's most sophisticated piece of technology, the ORIGIN 315p. Featuring a more robust power plant and a custom scanning package, exclusively designed by Chimera Communications.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"6","netCargo":null,"crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/44ebab77-3856-40da-9162-4774aa8c27f5/315p_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/315p","price":"65.0","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"personal_transport","focus":"Exploration","rsiId":8,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"c53ba747-bbdb-4768-aa08-2521ef1f1f1e","name":"Exploration"},"createdAt":"2014-10-04T23:45:33.797+02:00","updatedAt":"2017-08-26T04:00:54.384+02:00"}]



### GET /v1/ships/:slug

+ Request

    + Headers

            Accept: application/json



+ Response 200 (application/json; charset=utf-8)

    + Headers

            Vary: Origin
            Set-Cookie: _app_session=MTRKMXBkdkliUzJwanpacFhYRU42Y1NTOVhSUG1xeUNwSnpaOWhvR2ZneDBrRXY2dG9qSWU5UU9nU3I5OEkxdXZBUEJjU0M5UGUzN05RR2s3ODlLdUE9PS0tQ2xUSUFWTlcxWm5OYTFRYjlDenhmdz09--cbe83fe7f107b2fd65a2b302f6cf5af7f1730d29; path=/; HttpOnly
            X-XSS-Protection: 1; mode=block
            Transfer-Encoding: chunked
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 7b38474f-fc09-48ec-a5be-027c66d7612a
            X-Rack-CORS: miss; no-origin
            X-Content-Type-Options: nosniff
            Etag: W/"ff43f4e78c8ca219e64eb394f223eb98"
            X-Frame-Options: SAMEORIGIN

    + Body

            {"id":"577769f6-9d1f-4f9a-825b-b2b361490475","name":"Constellation Aquila","slug":"constellation-aquila","description":"Explore any distant horizons! The Constellation Aquila features a redesigned cockpit for maximum visibility, advanced sensors and an onboard Ursa rover for planetary exploration. Let’s see what’s out there!","length":"60.100","beam":"26.600","height":"12000","mass":"805","cargo":"134","netCargo":"14.5","crew":"4","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/577769f6-9d1f-4f9a-825b-b2b361490475/Aquila_Storefront.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-constellation/Constellation-Aquila","price":"266.06","onSale":true,"productionStatus":"ready","productionNote":"Damage States being mapped","powerplantSize":6,"shieldSize":6,"classification":"personal_transport","focus":"Exploration","rsiId":47,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"3d530c6c-ba21-49c7-bb1b-cfa5fb3943aa","name":"Exploration"},"hardpoints":[{"name":"Main","hardpointClass":null,"rating":5,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"Arc Elite 500","size":null,"type":"ordnance"}},{"name":"Main","hardpointClass":null,"rating":5,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"Arc Elite 500","size":null,"type":"ordnance"}},{"name":"Main","hardpointClass":null,"rating":5,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"Arc Elite 500","size":null,"type":"ordnance"}},{"name":"Main","hardpointClass":null,"rating":5,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"Arc Elite 500","size":null,"type":"ordnance"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Maneuvering","hardpointClass":null,"rating":3,"maxSize":null,"quantity":null,"categoryName":"Propulsion","categorySlug":"propulsion","component":{"name":"TM-8 RollFlex","size":null,"type":"thruster"}},{"name":"Nacelles","hardpointClass":"2","rating":null,"maxSize":4,"quantity":1,"categoryName":"Ordnance","categorySlug":"ordnance","component":{"name":"M5A laser","size":"3","type":"ordnance"}},{"name":"Nacelles","hardpointClass":"2","rating":null,"maxSize":4,"quantity":1,"categoryName":"Ordnance","categorySlug":"ordnance","component":{"name":"M5A laser","size":"3","type":"ordnance"}},{"name":"Nacelles","hardpointClass":"2","rating":null,"maxSize":4,"quantity":1,"categoryName":"Ordnance","categorySlug":"ordnance","component":{"name":"M5A laser","size":"3","type":"ordnance"}},{"name":"Nacelles","hardpointClass":"2","rating":null,"maxSize":4,"quantity":1,"categoryName":"Ordnance","categorySlug":"ordnance","component":{"name":"M5A laser","size":"3","type":"ordnance"}},{"name":"Top-Loading","hardpointClass":"3","rating":null,"maxSize":2,"quantity":10,"categoryName":"Ordnance","categorySlug":"ordnance","component":{"name":"S2 Missile Rack","size":"2","type":"ordnance"}},{"name":"Top-Loading","hardpointClass":"3","rating":null,"maxSize":2,"quantity":10,"categoryName":"Ordnance","categorySlug":"ordnance","component":{"name":"S2 Missile Rack","size":"2","type":"ordnance"}},{"name":"Lower Twin Turret","hardpointClass":"5","rating":null,"maxSize":4,"quantity":2,"categoryName":"Ordnance","categorySlug":"ordnance","component":{"name":"CF-337 Rhino","size":"4","type":"ordnance"}},{"name":"Power Plant","hardpointClass":null,"rating":null,"maxSize":6,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"Etoile 55","size":"5","type":"powerplant"}},{"name":"Shield","hardpointClass":null,"rating":null,"maxSize":6,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"6S7A","size":"5","type":"shieldgenerator"}},{"name":"Additional","hardpointClass":null,"rating":null,"maxSize":null,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"Jump Engine","size":"1","type":"other"}},{"name":"Rover","hardpointClass":null,"rating":null,"maxSize":null,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"Ursa Rover","size":null,"type":"other"}},{"name":"Additional","hardpointClass":null,"rating":null,"maxSize":null,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"Expanded Fuel Tank","size":"1","type":"other"}},{"name":"Additional","hardpointClass":null,"rating":null,"maxSize":null,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"Long Range Scanner","size":"1","type":"other"}},{"name":"Additional","hardpointClass":null,"rating":null,"maxSize":null,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"Jump point navigation sensors","size":null,"type":"other"}},{"name":"Additional","hardpointClass":null,"rating":null,"maxSize":null,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"Jump point navigation sensors","size":null,"type":"other"}},{"name":"Snub fighter","hardpointClass":null,"rating":null,"maxSize":null,"quantity":null,"categoryName":"Modular","categorySlug":"modular","component":{"name":"P-52 Merlin close range fighter","size":"1","type":"other"}}],"images":[{"id":"f6eaa8a4-0f3d-4356-952c-f297cf49c4a7","name":"Constellation_Rover_Back_Bhasin_02.png","url":"http://api.fleetyards.dev/uploads/image/name/f6eaa8a4-0f3d-4356-952c-f297cf49c4a7/Constellation_Rover_Back_Bhasin_02.png","type":"image/png","small":{"url":"http://api.fleetyards.dev/uploads/image/name/f6eaa8a4-0f3d-4356-952c-f297cf49c4a7/small_Constellation_Rover_Back_Bhasin_02.png"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/f6eaa8a4-0f3d-4356-952c-f297cf49c4a7/big_Constellation_Rover_Back_Bhasin_02.png"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/f6eaa8a4-0f3d-4356-952c-f297cf49c4a7/dark_Constellation_Rover_Back_Bhasin_02.png"},"createdAt":"2016-12-27T18:41:12.499+01:00","updatedAt":"2016-12-27T18:42:14.900+01:00"},{"id":"9d4c4a0b-7cd8-4549-b635-e0b34112728f","name":"Aquila_lasers.jpg","url":"http://api.fleetyards.dev/uploads/image/name/9d4c4a0b-7cd8-4549-b635-e0b34112728f/Aquila_lasers.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/9d4c4a0b-7cd8-4549-b635-e0b34112728f/small_Aquila_lasers.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/9d4c4a0b-7cd8-4549-b635-e0b34112728f/big_Aquila_lasers.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/9d4c4a0b-7cd8-4549-b635-e0b34112728f/dark_Aquila_lasers.jpg"},"createdAt":"2016-12-27T18:41:46.516+01:00","updatedAt":"2016-12-27T18:42:16.188+01:00"},{"id":"5ec296d8-776e-4e91-835b-494f1e14cc6f","name":"Aquila_Front-Left.jpg","url":"http://api.fleetyards.dev/uploads/image/name/5ec296d8-776e-4e91-835b-494f1e14cc6f/Aquila_Front-Left.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/5ec296d8-776e-4e91-835b-494f1e14cc6f/small_Aquila_Front-Left.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/5ec296d8-776e-4e91-835b-494f1e14cc6f/big_Aquila_Front-Left.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/5ec296d8-776e-4e91-835b-494f1e14cc6f/dark_Aquila_Front-Left.jpg"},"createdAt":"2016-12-27T18:41:53.726+01:00","updatedAt":"2016-12-27T18:42:17.314+01:00"},{"id":"96a38168-26a6-49bc-b5e2-2a9385ee6705","name":"Aquila_Back-Left.jpg","url":"http://api.fleetyards.dev/uploads/image/name/96a38168-26a6-49bc-b5e2-2a9385ee6705/Aquila_Back-Left.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/96a38168-26a6-49bc-b5e2-2a9385ee6705/small_Aquila_Back-Left.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/96a38168-26a6-49bc-b5e2-2a9385ee6705/big_Aquila_Back-Left.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/96a38168-26a6-49bc-b5e2-2a9385ee6705/dark_Aquila_Back-Left.jpg"},"createdAt":"2016-12-27T18:42:15.257+01:00","updatedAt":"2016-12-27T18:42:41.102+01:00"},{"id":"91a86bc4-38dd-4976-a7cc-bd62262371e9","name":"Constellation_Rover_Front_Bhasin_01.png","url":"http://api.fleetyards.dev/uploads/image/name/91a86bc4-38dd-4976-a7cc-bd62262371e9/Constellation_Rover_Front_Bhasin_01.png","type":"image/png","small":{"url":"http://api.fleetyards.dev/uploads/image/name/91a86bc4-38dd-4976-a7cc-bd62262371e9/small_Constellation_Rover_Front_Bhasin_01.png"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/91a86bc4-38dd-4976-a7cc-bd62262371e9/big_Constellation_Rover_Front_Bhasin_01.png"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/91a86bc4-38dd-4976-a7cc-bd62262371e9/dark_Constellation_Rover_Front_Bhasin_01.png"},"createdAt":"2016-12-27T18:40:58.356+01:00","updatedAt":"2016-12-27T18:42:14.837+01:00"},{"id":"bbf740cc-9c6d-43e2-b811-d20f57b0869b","name":"Aquila-JP-Sensors2.jpg","url":"http://api.fleetyards.dev/uploads/image/name/bbf740cc-9c6d-43e2-b811-d20f57b0869b/Aquila-JP-Sensors2.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/bbf740cc-9c6d-43e2-b811-d20f57b0869b/small_Aquila-JP-Sensors2.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/bbf740cc-9c6d-43e2-b811-d20f57b0869b/big_Aquila-JP-Sensors2.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/bbf740cc-9c6d-43e2-b811-d20f57b0869b/dark_Aquila-JP-Sensors2.jpg"},"createdAt":"2016-12-27T18:41:17.085+01:00","updatedAt":"2016-12-27T18:42:15.656+01:00"},{"id":"6176fa87-aa4e-4ee3-ae29-07806228f201","name":"Aquila_Front.jpg","url":"http://api.fleetyards.dev/uploads/image/name/6176fa87-aa4e-4ee3-ae29-07806228f201/Aquila_Front.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/6176fa87-aa4e-4ee3-ae29-07806228f201/small_Aquila_Front.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/6176fa87-aa4e-4ee3-ae29-07806228f201/big_Aquila_Front.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/6176fa87-aa4e-4ee3-ae29-07806228f201/dark_Aquila_Front.jpg"},"createdAt":"2016-12-27T18:41:46.870+01:00","updatedAt":"2016-12-27T18:42:16.763+01:00"},{"id":"bcbb42d0-8146-4da2-a1b5-e41d733a1f0a","name":"Aquila_Turret.jpg","url":"http://api.fleetyards.dev/uploads/image/name/bcbb42d0-8146-4da2-a1b5-e41d733a1f0a/Aquila_Turret.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/bcbb42d0-8146-4da2-a1b5-e41d733a1f0a/small_Aquila_Turret.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/bcbb42d0-8146-4da2-a1b5-e41d733a1f0a/big_Aquila_Turret.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/bcbb42d0-8146-4da2-a1b5-e41d733a1f0a/dark_Aquila_Turret.jpg"},"createdAt":"2016-12-27T18:42:07.349+01:00","updatedAt":"2016-12-27T18:42:18.716+01:00"},{"id":"3f16ddee-3557-4929-897d-f014f16973c9","name":"Aquila_Engines.jpg","url":"http://api.fleetyards.dev/uploads/image/name/3f16ddee-3557-4929-897d-f014f16973c9/Aquila_Engines.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/3f16ddee-3557-4929-897d-f014f16973c9/small_Aquila_Engines.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/3f16ddee-3557-4929-897d-f014f16973c9/big_Aquila_Engines.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/3f16ddee-3557-4929-897d-f014f16973c9/dark_Aquila_Engines.jpg"},"createdAt":"2016-12-27T18:42:08.235+01:00","updatedAt":"2016-12-27T18:42:40.431+01:00"},{"id":"0c275a72-0adb-4337-9d32-e1f75e2d242a","name":"Aquila_Cargo_Bay.jpg","url":"http://api.fleetyards.dev/uploads/image/name/0c275a72-0adb-4337-9d32-e1f75e2d242a/Aquila_Cargo_Bay.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/0c275a72-0adb-4337-9d32-e1f75e2d242a/small_Aquila_Cargo_Bay.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/0c275a72-0adb-4337-9d32-e1f75e2d242a/big_Aquila_Cargo_Bay.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/0c275a72-0adb-4337-9d32-e1f75e2d242a/dark_Aquila_Cargo_Bay.jpg"},"createdAt":"2016-12-27T18:42:13.465+01:00","updatedAt":"2016-12-27T18:42:40.675+01:00"},{"id":"f5dab762-ad1a-4fb7-a369-a23ddd63969b","name":"Aquila_InFlight.jpg","url":"http://api.fleetyards.dev/uploads/image/name/f5dab762-ad1a-4fb7-a369-a23ddd63969b/Aquila_InFlight.jpg","type":"image/jpeg","small":{"url":"http://api.fleetyards.dev/uploads/image/name/f5dab762-ad1a-4fb7-a369-a23ddd63969b/small_Aquila_InFlight.jpg"},"big":{"url":"http://api.fleetyards.dev/uploads/image/name/f5dab762-ad1a-4fb7-a369-a23ddd63969b/big_Aquila_InFlight.jpg"},"dark":{"url":"http://api.fleetyards.dev/uploads/image/name/f5dab762-ad1a-4fb7-a369-a23ddd63969b/dark_Aquila_InFlight.jpg"},"createdAt":"2016-12-27T18:42:34.021+01:00","updatedAt":"2016-12-27T18:42:41.548+01:00"}],"videos":[],"createdAt":"2014-10-04T23:46:46.391+02:00","updatedAt":"2017-08-29T00:05:05.964+02:00"}


# GET /v1/ships/latest

+ Request

    + Headers

            Accept: application/json



+ Response 200 (application/json; charset=utf-8)

    + Headers

            Vary: Origin
            Set-Cookie: _app_session=a0FkUFlvWWhFdkhmcVZ1L1Voemh1dEZiU1JEaDdmSnFpQXIzL3BnNUI3T2ZOSjBhT3lxMkdDcEZvNmY1KzZFRjRaLzZKQkdUK2lPTlV1YVladXpmd2c9PS0tY0V4cit0Y0s0dlYyM3hiS2dPaGpndz09--f3ee927376439224bb9f88ea4041c0b940657de9; path=/; HttpOnly
            X-XSS-Protection: 1; mode=block
            Transfer-Encoding: chunked
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: 70939e65-101f-4581-992a-ece19e6bb67a
            X-Rack-CORS: miss; no-origin
            X-Content-Type-Options: nosniff
            Etag: W/"a035e6fc5b37081d91e07dfa4b672948"
            X-Frame-Options: SAMEORIGIN

    + Body

            [{"id":"4a624dcc-5e61-4166-822a-2d918edc5910","name":"300i","slug":"300i","description":"If you're going to travel the stars... why not do it in style? The 300i is Origin Jumpworks' premiere luxury spacecraft. It is a sleek, silver killer that sends as much of a message with its silhouette as it does with its weaponry.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"4","netCargo":"","crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/4a624dcc-5e61-4166-822a-2d918edc5910/300i_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/300i","price":"53.21","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"personal_transport","focus":"Touring","rsiId":7,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"936d109d-f413-4665-b072-911565beb08b","name":"Touring"},"createdAt":"2014-10-04T23:45:27.976+02:00","updatedAt":"2017-08-28T23:37:39.926+02:00"},{"id":"44ebab77-3856-40da-9162-4774aa8c27f5","name":"315p","slug":"315p","description":"Exploration is man's highest calling. Prepare to chart distant horizons with man's most sophisticated piece of technology, the ORIGIN 315p. Featuring a more robust power plant and a custom scanning package, exclusively designed by Chimera Communications.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"6","netCargo":null,"crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/44ebab77-3856-40da-9162-4774aa8c27f5/315p_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/315p","price":"62.89","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"personal_transport","focus":"Exploration","rsiId":8,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"3d530c6c-ba21-49c7-bb1b-cfa5fb3943aa","name":"Exploration"},"createdAt":"2014-10-04T23:45:33.797+02:00","updatedAt":"2017-08-19T00:01:21.223+02:00"},{"id":"edb8782f-023e-4259-be7e-5b870905c2ea","name":"325a","slug":"325a","description":"Just because it's a rough galaxy doesn't mean you need to sacrifice your comfort: the 325a can come out on top in any dogfight. The 325a features an advanced weapon payload as well as a custom targeting system designed especially for the 325a by WillsOp.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"4","netCargo":null,"crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/edb8782f-023e-4259-be7e-5b870905c2ea/325a_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/325a","price":"67.72","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"fighter","focus":"Interdiction","rsiId":9,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"e6ed3483-ad54-4ada-aa37-20c9ad941933","name":"Interdiction"},"createdAt":"2014-10-04T23:45:40.655+02:00","updatedAt":"2017-08-19T00:01:25.386+02:00"},{"id":"842dba34-fe76-41eb-a4fe-05ee6b33991f","name":"350r","slug":"350r","description":"The combination of a Gangleri BP 707 Standard powerplant with a 300i fuselage re-engineered to accommodate twin Hammer Propulsion HM 4.3 thrusters makes the 350r the fastest personal craft you'll ever call your own.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"0","netCargo":null,"crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/842dba34-fe76-41eb-a4fe-05ee6b33991f/350r_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/350r","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":4,"shieldSize":3,"classification":"personal_transport","focus":"Racing","rsiId":10,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"74e1bf8b-5025-4922-a54d-8d1a91f4cf79","name":"Racing"},"createdAt":"2014-10-04T23:45:49.860+02:00","updatedAt":"2017-08-19T00:01:27.034+02:00"},{"id":"dac63e16-788f-4f4d-ba2f-17fb00fbef42","name":"85X","slug":"85x","description":"Elegantly styled and meticulously constructed, the 85X is a versatile and comprehensive away-vessel that features precision control in and out of atmosphere. Utilizing much of the same thruster technology as the 300 series, it has the power of a racer with the reliability of a touring ship. Whether descending down to the planet surface or taking in the sights of your system, this runabout continues Origin’s proud tradition of turning heads.\n","length":"13.000","beam":"10.000","height":"2.000","mass":"80","cargo":"0","netCargo":null,"crew":"2","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/dac63e16-788f-4f4d-ba2f-17fb00fbef42/85_X_city_shot.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/85x/85X","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":1,"shieldSize":1,"classification":"vehicle","focus":"Snub Fighter","rsiId":123,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"4427e6fd-4153-4a5e-8c0b-135e5c106f01","name":"Snub Fighter"},"createdAt":"2016-12-26T01:36:49.324+01:00","updatedAt":"2017-08-18T23:01:42.608+02:00"},{"id":"b079081f-7faf-4ded-97e5-392cace50708","name":"890 JUMP","slug":"890-jump","description":"With an elegant, sleek exterior that belies its spacious interior, the 890 Jump is a true engineering marvel; crafted to impress from every angle by combining a unique, innovative design with the finest materials and the most advanced technology. The result is a vessel that is in a class all of its own, a masterpiece worthy of the name ORIGIN.","length":"123.000","beam":"48.000","height":"24.000","mass":"2025","cargo":"360","netCargo":null,"crew":"5","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/b079081f-7faf-4ded-97e5-392cace50708/890_beautyShot-Concept_V01High_NF_140709.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/890-jump/890-JUMP","price":"0.0","onSale":false,"productionStatus":"in-production","productionNote":"Waiting for resources to start modeling","powerplantSize":6,"shieldSize":6,"classification":"personal_transport","focus":"Luxury Touring","rsiId":55,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"e0470a82-536f-4fc1-8d39-7755185fce73","name":"Luxury Touring"},"createdAt":"2015-01-09T20:52:00.246+01:00","updatedAt":"2017-08-18T23:01:11.957+02:00"},{"id":"52b47e30-6992-42f1-ad3c-b602c55081e6","name":"Aegis Eclipse","slug":"aegis-eclipse","description":null,"length":"21.000","beam":"25.000","height":"4.250","mass":"170","cargo":"0","netCargo":null,"crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/52b47e30-6992-42f1-ad3c-b602c55081e6/Aegis-Eclipse-L4-Piece-2-Hangar-Presentation-007.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/eclipse/Aegis-Eclipse","price":"0.0","onSale":false,"productionStatus":"announced","productionNote":null,"powerplantSize":1,"shieldSize":1,"classification":"bomber","focus":"Stealth Bomber","rsiId":130,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"f20b9ae0-fd83-4bc2-827b-334f75449733","name":null},"createdAt":"2017-05-19T22:15:55.805+02:00","updatedAt":"2017-06-14T21:46:01.087+02:00"},{"id":"0065a686-54bd-4cd1-810a-88b25bbb181e","name":"Aurora CL","slug":"aurora-cl","description":"Customized for mercantile and trading excursions, the Aurora Clipper is the perfect vessel for aspiring entrepreneurs and seasoned traders alike. Swapping a smaller power plant and armor capabilities for an expanded cargo capacity, the Clipper ups the ante for personal merchant craft.","length":"18.500","beam":"8.250","height":"4.100","mass":"75","cargo":"23","netCargo":null,"crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/0065a686-54bd-4cd1-810a-88b25bbb181e/Rsi_aurora_cl_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-CL","price":"43.54","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"cargo","focus":"Mercantile","rsiId":5,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"aeb2dda6-4860-4fab-a5e7-98f161a44361","name":"Mercantile"},"createdAt":"2014-10-04T23:45:16.227+02:00","updatedAt":"2017-08-19T00:01:02.585+02:00"},{"id":"e755aaf7-46b2-4af2-a53f-424969ea7fcc","name":"Aurora ES","slug":"aurora-es","description":"The Aurora is the modern day descendant of the Roberts Space Industries X-7 spacecraft which tested the very first jump engines. Utilitarian to a T, the Aurora is the perfect beginner's ship: what it lacks in style it makes up for in ample room for upgrade modules.\n","length":"18.500","beam":"8.250","height":"4.100","mass":"75","cargo":"13","netCargo":null,"crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/e755aaf7-46b2-4af2-a53f-424969ea7fcc/Rsi_aurora_es_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-ES","price":"19.35","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":2,"classification":"personal_transport","focus":"Starter/Exploration","rsiId":1,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"3f31be38-6cc4-42a0-bbfb-ca9ea78d9bf5","name":"Starter/Exploration"},"createdAt":"2014-10-04T23:44:55.606+02:00","updatedAt":"2017-08-19T00:00:50.552+02:00"},{"id":"1fa66cd7-c312-4514-a945-26251bac0cdf","name":"Aurora LN","slug":"aurora-ln","description":"With a more robust shield generator and a pair of additional weapon hard points, the Legionnaire is a dedicated combat fighter, built to handle any obstacle the universe can throw at you.","length":"18.500","beam":"8.250","height":"5.000","mass":"83","cargo":"13","netCargo":null,"crew":"1","storeImage":"http://api.fleetyards.dev/uploads/ship/store_image/1fa66cd7-c312-4514-a945-26251bac0cdf/Rsi_aurora_ln_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-LN","price":"33.86","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"fighter","focus":"Militia/Patrol","rsiId":6,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"33153296-5611-4428-9159-4ce9e53ae049","name":"Militia/Patrol"},"createdAt":"2014-10-04T23:45:22.270+02:00","updatedAt":"2017-08-19T00:01:07.176+02:00"}]


# GET /v1/ships/updated?from=2017-05-01

+ Request

    + Headers

            Accept: application/json



+ Response 200 (application/json; charset=utf-8)

    + Headers

            X-Frame-Options: SAMEORIGIN
            Vary: Origin
            X-XSS-Protection: 1; mode=block
            Transfer-Encoding: chunked
            Referrer-Policy: origin
            Cache-Control: max-age=0, private, must-revalidate
            X-Request-Id: a7d626bb-269e-469e-ad54-c8741a72c1a1
            Strict-Transport-Security: max-age=15552000; includeSubDomains
            X-Rack-CORS: miss; no-origin
            Public-Key-Pins: max-age=5184000; pin-sha256="/tmaW9tII9SgmV1hGTA6jVIsKicFjdzM3B8JeBt0UAs="; pin-sha256="YLh1dUR9y6Kja30RrAn7JKnbQG/uEtLMkBgFF2Fuihg="; pin-sha256="Vjs8r4z+80wjNcr1YKepWQboSIRi63WsWXhIMN+eWys="; includeSubDomains
            X-Content-Type-Options: nosniff
            Etag: W/"08e5f983c23e4a931e8fc36af2d79e35"

    + Body

            [{"id":"4a624dcc-5e61-4166-822a-2d918edc5910","name":"300i","slug":"300i","inHangar":false,"description":"If you're going to travel the stars... why not do it in style? The 300i is Origin Jumpworks' premiere luxury spacecraft. It is a sleek, silver killer that sends as much of a message with its silhouette as it does with its weaponry.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"4","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/4a624dcc-5e61-4166-822a-2d918edc5910/300i_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/300i","price":"55.0","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"personal_transport","focus":"Touring","rsiId":7,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"4716966d-72eb-40f8-9663-15d2ffd59d9b","name":"Touring"},"createdAt":"2014-10-04T23:45:27.976+02:00","updatedAt":"2017-08-26T04:00:51.819+02:00"},{"id":"44ebab77-3856-40da-9162-4774aa8c27f5","name":"315p","slug":"315p","inHangar":false,"description":"Exploration is man's highest calling. Prepare to chart distant horizons with man's most sophisticated piece of technology, the ORIGIN 315p. Featuring a more robust power plant and a custom scanning package, exclusively designed by Chimera Communications.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"6","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/44ebab77-3856-40da-9162-4774aa8c27f5/315p_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/315p","price":"65.0","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"personal_transport","focus":"Exploration","rsiId":8,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"c53ba747-bbdb-4768-aa08-2521ef1f1f1e","name":"Exploration"},"createdAt":"2014-10-04T23:45:33.797+02:00","updatedAt":"2017-08-26T04:00:54.384+02:00"},{"id":"edb8782f-023e-4259-be7e-5b870905c2ea","name":"325a","slug":"325a","inHangar":false,"description":"Just because it's a rough galaxy doesn't mean you need to sacrifice your comfort: the 325a can come out on top in any dogfight. The 325a features an advanced weapon payload as well as a custom targeting system designed especially for the 325a by WillsOp.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"4","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/edb8782f-023e-4259-be7e-5b870905c2ea/325a_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/325a","price":"70.0","onSale":true,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":3,"shieldSize":3,"classification":"fighter","focus":"Interdiction","rsiId":9,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"a0b73e8b-51a9-4033-af5b-afc3c910ffec","name":"Interdiction"},"createdAt":"2014-10-04T23:45:40.655+02:00","updatedAt":"2017-08-26T04:00:56.448+02:00"},{"id":"842dba34-fe76-41eb-a4fe-05ee6b33991f","name":"350r","slug":"350r","inHangar":false,"description":"The combination of a Gangleri BP 707 Standard powerplant with a 300i fuselage re-engineered to accommodate twin Hammer Propulsion HM 4.3 thrusters makes the 350r the fastest personal craft you'll ever call your own.","length":"24.000","beam":"16.000","height":"7.000","mass":"200","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/842dba34-fe76-41eb-a4fe-05ee6b33991f/350r_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/origin-300/350r","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":"Update Pass Scheduled","powerplantSize":4,"shieldSize":3,"classification":"personal_transport","focus":"Racing","rsiId":10,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"f5c9dfb0-03df-48e0-9817-29ee7b712279","name":"Racing"},"createdAt":"2014-10-04T23:45:49.860+02:00","updatedAt":"2017-08-26T01:00:31.109+02:00"},{"id":"dac63e16-788f-4f4d-ba2f-17fb00fbef42","name":"85X","slug":"85x","inHangar":false,"description":"Elegantly styled and meticulously constructed, the 85X is a versatile and comprehensive away-vessel that features precision control in and out of atmosphere. Utilizing much of the same thruster technology as the 300 series, it has the power of a racer with the reliability of a touring ship. Whether descending down to the planet surface or taking in the sights of your system, this runabout continues Origin’s proud tradition of turning heads.\n","length":"13.000","beam":"10.000","height":"2.000","mass":"80","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/dac63e16-788f-4f4d-ba2f-17fb00fbef42/85_X_city_shot.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/85x/85X","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":1,"shieldSize":1,"classification":"vehicle","focus":"Snub Fighter","rsiId":123,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"38850576-c8f3-4aef-9223-95ef26141575","name":"Snub Fighter"},"createdAt":"2016-12-26T01:36:49.324+01:00","updatedAt":"2017-08-26T01:01:14.303+02:00"},{"id":"b079081f-7faf-4ded-97e5-392cace50708","name":"890 JUMP","slug":"890-jump","inHangar":false,"description":"With an elegant, sleek exterior that belies its spacious interior, the 890 Jump is a true engineering marvel; crafted to impress from every angle by combining a unique, innovative design with the finest materials and the most advanced technology. The result is a vessel that is in a class all of its own, a masterpiece worthy of the name ORIGIN.","length":"123.000","beam":"48.000","height":"24.000","mass":"2025","cargo":"360","crew":"5","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/b079081f-7faf-4ded-97e5-392cace50708/890_beautyShot-Concept_V01High_NF_140709.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/890-jump/890-JUMP","price":"0.0","onSale":false,"productionStatus":"in-production","productionNote":"Waiting for resources to start modeling","powerplantSize":6,"shieldSize":6,"classification":"personal_transport","focus":"Luxury Touring","rsiId":55,"manufacturer":{"id":"4052e7cf-5451-4a9f-a7e2-797daa26ccd8","name":"Origin Jumpworks GmbH"},"shipRole":{"id":"0f21a26a-f10c-4fe2-86c4-65204abddade","name":"Luxury Touring"},"createdAt":"2015-01-09T20:52:00.246+01:00","updatedAt":"2017-08-26T01:00:52.918+02:00"},{"id":"52b47e30-6992-42f1-ad3c-b602c55081e6","name":"Aegis Eclipse","slug":"aegis-eclipse","inHangar":false,"description":null,"length":"21.000","beam":"25.000","height":"4.250","mass":"170","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/52b47e30-6992-42f1-ad3c-b602c55081e6/Aegis-Eclipse-L4-Piece-2-Hangar-Presentation-007.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/eclipse/Aegis-Eclipse","price":"0.0","onSale":false,"productionStatus":"announced","productionNote":null,"powerplantSize":1,"shieldSize":1,"classification":"bomber","focus":"Stealth Bomber","rsiId":130,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"f20b9ae0-fd83-4bc2-827b-334f75449733","name":null},"createdAt":"2017-05-19T22:15:55.805+02:00","updatedAt":"2017-06-14T21:46:01.087+02:00"},{"id":"0065a686-54bd-4cd1-810a-88b25bbb181e","name":"Aurora CL","slug":"aurora-cl","inHangar":false,"description":"Customized for mercantile and trading excursions, the Aurora Clipper is the perfect vessel for aspiring entrepreneurs and seasoned traders alike. Swapping a smaller power plant and armor capabilities for an expanded cargo capacity, the Clipper ups the ante for personal merchant craft.","length":"18.500","beam":"8.250","height":"4.100","mass":"75","cargo":"23","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/0065a686-54bd-4cd1-810a-88b25bbb181e/Rsi_aurora_cl_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-CL","price":"45.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"cargo","focus":"Mercantile","rsiId":5,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"3b99a80e-61da-48e7-a444-5fbfde57fc87","name":"Mercantile"},"createdAt":"2014-10-04T23:45:16.227+02:00","updatedAt":"2017-08-26T01:00:26.749+02:00"},{"id":"e755aaf7-46b2-4af2-a53f-424969ea7fcc","name":"Aurora ES","slug":"aurora-es","inHangar":false,"description":"The Aurora is the modern day descendant of the Roberts Space Industries X-7 spacecraft which tested the very first jump engines. Utilitarian to a T, the Aurora is the perfect beginner's ship: what it lacks in style it makes up for in ample room for upgrade modules.\n","length":"18.500","beam":"8.250","height":"4.100","mass":"75","cargo":"13","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/e755aaf7-46b2-4af2-a53f-424969ea7fcc/Rsi_aurora_es_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-ES","price":"20.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":2,"classification":"personal_transport","focus":"Starter/Exploration","rsiId":1,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"ffe087ff-5ec8-4d77-b23f-fafe184fea8a","name":"Starter/Exploration"},"createdAt":"2014-10-04T23:44:55.606+02:00","updatedAt":"2017-08-26T01:00:23.178+02:00"},{"id":"1fa66cd7-c312-4514-a945-26251bac0cdf","name":"Aurora LN","slug":"aurora-ln","inHangar":true,"description":"With a more robust shield generator and a pair of additional weapon hard points, the Legionnaire is a dedicated combat fighter, built to handle any obstacle the universe can throw at you.","length":"18.500","beam":"8.250","height":"5.000","mass":"83","cargo":"13","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/1fa66cd7-c312-4514-a945-26251bac0cdf/Rsi_aurora_ln_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-LN","price":"35.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"fighter","focus":"Militia/Patrol","rsiId":6,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"cd5b6591-9dc6-4728-91c8-d45c4a5d03b2","name":"Militia/Patrol"},"createdAt":"2014-10-04T23:45:22.270+02:00","updatedAt":"2017-08-26T01:00:28.202+02:00"},{"id":"701a6013-7f0e-4c4d-b835-58f4bc0f5028","name":"Aurora LX","slug":"aurora-lx","inHangar":false,"description":"Be proud of your roots with the brand-new Aurora Deluxe, built for the discerning pilot who never forgets where he or she came from. The LX features patent leather interior to guarantee comfort for those long stretches in the deep black.","length":"18.500","beam":"8.250","height":"4.100","mass":"75","cargo":"13","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/701a6013-7f0e-4c4d-b835-58f4bc0f5028/Lx.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-LX","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":2,"classification":"personal_transport","focus":"Exploration/Light Mercantile","rsiId":3,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"c0560d36-aa47-4663-b6f3-1dc85a434e0a","name":"Exploration/Light Mercantile"},"createdAt":"2014-10-04T23:45:02.676+02:00","updatedAt":"2017-08-26T01:00:23.830+02:00"},{"id":"5182cac5-a365-4e02-831a-773c79026407","name":"Aurora MR","slug":"aurora-mr","inHangar":false,"description":"Perhaps you're looking for something that offers carrying capacity but has combat capabilities too? The Aurora Marque comes with a pair of Behring-quality lasers and a high quality gun cooler system.","length":"18.500","beam":"8.250","height":"4.100","mass":"75","cargo":"13","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/5182cac5-a365-4e02-831a-773c79026407/Rsi_aurora_mr_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-aurora/Aurora-MR","price":"45.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"personal_transport","focus":"Interdiction","rsiId":4,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"a0b73e8b-51a9-4033-af5b-afc3c910ffec","name":"Interdiction"},"createdAt":"2014-10-04T23:45:09.213+02:00","updatedAt":"2017-08-26T01:00:25.377+02:00"},{"id":"c831879f-b89a-4081-b7e8-2006d1351a98","name":"Avenger Stalker","slug":"avenger-stalker","inHangar":false,"description":"Initially designed as Aegis’ frontline carrier ship for the military, the Avenger Stalker took a different path, ultimately having a long and storied career as the standard patrol craft of the UEE Advocacy. Utilizing its cargo hold for prisoner transport, the Avenger features a sturdy, reliable hull and the capacity for larger-than-expected engine mounts. *This is the standard Avenger chassis with the Stalker Prisoner Transport module pre-installed.*","length":"19.000","beam":"14.250","height":"5.400","mass":"185","cargo":"4","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/c831879f-b89a-4081-b7e8-2006d1351a98/Avenger_storefront_visualjpg.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/aegis-avenger/Avenger-Stalker","price":"75.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":3,"classification":"fighter","focus":"Interceptor/Bounty Hunting","rsiId":100,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"238b615f-a7c4-44e8-b892-32d1d8220247","name":"Interceptor/Bounty Hunting"},"createdAt":"2016-12-26T01:34:08.530+01:00","updatedAt":"2017-08-26T01:00:42.509+02:00"},{"id":"cabcdeec-8af1-4cd9-b403-041f008fedff","name":"Avenger Titan","slug":"avenger-titan","inHangar":false,"description":"Lacking the Prisoner Cells of the Stalker or the EMP Generator of the Warlock, the Titan’s hold is free to carry cargo. Couple that available space with the Avenger’s tried and true combat abilities and you’ve got a light cargo hauler that’s more than capable of handling itself in a fight.\n\n*This is the standard Avenger chassis with the Titan Cargo Module pre-installed.*","length":"19.000","beam":"14.250","height":"5.400","mass":"185","cargo":"4","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/cabcdeec-8af1-4cd9-b403-041f008fedff/Avenger_cargo_right.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/aegis-avenger/Avenger-Titan","price":"50.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":3,"classification":"cargo","focus":"Light Cargo Hauler","rsiId":102,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"343ff3e9-014a-40f3-a559-936533ceec46","name":"Light Cargo Hauler"},"createdAt":"2016-12-26T01:34:17.596+01:00","updatedAt":"2017-08-26T01:00:44.391+02:00"},{"id":"69afbbd6-971d-48e5-abb5-7f3568f3d0a3","name":"Avenger Titan Renegade","slug":"avenger-titan-renegade","inHangar":false,"description":"Created as part of the ‘Masters of Flight’ series in conjunction with the flight-sim Arena Commander, the Renegade pays tribute to famed pilot Danny Solomon for his notable work with the Advocacy to bring justice to Bremen. This Avenger Titan comes equipped with a specialized dogfighting focused loadout and a custom special edition livery honoring this iconic ship.\n","length":"19.000","beam":"14.250","height":"5.400","mass":"185","cargo":"4","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/69afbbd6-971d-48e5-abb5-7f3568f3d0a3/Avenger_variant_sale_img.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/aegis-avenger/Avenger-Titan-Renegade","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":3,"classification":"cargo","focus":null,"rsiId":124,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"5c5a0138-a49e-4355-867c-49c63f0cbe92","name":null},"createdAt":"2016-12-26T01:34:11.400+01:00","updatedAt":"2017-08-26T01:00:43.085+02:00"},{"id":"a32caa16-bcc0-40dd-86ff-25fcdaab2e0f","name":"Avenger Warlock","slug":"avenger-warlock","inHangar":false,"description":"The Avenger Warlock was built towards a single design philosophy: stop ships, don’t destroy them. Probably the closest to a non-lethal fighter, the Warlock is outfitted with a Behring REP-8 EMP Generator, capable of emitting a powerful electromagnetic wave to disable any electronics unfortunate enough to be within the blast radius. *This is the standard Avenger chassis with the Warlock EMP module pre-installed.*","length":"19.000","beam":"14.250","height":"5.400","mass":"185","cargo":"4","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/a32caa16-bcc0-40dd-86ff-25fcdaab2e0f/Avenger_storefront_visualjpg.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/aegis-avenger/Avenger-Warlock","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":3,"classification":"fighter","focus":"EMP Warfare","rsiId":101,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"0490cc09-8a00-454c-be11-f2a99adc45dd","name":"EMP Warfare"},"createdAt":"2016-12-26T01:34:15.406+01:00","updatedAt":"2017-08-26T01:00:43.772+02:00"},{"id":"c67f86e3-57d4-4dac-a3e6-9e62e78d4d21","name":"Banu Defender","slug":"banu-defender","inHangar":false,"description":null,"length":"28.000","beam":null,"height":"4.000","mass":"180","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/c67f86e3-57d4-4dac-a3e6-9e62e78d4d21/20170407c-reduced.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/defender/Banu-Defender","price":"0.0","onSale":false,"productionStatus":"announced","productionNote":null,"powerplantSize":1,"shieldSize":1,"classification":"versatile","focus":null,"rsiId":129,"manufacturer":{"id":"8105746f-ab75-441a-a467-89d54636d569","name":"Banu"},"shipRole":{"id":"5c5a0138-a49e-4355-867c-49c63f0cbe92","name":null},"createdAt":"2017-04-22T03:17:00.868+02:00","updatedAt":"2017-06-14T21:45:58.085+02:00"},{"id":"1afe100f-f791-4ca4-9845-e7e611a95b61","name":"Buccaneer","slug":"buccaneer","inHangar":false,"description":"The Buccaneer has been designed from the ground up to fly and fight the way you live. No leather interiors or hyperpillows here: the ‘Bucc is a scrapper designed to maneuver and fight above its weight class. This rough-and-tumble frontier fighter can be maintained in the worst of conditions in order to keep real, working space crews alive.","length":"20.000","beam":"16.000","height":"6.000","mass":"140","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/1afe100f-f791-4ca4-9845-e7e611a95b61/Buc_final120_compFlat.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-buccaneer/Buccaneer","price":"0.0","onSale":false,"productionStatus":"in-production","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"fighter","focus":"Interdiction","rsiId":110,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"a0b73e8b-51a9-4033-af5b-afc3c910ffec","name":"Interdiction"},"createdAt":"2016-12-26T01:36:03.903+01:00","updatedAt":"2017-08-26T01:01:08.929+02:00"},{"id":"30d7486e-324a-4e54-aa95-1c62ec7b36b3","name":"Carrack","slug":"carrack","inHangar":true,"description":"The Anvil Carrack features reinforced fuel tanks for long-duration flight, an advanced jump drive, and a dedicated computer core for jump charting operations. Originally a military exclusive, the Carrack is now available for civilian use. On-board accommodations include crew medical and repair facilities, and a mapping-oriented sensor suite.","length":"123.000","beam":"64.000","height":"25.500","mass":"1800","cargo":"1058","crew":"5","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/30d7486e-324a-4e54-aa95-1c62ec7b36b3/Carrack_Landed_Final_Gurmukh.png","storeUrl":"https://robertsspaceindustries.com/pledge/ships/carrack/Carrack","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":"Concept complete.","powerplantSize":6,"shieldSize":7,"classification":"personal_transport","focus":"Exploration","rsiId":62,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"c53ba747-bbdb-4768-aa08-2521ef1f1f1e","name":"Exploration"},"createdAt":"2015-01-09T20:52:11.251+01:00","updatedAt":"2017-08-26T01:00:53.594+02:00"},{"id":"14da2bb1-ee2c-4477-9127-6e2dbb13562d","name":"Caterpillar","slug":"caterpillar","inHangar":false,"description":"Drake maintains that the Caterpillar, a sprawling, modular spacecraft which appears at least somewhat like its namesake, is for legitimate commerce and extended search and rescue missions... but at the end of the day, the Caterpillar is truly the evil twin of the Freelancer.","length":"66.500","beam":"22.000","height":"14.000","mass":"845","cargo":"512","crew":"5","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/14da2bb1-ee2c-4477-9127-6e2dbb13562d/Cat-Model-Render4.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-caterpillar/Caterpillar","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":"Hull concept complete","powerplantSize":5,"shieldSize":5,"classification":"cargo","focus":"Transport","rsiId":24,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"a8f395fe-2614-4761-aa84-bb88fcaafa4f","name":"Transport"},"createdAt":"2014-10-04T23:48:03.212+02:00","updatedAt":"2017-08-26T01:00:46.291+02:00"},{"id":"f27e1778-95c5-45cd-a336-49603e2105d5","name":"Caterpillar Pirate Edition","slug":"caterpillar-pirate-edition","inHangar":false,"description":null,"length":"66.500","beam":"22.000","height":"14.000","mass":"845","cargo":"512","crew":"5","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/f27e1778-95c5-45cd-a336-49603e2105d5/Pirate_05.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-caterpillar/Caterpillar-Pirate-Edition","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":5,"shieldSize":5,"classification":"cargo","focus":null,"rsiId":125,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"5c5a0138-a49e-4355-867c-49c63f0cbe92","name":null},"createdAt":"2016-12-26T01:34:24.416+01:00","updatedAt":"2017-08-26T01:00:46.702+02:00"},{"id":"dc7f4408-c474-4d54-b105-227991ab64b3","name":"Constellation Andromeda","slug":"constellation-andromeda","inHangar":true,"description":"The Constellation Andromeda, a multi-person freighter, is the most popular ship in RSI's current production array. Constellations are beloved by smugglers and merchants alike because they are modular, high powered... and just downright iconic-looking.","length":"61.100","beam":"26.600","height":"13.400","mass":"805","cargo":"134","crew":"5","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/dc7f4408-c474-4d54-b105-227991ab64b3/Andromeda_Storefront.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-constellation/Constellation-Andromeda","price":"275.0","onSale":true,"productionStatus":"flight-ready","productionNote":"Damage States being mapped","powerplantSize":6,"shieldSize":6,"classification":"versatile","focus":"Multi-Function","rsiId":45,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"1780571d-2d3f-493c-9582-8cf1c7f88280","name":"Multi-Function"},"createdAt":"2014-10-04T23:46:31.454+02:00","updatedAt":"2017-08-26T01:00:36.274+02:00"},{"id":"577769f6-9d1f-4f9a-825b-b2b361490475","name":"Constellation Aquila","slug":"constellation-aquila","inHangar":false,"description":"Explore any distant horizons! The Constellation Aquila features a redesigned cockpit for maximum visibility, advanced sensors and an onboard Ursa rover for planetary exploration. Let’s see what’s out there!","length":"60.100","beam":"26.600","height":"13.400","mass":"805","cargo":"134","crew":"4","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/577769f6-9d1f-4f9a-825b-b2b361490475/Aquila_Storefront.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-constellation/Constellation-Aquila","price":"275.0","onSale":true,"productionStatus":"ready","productionNote":"Damage States being mapped","powerplantSize":6,"shieldSize":6,"classification":"personal_transport","focus":"Exploration","rsiId":47,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"c53ba747-bbdb-4768-aa08-2521ef1f1f1e","name":"Exploration"},"createdAt":"2014-10-04T23:46:46.391+02:00","updatedAt":"2017-08-26T01:00:35.453+02:00"},{"id":"99bd9819-53b9-4589-bf0c-057b678b33c4","name":"Constellation Phoenix","slug":"constellation-phoenix","inHangar":false,"description":"A dedicated luxury spacecraft for the discerning star captain. The Constellation Phoenix can be operated as an organization command ship and features a luxurious redesigned interior. Includes a hidden sensor-dampened area for your most precious cargo.\n\nThe Phoenix comes with a Lynx rover and a Kruger P-72 Archimedes Fighter","length":"61.100","beam":"26.600","height":"13.400","mass":"810","cargo":"66","crew":"4","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/99bd9819-53b9-4589-bf0c-057b678b33c4/Phoenix_Storefront.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-constellation/Constellation-Phoenix","price":"0.0","onSale":false,"productionStatus":"ready","productionNote":"Damage States being mapped","powerplantSize":7,"shieldSize":6,"classification":"versatile","focus":"Luxury Touring","rsiId":49,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"0f21a26a-f10c-4fe2-86c4-65204abddade","name":"Luxury Touring"},"createdAt":"2014-10-04T23:46:54.641+02:00","updatedAt":"2017-08-26T01:00:37.335+02:00"},{"id":"7f41f657-e58f-442a-804a-24c3aebf0ad2","name":"Constellation Taurus","slug":"constellation-taurus","inHangar":false,"description":"Enjoy the adventure of a multi-crew Constellation on a budget! The Constellation Taurus is a dedicated freighter. Fully configurable but without all the bells-and-whistles, the Taurus is a great way to get started with crewed ships.","length":"58.800","beam":"26.600","height":"13.400","mass":"800","cargo":"243","crew":"4","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/7f41f657-e58f-442a-804a-24c3aebf0ad2/Taurus-Storefront.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/rsi-constellation/Constellation-Taurus","price":"150.0","onSale":true,"productionStatus":"ready","productionNote":"Damage States being mapped","powerplantSize":6,"shieldSize":5,"classification":"personal_transport","focus":"Transport","rsiId":46,"manufacturer":{"id":"8967a1d8-85c3-406a-95de-8c0c57d028b2","name":"Roberts Space Industries"},"shipRole":{"id":"a8f395fe-2614-4761-aa84-bb88fcaafa4f","name":"Transport"},"createdAt":"2014-10-04T23:46:39.576+02:00","updatedAt":"2017-08-26T01:00:36.834+02:00"},{"id":"3817abd3-373d-4a54-874e-22a00d03a83d","name":"Crucible","slug":"crucible","inHangar":false,"description":"A so-called “flying toolbox,” the Crucible is Anvil Aerospace’s first dedicated repair ship. Featuring a rotating control bridge and a detachable pressurized workspace,  the Crucible is a versatile mobile garage equipped with repair arms, a drone operation center and all the equipment needed to overhaul a damaged craft back into fighting shape.","length":"80.000","beam":"73.000","height":"16.000","mass":"5255","cargo":"300","crew":"4","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/3817abd3-373d-4a54-874e-22a00d03a83d/AnvilcrucibleREARMAINTENANCE.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/crucible/Crucible","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":"Concept complete.","powerplantSize":null,"shieldSize":null,"classification":"personal_transport","focus":"Repair","rsiId":103,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"da392d75-f7ad-4f71-9f29-e75cbda36086","name":"Repair"},"createdAt":"2016-12-26T01:35:48.412+01:00","updatedAt":"2017-08-26T01:01:06.374+02:00"},{"id":"b94e105b-8b8c-47f0-975c-5e6a3d1a3134","name":"Cutlass Black","slug":"cutlass-black","inHangar":true,"description":"Drake Interplanetary claims that the Cutlass Black is a low-cost, easy-to-maintain solution for local in-system militia units. The larger-than-average cargo hold, RIO seat and dedicated tractor mount are, the company literature insists, for facilitating search and rescue operations.","length":"29.000","beam":"25.000","height":"7.000","mass":"330","cargo":"33","crew":"3","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/b94e105b-8b8c-47f0-975c-5e6a3d1a3134/Drake_cutlass_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-cutlass/Cutlass-Black","price":"115.0","onSale":true,"productionStatus":"flight-ready","productionNote":"Update pass in progress.","powerplantSize":4,"shieldSize":4,"classification":"fighter","focus":"Militia/Patrol","rsiId":56,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"cd5b6591-9dc6-4728-91c8-d45c4a5d03b2","name":"Militia/Patrol"},"createdAt":"2015-01-09T20:51:24.224+01:00","updatedAt":"2017-08-26T01:00:40.696+02:00"},{"id":"f4149555-a8cf-43cd-88c6-79911244187b","name":"Cutlass Blue","slug":"cutlass-blue","inHangar":false,"description":"Sleek, mean, and royal. The Cutlass Blue adds missiles, a more aggressive engine, and Durasteel holding cells in the cargo bay to the standard model. The Cutlass Blue is the outworld militia standard ship of choice for patrols.","length":"29.000","beam":"25.000","height":"7.000","mass":"360","cargo":"33","crew":"3","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/f4149555-a8cf-43cd-88c6-79911244187b/Blue-WR-Orth_000000.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-cutlass/Cutlass-Blue","price":"0.0","onSale":false,"productionStatus":"ready","productionNote":"Update pass scheduled.","powerplantSize":4,"shieldSize":5,"classification":"fighter","focus":"Police","rsiId":58,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"df372a20-1aa4-46e2-bacd-9dc2b3fc1950","name":"Police"},"createdAt":"2015-01-09T20:51:30.518+01:00","updatedAt":"2017-08-26T01:00:41.955+02:00"},{"id":"0b2c40d2-8221-46a6-8837-a241c3031c39","name":"Cutlass Red","slug":"cutlass-red","inHangar":false,"description":"The Cutlass Red converts the standard cargo hold to a well-equiped medical facility including an Autodoc. This starbound ambulance features the Nav-E7 Echo Transponder, a long range scanner, and a Secure Plus Docking Collar, making it ideal for search and rescue. This model also features a unique Red Crossbones skin. ","length":"29.000","beam":"25.000","height":"7.000","mass":"360","cargo":"33","crew":"4","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/0b2c40d2-8221-46a6-8837-a241c3031c39/Slide_Cut-Red.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-cutlass/Cutlass-Red","price":"120.0","onSale":true,"productionStatus":"ready","productionNote":"Update pass scheduled.","powerplantSize":4,"shieldSize":4,"classification":"personal_transport","focus":"Search \u0026 Rescue","rsiId":57,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"f9c1237f-ec86-42e3-85af-ee1f55c97419","name":"Search \u0026 Rescue"},"createdAt":"2015-01-09T20:50:34.014+01:00","updatedAt":"2017-08-26T01:00:41.439+02:00"},{"id":"7705d59b-1fc0-41f2-9e7b-ebcec39baf86","name":"Cyclone","slug":"cyclone","inHangar":false,"description":"The baseline model of the Cyclone features an open flatbed in the back where cargo pieces can be safely secured and transported, making it a perfect transport for homesteads or as a short-range vehicle for planetary deliveries. ","length":"6.000","beam":"4.000","height":"3.000","mass":"10","cargo":"1","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/7705d59b-1fc0-41f2-9e7b-ebcec39baf86/Tumbril-Buggy-Piece-01-Showroom-V009.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/cyclone/Cyclone","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"vehicle","focus":null,"rsiId":134,"manufacturer":{"id":"ab36fb2f-7c81-4f8e-93c9-0a85bafd57d7","name":"Tumbril"},"shipRole":{"id":"5c5a0138-a49e-4355-867c-49c63f0cbe92","name":null},"createdAt":"2017-07-21T22:22:17.103+02:00","updatedAt":"2017-08-26T01:01:18.238+02:00"},{"id":"1c48d9e4-4fc8-4b48-ade9-428bd8e9c907","name":"Cyclone-AA","slug":"cyclone-aa","inHangar":false,"description":"A battlefield equalizer, the Cyclone AA comes equipped with a surface-to-air missile and countermeasure package to provide cover for ground troops against airborne targets","length":"6.000","beam":"4.000","height":"3.000","mass":"10","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/1c48d9e4-4fc8-4b48-ade9-428bd8e9c907/Tumbril-Buggy-Piece-06-Lagoon-V011.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/cyclone/Cyclone-AA","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"vehicle","focus":"SAM-CML","rsiId":138,"manufacturer":{"id":"ab36fb2f-7c81-4f8e-93c9-0a85bafd57d7","name":"Tumbril"},"shipRole":{"id":"5b3bea26-a302-4dbc-ad0a-f6176de8908f","name":"SAM-CML"},"createdAt":"2017-07-21T22:22:32.571+02:00","updatedAt":"2017-08-26T01:01:20.218+02:00"},{"id":"749e0d66-9978-4a41-87f2-45ac1a590766","name":"Cyclone-RC","slug":"cyclone-rc","inHangar":false,"description":"For those who like to push the limits of speed, the Cyclone RC features a modified intake system to allow for controlled bursts of speed as well as tools to customize handling.","length":"6.000","beam":"4.000","height":"3.000","mass":"10","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/749e0d66-9978-4a41-87f2-45ac1a590766/Tumbril-Buggy-Piece-05-Rocky-Beach-Sport-Fin.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/cyclone/Cyclone-RC","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"vehicle","focus":"Racing","rsiId":136,"manufacturer":{"id":"ab36fb2f-7c81-4f8e-93c9-0a85bafd57d7","name":"Tumbril"},"shipRole":{"id":"f5c9dfb0-03df-48e0-9817-29ee7b712279","name":"Racing"},"createdAt":"2017-07-21T22:22:25.449+02:00","updatedAt":"2017-08-26T01:01:19.482+02:00"},{"id":"d54c7696-36a5-4f68-a088-6dbee4ac4b8a","name":"Cyclone-RN","slug":"cyclone-rn","inHangar":false,"description":"Stay mobile and aware with the Cyclone RN. This light reconnaissance vehicle is the perfect solution for scouting runs, providing fast and detailed scans of terrain as well as beacon placement.","length":"6.000","beam":"4.000","height":"3.000","mass":"10","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/d54c7696-36a5-4f68-a088-6dbee4ac4b8a/Tumbril-Buggy-Piece-07-Black-Beach-V012a.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/cyclone/Cyclone-RN","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"vehicle","focus":"Radar/Stealth","rsiId":137,"manufacturer":{"id":"ab36fb2f-7c81-4f8e-93c9-0a85bafd57d7","name":"Tumbril"},"shipRole":{"id":"55d1fb20-db50-4ef3-888d-89e3be01480f","name":"Radar/Stealth"},"createdAt":"2017-07-21T22:22:28.583+02:00","updatedAt":"2017-08-26T01:01:19.893+02:00"},{"id":"b2c63c8b-100d-426b-b3c2-a63297b1c162","name":"Cyclone-TR","slug":"cyclone-tr","inHangar":false,"description":"Designed for militia and security use, the Cyclone TR module features upgraded armor and a single Human-operated turret capable of mounting a Size 1 weapon and a responsive 360° field of fire.","length":"6.000","beam":"4.000","height":"3.000","mass":"10","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/b2c63c8b-100d-426b-b3c2-a63297b1c162/Tumbril-Buggy-Piece-04-Desert-V012.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/cyclone/Cyclone-TR","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"vehicle","focus":null,"rsiId":135,"manufacturer":{"id":"ab36fb2f-7c81-4f8e-93c9-0a85bafd57d7","name":"Tumbril"},"shipRole":{"id":"5c5a0138-a49e-4355-867c-49c63f0cbe92","name":null},"createdAt":"2017-07-21T22:22:21.762+02:00","updatedAt":"2017-08-26T01:01:18.929+02:00"},{"id":"85ed6cf6-6005-4c82-8254-b329182f7bb6","name":"Defender","slug":"defender","inHangar":false,"description":null,"length":"28.000","beam":null,"height":"4.000","mass":"180","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/85ed6cf6-6005-4c82-8254-b329182f7bb6/20170407c-reduced.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/defender/Defender","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":"Concept complete.","powerplantSize":1,"shieldSize":1,"classification":"versatile","focus":null,"rsiId":129,"manufacturer":{"id":"8105746f-ab75-441a-a467-89d54636d569","name":"Banu"},"shipRole":{"id":"5c5a0138-a49e-4355-867c-49c63f0cbe92","name":null},"createdAt":"2017-06-14T22:54:16.012+02:00","updatedAt":"2017-08-26T01:01:16.155+02:00"},{"id":"0540db41-a3e8-4677-b0ff-71f3bf888ced","name":"Dragonfly Black","slug":"dragonfly-black","inHangar":false,"description":"The Drake Dragonfly is the perfect snub ship for anyone looking to live on the edge. With nothing separating the pilot from the dangers of space, the Dragonfly is as much an adventure as a ship! Dual-mode conversion allows the Dragonfly to operate on the ground or in space, and a rear-facing second seat means you can even take a passenger! This black model is Drake's standard production version.\n","length":"6.500","beam":"2.250","height":"1.250","mass":"10","cargo":"1","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/0540db41-a3e8-4677-b0ff-71f3bf888ced/Dragonfly-Black-Left.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-dragonfly/Dragonfly-Black","price":"0.0","onSale":false,"productionStatus":"in-production","productionNote":"Currently being built and tested for implementation in-game.","powerplantSize":null,"shieldSize":null,"classification":"vehicle","focus":"Ultra-light Space and Ground","rsiId":112,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"44c2ae79-6403-457b-9e36-b6fd5af290c5","name":"Ultra-light Space and Ground"},"createdAt":"2016-12-26T01:36:13.325+01:00","updatedAt":"2017-08-26T01:01:10.553+02:00"},{"id":"db812510-5812-4a03-9f64-3e3911e7bed1","name":"Dragonfly Yellowjacket","slug":"dragonfly-yellowjacket","inHangar":false,"description":"The Drake Dragonfly is the perfect snub ship for anyone looking to live on the edge. With nothing separating the pilot from the dangers of space, the Dragonfly is as much an adventure as a ship! Dual-mode conversion allows the Dragonfly to operate on the ground or in space, and a rear-facing second seat means you can even take a passenger! This exclusive Yellowjacket version is available only for the concept sale.\n","length":"6.500","beam":"2.250","height":"1.250","mass":"10","cargo":"1","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/db812510-5812-4a03-9f64-3e3911e7bed1/Dragonfly-Left.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/drake-dragonfly/Dragonfly-Yellowjacket","price":"0.0","onSale":false,"productionStatus":"in-production","productionNote":"Currently being built and tested for implementation in-game.","powerplantSize":null,"shieldSize":null,"classification":"vehicle","focus":"Ultra-light Space and Ground","rsiId":111,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"44c2ae79-6403-457b-9e36-b6fd5af290c5","name":"Ultra-light Space and Ground"},"createdAt":"2016-12-26T01:36:08.448+01:00","updatedAt":"2017-08-26T01:01:09.498+02:00"},{"id":"b87fd8d3-fcbc-4259-bd62-1a7ffd887d01","name":"Eclipse","slug":"eclipse","inHangar":false,"description":"The Aegis Eclipse is a bomber designed to get in and strike before it's ever even spotted. After extensive service with the UEE, this high-tech military equipment is making its debut on the civilian market for 2947.","length":"21.000","beam":"25.000","height":"4.250","mass":"170","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/b87fd8d3-fcbc-4259-bd62-1a7ffd887d01/Aegis-Eclipse-L4-Piece-2-Hangar-Presentation-007.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/eclipse/Eclipse","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":"Concept complete.","powerplantSize":1,"shieldSize":1,"classification":"bomber","focus":"Stealth Bomber","rsiId":130,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"8f2dadfc-ea3b-4edb-b208-e6d084d8dd39","name":"Stealth Bomber"},"createdAt":"2017-06-14T22:54:20.751+02:00","updatedAt":"2017-08-26T01:01:16.604+02:00"},{"id":"0a2ddd8d-6a6d-4a65-9d4a-09485524dc6d","name":"Endeavor","slug":"endeavor","inHangar":false,"description":"Musashi Industrial \u0026amp; Starflight Concern is proud to present the Endeavor-class research vessel, a fully modular space platform designed to be adapted for a variety of scientific and medical tasks. Initially developed as a floating laboratory, the MISC Endeavor can be outfitted for everything from spatial telescopy to use as mobile hospital.","length":"200.000","beam":"48.000","height":"20.000","mass":"10000","cargo":"500","crew":"16","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/0a2ddd8d-6a6d-4a65-9d4a-09485524dc6d/CO_Beauty_BioDomes.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/misc-endeavor/Endeavor","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"versatile","focus":"Research Platform","rsiId":97,"manufacturer":{"id":"9c0435a4-43ed-4db0-b023-7b42deeabc54","name":"Musashi Industrial \u0026amp; Starflight Concern"},"shipRole":{"id":"7032cfd3-6ff1-4b74-a813-8236fc220a75","name":"Research Platform"},"createdAt":"2016-12-26T01:35:34.945+01:00","updatedAt":"2017-08-26T01:01:04.825+02:00"},{"id":"cf608f62-a0db-424b-b29d-346bc360e244","name":"Esperia Glaive","slug":"esperia-glaive","inHangar":false,"description":"The Glaive is a symmetrical version of the Scythe. Generally flown by Vanduul with more combat experience, they are better armed and have two huge blades/wings as opposed to one on the standard Scythe.\n\n\nThis model is a human reproduction created by the manufacturer Esperia.\n","length":"31.000","beam":"20.000","height":"8.509","mass":"293","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/cf608f62-a0db-424b-b29d-346bc360e244/Vanduul_glaive_viz3.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/esperia-glaive/Esperia-Glaive","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"fighter","focus":"Medium Fighter","rsiId":93,"manufacturer":{"id":"e16e429a-4f9c-40c0-87db-e62a7c6df028","name":"Esperia"},"shipRole":{"id":"332f0c82-882b-4561-8619-927be84ec8c2","name":"Medium Fighter"},"createdAt":"2016-12-26T01:35:29.261+01:00","updatedAt":"2017-08-26T01:01:04.444+02:00"},{"id":"1c9f5daf-03a9-4190-b2c1-77bfdf454859","name":"Esperia Prowler","slug":"esperia-prowler","inHangar":false,"description":"Named after the UPE military designation, the Prowler is a modernized version of the infamous Tevarin armored personnel carrier. Esperia’s astroengineers were given unmitigated access to study original versions of the ship recently discovered in the Kabal system to help meticulously reconstruct the vehicle. Now, the Prowler is the perfect fusion of two cultures: the elegance and effectiveness of the Tevarin war machine combined with the reliability of modern Human technology.   \n","length":"34.000","beam":"33.000","height":"15.000","mass":"600","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/1c9f5daf-03a9-4190-b2c1-77bfdf454859/Esperia_Prowler_SHOT_01b.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/prowler/Esperia-Prowler","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"versatile","focus":"Dropship","rsiId":117,"manufacturer":{"id":"e16e429a-4f9c-40c0-87db-e62a7c6df028","name":"Esperia"},"shipRole":{"id":"7156eaca-1f41-4d04-a6ab-1618a6cb3064","name":"Dropship"},"createdAt":"2016-12-26T01:36:42.342+01:00","updatedAt":"2017-08-26T01:01:13.849+02:00"},{"id":"90deba9b-6c52-4e30-89fe-3e84cd5fc2b0","name":"Esperia Vanduul Blade","slug":"esperia-vanduul-blade","inHangar":false,"description":"Vanduul Light fighters, designation “Blade,” are often used as scouts and first wave assault crafts. Over the decades of conflict, they have been increasingly used to take out comm arrays and early warning systems. They have also served well as skirmisher units due to  their speed allowing them to chase down any ships attempting to flee the area. If engaged, expect the Blade to try to utilize its speed and agility to wear down your defenses.","length":"15.500","beam":"20.000","height":"4.500","mass":"100","cargo":null,"crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/90deba9b-6c52-4e30-89fe-3e84cd5fc2b0/01.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/vanduul-blade/Esperia-Vanduul-Blade","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":null,"powerplantSize":null,"shieldSize":null,"classification":"fighter","focus":"Light Fighter","rsiId":108,"manufacturer":{"id":"e16e429a-4f9c-40c0-87db-e62a7c6df028","name":"Esperia"},"shipRole":{"id":"e101bb23-f308-456a-acf8-166080f52a44","name":"Light Fighter"},"createdAt":"2016-12-26T01:35:54.331+01:00","updatedAt":"2017-08-26T01:01:07.222+02:00"},{"id":"c92f8299-9eda-4112-9549-05ab8eafc86d","name":"F7A Hornet","slug":"f7a-hornet","inHangar":false,"description":"The UEE Navy's premier carrier-based fighter craft, the F7A is the front-line attack ship for military combat missions. While not outfitted for long range runs, the Hornet can take her share of hits... and dish out a consistent, powerful response.","length":"22.500","beam":"21.750","height":"6.000","mass":"229","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/c92f8299-9eda-4112-9549-05ab8eafc86d/F7a.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/anvil-hornet/F7A-Hornet","price":"0.0","onSale":false,"productionStatus":"announced","productionNote":null,"powerplantSize":4,"shieldSize":4,"classification":"fighter","focus":"Military Close Support","rsiId":37,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"5cfce76e-53a7-4d2a-a532-30adc5adfdb7","name":"Military Close Support"},"createdAt":"2014-10-04T23:46:22.318+02:00","updatedAt":"2017-08-26T01:00:34.715+02:00"},{"id":"c06b5296-5e73-4780-afea-0170e920d71b","name":"F7C Hornet","slug":"f7c-hornet","inHangar":false,"description":"To the enemy, it is a weapon never to be underestimated. To allies, it's a savior. The F7C Hornet is the same dependable and resilient multi-purpose fighter that has become the face of the UEE Navy. The F7C is the foundation to build on and meet whatever requirements you have in mind.","length":"22.500","beam":"21.750","height":"5.300","mass":"219","cargo":"13","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/c06b5296-5e73-4780-afea-0170e920d71b/F7c_hornet_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/anvil-hornet/F7C-Hornet","price":"125.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":4,"classification":"fighter","focus":"Civilian Close Support","rsiId":11,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"70f2d9c1-f414-47d7-ace6-62709ba03819","name":"Civilian Close Support"},"createdAt":"2014-10-04T23:45:57.365+02:00","updatedAt":"2017-08-26T01:00:31.553+02:00"},{"id":"54ab1014-78e8-4b74-a3ef-1b00790405c1","name":"F7C Hornet Wildfire","slug":"f7c-hornet-wildfire","inHangar":false,"description":"Created as part of the ‘Masters of Flight’ series in conjunction with the flight-sim Arena Commander, the Wildfire pays tribute to famed pilot Aria Reilly for her distinguished service with the legendary Squadron 42. This Hornet comes equipped with her own personally selected loadout preferences and a custom special edition livery honoring her iconic ship.\n","length":"22.500","beam":"21.750","height":"5.300","mass":"219","cargo":"13","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/54ab1014-78e8-4b74-a3ef-1b00790405c1/Wildfire_render1.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/anvil-hornet/F7C-Hornet-Wildfire","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":4,"classification":"fighter","focus":"Civilian Close Support","rsiId":122,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"70f2d9c1-f414-47d7-ace6-62709ba03819","name":"Civilian Close Support"},"createdAt":"2016-12-26T01:33:51.800+01:00","updatedAt":"2017-08-26T01:00:32.057+02:00"},{"id":"037c9232-87d4-42c5-820a-18c540928b97","name":"F7C-M Super Hornet","slug":"f7c-m-super-hornet","inHangar":false,"description":"The closest to the Military load-out as is legally possible for a Civilian model, the F7C-M Super Hornet reattaches the ball turret and offers near milspec parts under the hood. Proving that two heads are better than one, a second seat has been added to split the logistic and combat duty, making the Super Hornet a truly terrifying mark to engage.","length":"24.000","beam":"21.750","height":"5.300","mass":"232","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/037c9232-87d4-42c5-820a-18c540928b97/F7c-M_super-Hornet_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/anvil-hornet/F7C-M-Super-Hornet","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":4,"shieldSize":4,"classification":"fighter","focus":"Space Superiority","rsiId":15,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"7ba7f171-4119-4384-a9b4-492cac7d2621","name":"Space Superiority"},"createdAt":"2014-10-04T23:46:16.595+02:00","updatedAt":"2017-08-26T01:00:33.976+02:00"},{"id":"648d4fcd-516c-4be8-b8aa-5fbd1591597b","name":"F7C-R Hornet Tracker","slug":"f7c-r-hornet-tracker","inHangar":false,"description":"If the Ghost is made to hide, the Tracker is made to seek. The F7C-R Tracker boasts an advanced radar suite making it ideal for deep-space explorers who require depth and accuracy in their scan packages. Local militia and larger merc units will also repurpose Trackers to act as mobile C\u0026amp;C ships for their squadrons.","length":"22.500","beam":"21.750","height":"5.600","mass":"223","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/648d4fcd-516c-4be8-b8aa-5fbd1591597b/F7c-R_hornet-Tracker_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/anvil-hornet/F7C-R-Hornet-Tracker","price":"140.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":4,"classification":"fighter","focus":"Scout/Command and Control","rsiId":14,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"b49dd1a9-3661-4660-8e5d-676d7df18426","name":"Scout/Command and Control"},"createdAt":"2014-10-04T23:46:10.913+02:00","updatedAt":"2017-08-26T01:00:33.233+02:00"},{"id":"ab35acf6-6c2c-4098-9313-5dc28f9c441b","name":"F7C-S Hornet Ghost","slug":"f7c-s-hornet-ghost","inHangar":false,"description":"Through a combination of low-emission drives, low-draw weapons, and Void Armor technology capable of diffusing scans, the F7C-S Ghost is built for the pilot who wants to keep a low profile. The Ghost is capable of slipping past the most ardent of observers to accomplish whatever goal you need to accomplish. Don't worry, we won't ask.","length":"22.500","beam":"21.750","height":"5.600","mass":"223","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/ab35acf6-6c2c-4098-9313-5dc28f9c441b/F7cs_hornet_ghost_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/anvil-hornet/F7C-S-Hornet-Ghost","price":"125.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":3,"shieldSize":4,"classification":"fighter","focus":"Infiltration","rsiId":13,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"f9ce0802-9a45-4aeb-be4c-b9a3ebf2822e","name":"Infiltration"},"createdAt":"2014-10-04T23:46:04.270+02:00","updatedAt":"2017-08-26T01:00:32.535+02:00"},{"id":"805b2b76-5144-47d2-8fd1-897077b7f8f2","name":"Freelancer","slug":"freelancer","inHangar":false,"description":"Freelancers are used as long haul merchant ships by major corporations, but they are just as frequently repurposed as dedicated exploration vessels by independent captains who want to operate on the fringes of the galaxy.","length":"32.000","beam":"15.000","height":"8.000","mass":"260","cargo":"52","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/805b2b76-5144-47d2-8fd1-897077b7f8f2/Freelancer_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/misc-freelancer/Freelancer","price":"125.0","onSale":true,"productionStatus":"flight-ready","productionNote":"This ship is in game and ready to fly immediately.","powerplantSize":5,"shieldSize":5,"classification":"cargo","focus":"Mercantile","rsiId":16,"manufacturer":{"id":"9c0435a4-43ed-4db0-b023-7b42deeabc54","name":"Musashi Industrial \u0026amp; Starflight Concern"},"shipRole":{"id":"3b99a80e-61da-48e7-a444-5fbfde57fc87","name":"Mercantile"},"createdAt":"2014-10-04T23:47:02.854+02:00","updatedAt":"2017-08-26T01:00:37.792+02:00"},{"id":"ffda0bd3-c80f-436b-9568-292679ea0485","name":"Freelancer DUR","slug":"freelancer-dur","inHangar":false,"description":"The Freelancer DUR variant specializes in exploration. Sacrificing 25% cargo capacity of the standard Freelancer for an enhanced jump drive, a more advanced scanner, and an expanded fuel tank may seem like a bad call to some, but those who value discovery over profit will find it to be their ship of choice.","length":"34.000","beam":"15.000","height":"8.000","mass":"280","cargo":"52","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/ffda0bd3-c80f-436b-9568-292679ea0485/Freelancer_dur_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/misc-freelancer/Freelancer-DUR","price":"125.0","onSale":true,"productionStatus":"ready","productionNote":"Update Pass Scheduled","powerplantSize":5,"shieldSize":5,"classification":"personal_transport","focus":"Exploration","rsiId":31,"manufacturer":{"id":"9c0435a4-43ed-4db0-b023-7b42deeabc54","name":"Musashi Industrial \u0026amp; Starflight Concern"},"shipRole":{"id":"c53ba747-bbdb-4768-aa08-2521ef1f1f1e","name":"Exploration"},"createdAt":"2014-10-04T23:47:11.309+02:00","updatedAt":"2017-08-26T01:00:38.349+02:00"},{"id":"d9d63c2a-7c20-4c15-a7d7-0dd4e46e56c4","name":"Freelancer MAX","slug":"freelancer-max","inHangar":false,"description":"Freelancer variant with additional cargo capacity at the expense of weapons. The Freelancer MAX variant sacrifices weaponry for an increased cargo capacity making it ideal for equipment or raw materials transport.","length":"32.000","beam":"19.000","height":"8.000","mass":"320","cargo":"123","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/d9d63c2a-7c20-4c15-a7d7-0dd4e46e56c4/Freelancer_max_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/misc-freelancer/Freelancer-MAX","price":"140.0","onSale":true,"productionStatus":"ready","productionNote":"Update pass scheduled","powerplantSize":6,"shieldSize":4,"classification":"cargo","focus":"Transport","rsiId":32,"manufacturer":{"id":"9c0435a4-43ed-4db0-b023-7b42deeabc54","name":"Musashi Industrial \u0026amp; Starflight Concern"},"shipRole":{"id":"a8f395fe-2614-4761-aa84-bb88fcaafa4f","name":"Transport"},"createdAt":"2014-10-04T23:47:18.486+02:00","updatedAt":"2017-08-26T01:00:39.759+02:00"},{"id":"0f7bb93d-c144-4cec-b4f7-17f520a01203","name":"Freelancer MIS","slug":"freelancer-mis","inHangar":true,"description":"The Freelancer MIS is a limited edition militarized variant of the classic mercantile ship developed by the UEE. These were produced in very small quantity due to some early payload incidents. This version sacrifices the majority of the cargo capacity to make way for missiles. ","length":"34.000","beam":"15.000","height":"8.000","mass":"300","cargo":"52","crew":"3","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/0f7bb93d-c144-4cec-b4f7-17f520a01203/Freelancer_mis_storefront_visual.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/misc-freelancer/Freelancer-MIS","price":"0.0","onSale":false,"productionStatus":"ready","productionNote":"Update pass scheduled","powerplantSize":5,"shieldSize":5,"classification":"fighter","focus":"Militia","rsiId":33,"manufacturer":{"id":"9c0435a4-43ed-4db0-b023-7b42deeabc54","name":"Musashi Industrial \u0026amp; Starflight Concern"},"shipRole":{"id":"2973974a-389b-4559-8370-b581e695bdc7","name":"Militia"},"createdAt":"2014-10-04T23:47:25.553+02:00","updatedAt":"2017-08-26T01:00:40.212+02:00"},{"id":"a59f67f6-7f93-4265-b423-5087ac7086de","name":"Genesis","slug":"genesis","inHangar":false,"description":"The Genesis is yet another landmark in Crusader Industries’ proud history of transport designs. This ship utilizes award-winning manufacturing techniques and the highest quality parts to create one thing; a next-generation passenger ship at a price that won’t break your budget. Crusader Industries’ proprietary NeoG engine technology offers some of the most efficient flight for a ship of its size.","length":"85.000","beam":"90.000","height":"16.000","mass":"2756","cargo":"403","crew":"8","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/a59f67f6-7f93-4265-b423-5087ac7086de/Starliner_action1_runwaycompFlat.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/starliner/Genesis","price":"0.0","onSale":false,"productionStatus":"in-production","productionNote":"Waiting for resources to start modeling","powerplantSize":7,"shieldSize":7,"classification":"personal_transport","focus":"Passenger Transit","rsiId":91,"manufacturer":{"id":"581cf9ca-befc-4be0-a4df-1065e3c1c10b","name":"Crusader Industries"},"shipRole":{"id":"240501b2-b5a5-4f95-992b-49a81bed36a0","name":"Passenger Transit"},"createdAt":"2015-06-27T18:50:45.007+02:00","updatedAt":"2017-08-26T01:01:04.102+02:00"},{"id":"fc374e8a-d4a2-441b-8c9f-4ffbcff9b7be","name":"Gladiator","slug":"gladiator","inHangar":false,"description":"The civilian model of the Gladiator appeals to those that want explore the ‘Verse with a bit of added security. Supporting a maximum of two the Gladiator is perfectly equipped to explore and fight with or without a wingman. The Civilian model allows pilots to choose between an extra cargo hold or a bomb bay.","length":"22.000","beam":"22.000","height":"8.000","mass":"260","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/fc374e8a-d4a2-441b-8c9f-4ffbcff9b7be/Gladiator-WB_FrontLeft.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/anvil-gladiator/Gladiator","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":3,"classification":"bomber","focus":"Carrier-based Bomber","rsiId":64,"manufacturer":{"id":"37649e0c-c3d7-4dd6-bf8e-0f7a3f9305f3","name":"Anvil Aerospace"},"shipRole":{"id":"80788cac-7a34-4ae8-b719-7481e67da2d8","name":"Carrier-based Bomber"},"createdAt":"2015-01-09T20:51:40.058+01:00","updatedAt":"2017-08-26T01:00:44.840+02:00"},{"id":"fd475446-7b22-4cdf-9e28-d87ccc5014a7","name":"Gladius","slug":"gladius","inHangar":true,"description":"The Gladius is an older design which has been updated over the years to keep up with modern technology. In military circles, the Gladius is beloved for its performance and its simplicity. A fast, light fighter with a laser-focus on dogfighting, the Gladius is an ideal interceptor or escort ship.","length":"20.000","beam":"16.000","height":"5.000","mass":"160","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/fd475446-7b22-4cdf-9e28-d87ccc5014a7/Gladius_Front_Perspective.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/gladius/Gladius","price":"90.0","onSale":true,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":2,"classification":"fighter","focus":"Short-range Patrol Fighter","rsiId":60,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"f28360e0-d529-4979-887f-dd4478db167a","name":"Short-range Patrol Fighter"},"createdAt":"2015-01-09T20:50:05.456+01:00","updatedAt":"2017-08-26T01:00:22.239+02:00"},{"id":"47073771-a605-4481-b8e0-a17a559768d9","name":"Gladius Valiant","slug":"gladius-valiant","inHangar":false,"description":"Created as part of the ‘Masters of Flight’ series in conjunction with the flight-sim Arena Commander, the Valiant pays tribute to famed defense pilot Condi Hillard for being the first Human on record to defeat a Vanduul in combat. This Gladius comes equipped with a specialized dogfighting focused loadout and a custom special edition livery honoring her iconic ship.\n","length":"20.000","beam":"16.000","height":"5.000","mass":"160","cargo":"0","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/47073771-a605-4481-b8e0-a17a559768d9/Gladius_variant_sale_img.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/gladius/Gladius-Valiant","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":null,"powerplantSize":2,"shieldSize":2,"classification":"fighter","focus":"Short-range Patrol Fighter","rsiId":121,"manufacturer":{"id":"cbd6be28-6766-4ed3-935a-86e0828fc0c3","name":"Aegis Dynamics"},"shipRole":{"id":"f28360e0-d529-4979-887f-dd4478db167a","name":"Short-range Patrol Fighter"},"createdAt":"2016-12-26T01:33:40.266+01:00","updatedAt":"2017-08-26T01:00:22.690+02:00"},{"id":"cc2174f9-d9ba-466d-bf04-7d3eb1ac2da0","name":"Herald","slug":"herald","inHangar":false,"description":"The Drake Herald is a small, armored ship designed to safely get information from Point A to Point B. Featuring a powerful central engine (for high speed transit and generating the power needed for effective data encryption/containment), advanced encryption software and an armored computer core, the Herald is unique among personal spacecraft in that it is designed to be easily ‘cleaned’ when in danger of capture.","length":"23.000","beam":"15.500","height":"9.500","mass":"180","cargo":"0","crew":"2","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/cc2174f9-d9ba-466d-bf04-7d3eb1ac2da0/Herald-1.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/herald/Herald","price":"0.0","onSale":false,"productionStatus":"flight-ready","productionNote":"This ship is in game and ready to fly immediately.","powerplantSize":3,"shieldSize":3,"classification":"personal_transport","focus":"Info Runner","rsiId":61,"manufacturer":{"id":"1ba490f9-1ea3-40d6-b0e4-48aa62345b72","name":"Drake Interplanetary"},"shipRole":{"id":"a3cf97b2-9235-49d8-adab-c0ddad4cd587","name":"Info Runner"},"createdAt":"2015-01-09T20:52:29.324+01:00","updatedAt":"2017-08-26T01:00:54.261+02:00"},{"id":"1b5e66d8-e25f-4286-8bda-6bf9de42fc3f","name":"Hull A","slug":"hull-a","inHangar":false,"description":"The smallest, most affordable Hull. The Hull A is great for those just striking out in the galaxy on their own. The Hull A is most similar to the Aurora and Mustang, but lacks the ‘jack of all trades’ nature. Where the others trade cargo capacity for firepower or speed, the Hull A is 100% on-mission transport! Additionally, Hull A (and B) are often used as station-to-orbit ferries.","length":"21.700","beam":"8.200","height":"4.000","mass":"143","cargo":"48","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/1b5e66d8-e25f-4286-8bda-6bf9de42fc3f/Hull_A_Final.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/hull/Hull-A","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":"Concept complete.","powerplantSize":null,"shieldSize":null,"classification":"cargo","focus":"Cargo","rsiId":84,"manufacturer":{"id":"9c0435a4-43ed-4db0-b023-7b42deeabc54","name":"Musashi Industrial \u0026amp; Starflight Concern"},"shipRole":{"id":"f6600f26-0594-48cb-8c6c-1302c1ccb980","name":"Cargo"},"createdAt":"2015-06-27T18:49:59.317+02:00","updatedAt":"2017-08-26T01:00:55.232+02:00"},{"id":"f8430ebc-d818-44d4-8c6f-3753cd0c7b53","name":"Hull B","slug":"hull-b","inHangar":false,"description":"The Hull B is a more rugged option most often compared to MISC’s own Freelancer. But where the Freelancer is equipped for long range exploration and other roles, the Hull B is a pure cargo transport. Hull B are often used as corporate support ships, and it is not uncommon to spot several in different liveries during a single flight.","length":"49.200","beam":"15.700","height":"17.300","mass":"671","cargo":"384","crew":"1","storeImage":"https://d159vi9qupesbj.cloudfront.net/uploads/ship/store_image/f8430ebc-d818-44d4-8c6f-3753cd0c7b53/HullB_landedcompv3b.jpg","storeUrl":"https://robertsspaceindustries.com/pledge/ships/hull/Hull-B","price":"0.0","onSale":false,"productionStatus":"in-concept","productionNote":"Concept complete.","powerplantSize":null,"shieldSize":null,"classification":"cargo"
[...]
