.empty-box {
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  h2 {
    font-family: "Orbitron", sans-serif;
  }

  .info {
    p {
      color: lighten($gray-lighter, 5);
    }
  }

  .empty-box-actions {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: $tablet-breakpoint) {
  .empty-box {
    width: 100%;
    padding: 0;
  }
}
