.panel-body {
  padding: 10px 15px;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  transition: border-radius $transition-base-speed ease;

  &-no-min-height {
    min-height: 0;
  }

  &-no-padding {
    padding: 0;
  }

  &-no-padding-top {
    padding-top: 0;
  }

  &-rounded {
    border-radius: $panelContentBorderRadius;

    a {
      overflow: hidden;
      border-radius: $panelContentBorderRadius;
    }
  }

  &-rounded-top {
    border-top-left-radius: $panelContentBorderRadius;
    border-top-right-radius: $panelContentBorderRadius;

    a {
      overflow: hidden;
      border-top-left-radius: $panelContentBorderRadius;
      border-top-right-radius: $panelContentBorderRadius;
    }
  }

  &-rounded-right {
    border-top-right-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;

    a {
      overflow: hidden;
      border-top-right-radius: $panelContentBorderRadius;
      border-bottom-right-radius: $panelContentBorderRadius;
    }
  }

  &-rounded-bottom {
    border-bottom-left-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;

    a {
      overflow: hidden;
      border-bottom-left-radius: $panelContentBorderRadius;
      border-bottom-right-radius: $panelContentBorderRadius;
    }
  }

  &-rounded-left {
    border-top-left-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;

    a {
      overflow: hidden;
      border-top-left-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
    }
  }
}
