@import '~stylesheets/variables';

.flex-list > .flex-list-heading > .flex-list-row {
  .actions {
    min-width: 246px;
  }
}

.dropzone {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100px;
  text-align: center;
  cursor: pointer;

  i.fal,
  svg.fal {
    margin: 10px 0;
    color: darken($text-color, 30%);
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: darken($text-color, 30%);
  }
}

.panel-success {
  .dropzone {
    i.fal,
    svg.fal {
      color: white;
    }

    h3 {
      color: white;
    }
  }
}
