@import '~stylesheets/variables';

.flex-list > .flex-list-heading > .flex-list-row {
  .actions {
    min-width: 246px;
  }
}

.dropzone {
  text-align: center;
  display: flex;
  flex-flow: column;
  min-height: 100px;
  justify-content: center;
  cursor: pointer;

  i.fal,
  svg.fal {
    color: darken($text-color, 30%);
    margin: 10px 0;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: darken($text-color, 30%);
    height: 100%;
  }
}

.panel-success {
  .dropzone {
    i.fal,
    svg.fal {
      color: white;
    }

    h3 {
      color: white;
    }
  }
}
