@import '~stylesheets/variables';

.network-status {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  padding: 3px 6px;
  color: white;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background-color: $danger;
}
