@import '~stylesheets/variables';

.vehicle-states {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 150%;

  > * {
    margin: 0 5px;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .on-sale {
    color: $success;
  }

  .flagship-icon {
    color: $gold;
  }

  .full-public-icon {
    color: $gray-lighter;
  }
}

@media (max-width: $desktop-breakpoint) {
  .vehicle-states,
  .hangar-groups {
    justify-content: center;
  }
}
