.hardpoint-group {
  &__label {
    font-size: 20px;
    font-family: "Orbitron", tahoma, sans-serif;
    text-transform: uppercase;
  }

  &__inner {
    padding: 20px 20px 10px;
  }
}

.hardpoint-category {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba($gray-darker, 0.7);

  &:last-child {
    border-bottom: none;
  }

  &__label {
    display: flex;
    align-items: center;
    width: 240px;
    margin-block: 10px;
    padding-right: 20px;
    color: darken($text-color, 20%);
  }

  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    color: $primary;
    margin-right: 10px;
  }
}
