<template>
  <section>
    <div class="row">
      <div class="col-12">
        <h1>{{ $t('headlines.settings.account') }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          {{ $t('labels.account.destroyInfo') }}
        </p>
        <Btn
          :loading="deleting"
          variant="danger"
          size="large"
          data-test="destroy-account"
          @click.native="destroy"
        >
          {{ $t('actions.destroyAccount') }}
        </Btn>
      </div>
    </div>
  </section>
</template>

<script>
import MetaInfo from 'frontend/mixins/MetaInfo'
import Btn from 'frontend/core/components/Btn'
import { displaySuccess, displayAlert, displayConfirm } from 'frontend/lib/Noty'

export default {
  name: 'SettingsAccount',

  components: {
    Btn,
  },

  mixins: [MetaInfo],

  data() {
    return {
      deleting: false,
    }
  },

  methods: {
    async destroy() {
      this.deleting = true
      displayConfirm({
        text: this.$t('messages.confirm.account.destroy'),
        onConfirm: async () => {
          const response = await this.$api.destroy('users/current')
          if (!response.error) {
            displaySuccess({
              text: this.$t('messages.account.destroy.success'),
            })
            await this.$store.dispatch('session/logout')

            // eslint-disable-next-line @typescript-eslint/no-empty-function
            this.$router.push({ name: 'home' }).catch(() => {})
          } else {
            displayAlert({
              text: this.$t('messages.account.destroy.error'),
            })
            this.deleting = false
          }
        },
        onClose: () => {
          this.deleting = false
        },
      })
    },
  },
}
</script>
