@import '~stylesheets/variables';

.box {
  margin-bottom: 20px;

  .box-inner {
    padding: 15px;
  }
}

@media (min-width: $tablet-breakpoint) {
  .box {
    width: 350px;
    margin: 0 auto 20px;
    margin-top: 6%;

    &.box-large {
      width: 600px;
    }
  }
}
