- content_for :title do
  = I18n.t(:"title.my_ship", ship: ship.name)
.row
  .col-xs-12

    .row
      .col-xs-12
        %h1
          = I18n.t(:"headlines.my_ship", ship: ship.name)

    .row
      .col-xs-12
        = render "my_ships/form"
