- content_for :title do
  = I18n.t(:"title.shop.edit")
.row
  .col-12.col-md-12
    .row
      .col-12.col-md-8
        %h2
          = I18n.t(:"headlines.admin.shop.edit", shop: shop.name)

      .col-12.col-md-4
        .d-flex.justify-content-end
          .btn-group
            = link_to I18n.t(:"actions.back"), admin_shops_path(params: index_back_params, anchor: shop.id), class: "btn btn-dark"

    = render "form"
