!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    =stylesheet_link_tag 'email.css'
  %body
    .container
      %h1.text-center
        FleetYards.net

      .transmission
        = "--- incomming transmission ---"

      .well
        %h2
          = I18n.t("mailer.user.admin.headline")
        %p
          = simple_format(@user_info.join("\n"))

      .transmission
        = "--- transmission end ---"
