.row.fileupload-buttonbar{data: {no_turbolink: true}}
  .col-lg-7
    %span.btn.btn-success.fileinput-button
      %i.fa.fa-plus
      %span Add files...
      %input{type: "file", name: "files[]", multiple: true}
    %button.btn.btn-primary.start{type: "submit"}
      %i.fa.fa-upload
      %span Start upload
    %button.btn.btn-warning.cancel{type: "reset"}
      %i.fa.fa-ban-circle
      %span Cancel upload
    %button.btn.btn-danger.delete{type: "button"}
      %i.fa.fa-trash
      %span Delete
    %input.toggle{type: "checkbox"}
    %span.fileupload-process
  .col-lg-5.fileupload-progress.fade
    .progress.progress-striped.active{role: "progressbar", aria: {valuemin: "0", valuemax: "100"}}
      .progress-bar.progress-bar-success{style: "width:0%;"}
    .progress-extended &nbsp;
