$innerBorderWidth: 2px;

.pagination-pages-rails {
  min-width: 100px;
  text-align: center;
}

.pagination-rails {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: $desktop-breakpoint) {
  .pagination-rails {
    justify-content: center;
  }
}
