@media (max-width: $desktop-breakpoint) {
  .navigation-header {
    right: 0;
    left: auto;
    flex-direction: row-reverse;
    transition: right ease $transition-base-speed;

    .nav-toggle {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin-top: env(safe-area-inset-top);

    .nav-container {
      position: fixed;
      top: 0;
      right: -300px;
      bottom: 0;
      left: auto;
      width: 300px;
      padding-top: env(safe-area-inset-top);
      padding-left: env(safe-area-inset-left);
      transition:
        left ease $transition-base-speed,
        right ease $transition-base-speed,
        width ease $transition-base-speed;

      .nav-container-inner {
        > :first-child {
          padding-top: 5px;
        }

        > :last-child {
          padding-bottom: 10px;
        }
      }
    }
  }

  .nav-visible {
    .navigation-mobile {
      right: 300px;
    }

    .navigation-header {
      right: 300px;

      .environment-label {
        left: -280px;
      }
    }

    nav {
      .nav-container {
        right: 0;
      }
    }
  }
}

@media (max-width: 370px) {
  nav {
    .nav-container {
      right: -250px;
      width: 250px;
    }
  }

  .nav-visible {
    .navigation-mobile {
      right: 250px;
    }

    .navigation-header {
      right: 250px;

      .environment-label {
        left: -230px;
      }
    }
  }
}
