.box {
  margin-bottom: 20px;

  .box-inner {
    padding: 15px;
  }
}

.empty-box {
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  .info {
    p {
      color: lighten($primary, 10%);
    }
  }

  .empty-box-actions {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: $tablet-breakpoint) {
  .box {
    width: 350px;
    margin: 0 auto 20px;
    margin-top: 6%;

    &.box-large {
      width: 600px;
    }
  }

  .empty-box {
    width: 100%;
    padding: 0;
  }
}
