.empty-table {
  width: 600px;

  h2 {
    font-family: "Orbitron", sans-serif;
  }

  .info {
    p {
      color: color.adjust($gray-lighter, $lightness: 5%);
    }
  }

  .empty-table-actions {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: $desktop-breakpoint) {
  .empty-table {
    max-width: 100%;
    padding: 0;
  }
}
