.erkul-link {
  .panel-btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("@/images/sc_dps_calculator.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all ease 0.5s;
  }

  &:hover {
    i {
      background-image: url("@/images/sc_dps_calculator_black.png");
    }
  }
}

.spviewer-link {
  .panel-btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("@/images/spviewer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all ease 0.5s;
  }
}

@media (max-width: $desktop-breakpoint) {
  .erkul-link {
    .panel-btn-inner {
      flex-direction: column;
    }
  }

  .spviewer-link {
    .panel-btn-inner {
      flex-direction: column;
    }
  }
}
