.fleetchart-list {
  .fleetchart {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px;
    transition: height $transition-base-speed ease;
    overflow: auto;

    .fleetchart-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      min-width: 0;
      padding: 10px;
      cursor: pointer;
      filter: drop-shadow(2px 4px 6px black);

      a {
        display: block;
      }

      > span {
        text-align: center;
      }

      .fleetchart-item-image-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .fleetchart-item-image {
        width: auto;
        height: auto;
      }

      .fleetchart-item-label {
        margin-right: 20px;
        color: darken($text-color, 10%);
        font-size: 120%;
        font-family: 'Orbitron', sans-serif;

        > span {
          white-space: nowrap;
        }

        small {
          display: block;
          color: darken($text-color, 30%);
          white-space: nowrap;

          > span {
            white-space: nowrap;
          }
        }
      }

      .status-in-concept {
        filter: opacity(0.5) drop-shadow(0 0 0 black);
      }

      .status-in-production {
        filter: opacity(0.5) drop-shadow(0 0 0 #06f);
      }
    }
  }

  .fleetchart-slider {
    width: 50%;
    position: fixed;
    top: 40px;
    left: 25%;
    z-index: 1000;
  }

  .fleetchart-scroll-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}

@media (max-width: $desktop-breakpoint) {
  .fleetchart-list {
    .fleetchart-slider {
      width: 70%;
      left: 15%;
    }
  }
}
