.teaser-panel {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;

  .teaser-panel-item {
    flex-basis: 33%;
    flex-grow: 1;
  }

  .teaser-panel-body {
    max-width: 100%;
    padding: 15px;
  }

  .teaser-panel-image {
    position: relative;
    overflow: hidden;
    opacity: 0.8;
  }

  a {
    color: $text-color;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Orbitron', tahoma, sans-serif;
    text-align: right;
  }

  p {
    position: relative;
    z-index: 20;
    overflow-x: hidden;
  }

  > :first-child {
    border-top-left-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;
  }

  > :last-child {
    border-top-right-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;
  }

  &.teaser-panel-text {
    .teaser-panel-body {
      flex-basis: 66%;
    }
  }

  &.teaser-panel-fullscreen {
    .teaser-panel-image {
      min-height: 200px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.item-panel {
    display: flex;

    .teaser-panel-body {
      width: 66%;
      padding: 15px;
    }

    .teaser-panel-image {
      position: relative;
      width: 33%;
      height: auto;
      border-top-left-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
      opacity: 0.8;
    }

    a {
      color: $text-color;
    }

    .add-to-cart {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    h2 {
      max-width: 100%;
      overflow: hidden;
      font-weight: 400;
      font-family: 'Orbitron', tahoma, sans-serif;
      white-space: nowrap;
      text-align: left;
      text-overflow: ellipsis;

      small {
        color: darken($text-color, 20%);
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .teaser-panel.item-panel {
    h2 {
      padding-right: 60px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .teaser-panel.item-panel {
    flex-wrap: wrap;

    .teaser-panel-image {
      width: 100%;
      height: 150px;
      border-top-right-radius: $panelContentBorderRadius;
      border-bottom-left-radius: 0;
    }

    .teaser-panel-body {
      width: 100%;
    }
  }
}
