@import '~stylesheets/variables';

form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 12%;
}

h1 {
  margin-bottom: 20px;
  text-align: center;

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;

  &:focus {
    z-index: 2;
  }
}

.has-feedback {
  .form-control-feedback {
    &:nth-child(3) {
      top: 5px;
    }
  }
}

.form-group {
  position: relative;
}

label {
  display: none;
}

@media (min-width: $desktop-breakpoint) {
  label {
    display: block;
    position: absolute;
    left: -100%;
    top: 12px;
    padding-right: 10px;
    text-align: right;
    width: 100%;
  }
}
