html {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: $background;
}

.hidden {
  display: none;
}

.app-body {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.nav-item a {
  position: relative;

  .badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: white;
    background-color: $primary;
    border-radius: 10px;
  }
}

.app-wrapper {
  .app-body {
    padding-top: 20px;
  }
}

.admin-app-body {
  min-height: 100vh;
}

.version {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.fa-4-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.environment-label {
  span {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.chart {
  position: relative;

  &.loading::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-image: image-url('~images/loading.gif');
    background-position: center;
    background-size: 100%;
    content: '';
  }
}

.app-footer {
  margin-top: 30px;
}
