.off-canvas {
  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2017;
    background-color: rgba(black, 0.6);
  }

  &__panel {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2020;
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 80vw;
    padding-top: env(safe-area-inset-top);
    background-color: rgba($gray-darker, 0.5);
    visibility: hidden;
    transition:
      transform ease $transition-base-speed,
      visibility ease $transition-base-speed;

    &--left {
      left: 0;
      transform: translateX(-100%);
      border-right: 1px solid rgba(30, 34, 38, 0.5);
    }

    &--right {
      right: 0;
      transform: translateX(100%);
      border-left: 1px solid rgba(30, 34, 38, 0.5);
    }

    &.show {
      visibility: visible;
    }

    &.in {
      transform: translateX(0);
    }
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 20px 10px 10px 25px;
  }

  &__title {
    font-size: 18px;
    color: darken($text-color, 10%);
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.off-canvas-backdrop-enter-active,
.off-canvas-backdrop-leave-active {
  transition: opacity ease $transition-base-speed;
}

.off-canvas-backdrop-enter-from,
.off-canvas-backdrop-leave-to {
  opacity: 0;
}
