- content_for :title do
  = I18n.t(:"title.impressum")
.row#impressum
  .col-xs-12.col-md-12
    %h2=I18n.t(:"headlines.impressum")

    %h3=I18n.t(:"sublines.impressum.general")

    %address
      %dl.dl-horizontal
        %dd.name
          Fleetyards.net
        %dt
          %strong Adresse:
        %dd
          Marten Klitzke
          %br
          Alter Zirkusplatz 5
          %br
          22880 Wedel
        %dt
          %strong E-Mail:
        %dd
          = link_to "info@fleetyards.net"

    %h3=I18n.t(:"sublines.impressum.disclaimer")

    != @text.output
