.row
  .col-md-12
    .jumbotron.text-center
      %h2
        %small
          = I18n.t(:"headlines.base.index")
        FleetYards.net
      .row
        .col-xs-12.col-md-offset-3.col-md-6
          = render "ships/search"
      .row
        .col-xs-12.col-md-12
          Your Ship-Database for the upcomming Space Simulation
          %i
            "Star Citizen"


.row
  .col-xs-12.col-md-8.col-md-offset-4
    %blockquote.pull-right
      %p
        “Strap into one of dozens of ships and embark on a life within the Star Citizen universe. Unbound by profession or skill sets, you choose the path of your own life.”
      %small
        Source Unknown
