.row
  .col-md-12
    .jumbotron.text-center
      %h1
        %small
          Willkommen auf
        FleetYards.net
      %br
      %p
        %a.btn.btn-primary.btn-lg{href: ships_path}
          Schiffsdatenbank
