- content_for :title do
  = I18n.t(:"title.privacy")
.row#privacy
  .col-xs-12.col-md-12
    %h1=I18n.t(:"headlines.privacy")

    != @text.output

    %blockquoute.pull-right
      %small
        = "#{I18n.t(:"labels.source")}:"
        %a{href: "http://www.datenschutzbeauftragter-info.de"}
          www.datenschutzbeauftragter-info.de
