.panel-heading {
  display: flex;
  position: relative;
  justify-content: space-between;

  &-top {
    background: linear-gradient(to bottom, rgba(black, 0.8), transparent);
    border-top-left-radius: $panelContentBorderRadius;
    border-top-right-radius: $panelContentBorderRadius;
    align-items: flex-start;
  }

  &-bottom {
    background: linear-gradient(to top, rgba(black, 0.8), transparent);
    border-bottom-left-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;
    align-items: flex-end;
  }

  &-title {
    margin-bottom: 0;
    padding: 15px 15px 10px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Orbitron", sans-serif;
    text-shadow: 0 0 2px black;
    font-weight: normal;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-align-left {
      text-align: left;
    }

    &-align-right {
      text-align: right;
    }

    &-align-center {
      text-align: center;
    }

    &-large {
      font-size: 30px;
    }

    &-main {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: space-between;

      :deep(small) {
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        color: darken($text-color, 20%);
      }
    }

    &-sub {
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      color: darken($text-color, 15%);
      gap: 5px;
      display: flex;

      :deep(a) {
        color: darken($text-color, 15%);

        &:hover {
          color: $text-color;
        }
      }
    }
  }

  &-with-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .panel-heading-actions {
      margin-right: 10px;
      padding-top: 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-right: 40px;
    }
  }
}
