.row
  - Equipment.all.order("equipment_type desc").each_with_index do |equipment, key|
    - if key %3 == 0 && key != 0
      .row.visible-md.visible-lg
    - if key %2 == 0 && key != 0
      .row.visible-sm
    .col-md-4.col-sm-6.col-xs-12
      .list-group
        %a.list-group-item{href: "#"}
          %strong
            = "#{I18n.t(:"activerecord.attributes.equipment.types.#{equipment.equipment_type}")}:"
          = equipment.name
