.base-table-row {
  &.clickable {
    cursor: pointer;
  }

  &:hover {
    :deep(> div),
    :deep(> td) {
      background-color: rgba(#000, 0.1);

      &:first-child,
      &:last-child {
        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
