.menu-content {
  background-color: rgb(39, 43, 48) !important;
}

.menu-content ul > li > label {
  margin-right: 10px;
  color: #c8c8c8 !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.menu-content ul > li > label > svg > polygon {
  fill: #c8c8c8 !important;
}

.menu-content ul > li > label.active,
.menu-content ul > li > label:hover {
  color: #373737 !important;
  background-color: hsla(0, 0%, 78.4%, .9) !important;
}

.menu-content ul > li > label.active > svg > polygon,
.menu-content ul > li > label:hover > svg > polygon {
  fill: #373737 !important;
}

pre,
.react-tabs__tab-panel {
  border-radius: 3px !important;
}

/* .redoc-wrap > div:last-child {
  background-color: rgb(39, 43, 48) !important;
} */

.search-icon > path {
  fill: #c8c8c8 !important;
}

.search-input {
  color: #c8c8c8 !important;
}
