= form_for [:admin, model], html: { multipart: true } do |form|
  .row
    .col-12.col-md-6.form-group{class: form_error?(model, :name)}
      = form.label :name
      = form.text_field :name, class: 'form-control'
      %small
        = form_errors model, :name
    .col-12.col-md-6.form-group{class: form_error?(model, :description)}
      = form.label :description
      = form.text_area :description, class: 'form-control'
      %small
        = form_errors model, :description

  .row
    .col-12.col-sm-6.col-md-8.form-group
      .row
        .col-12.col-sm-6.col-md-4
          .form-group
            = form.check_box :hidden, placeholder: I18n.t(:"helpers.placeholder.model.hidden"), class: 'checkbox'
            = form.label :hidden do
              = I18n.t(:"activerecord.attributes.model.hidden")

        .col-12.col-sm-6.col-md-4
          .form-group
            = form.check_box :active, placeholder: I18n.t(:"helpers.placeholder.model.active"), class: 'checkbox'
            = form.label :active do
              = I18n.t(:"activerecord.attributes.model.active")

        .col-12.col-sm-6.col-md-4
          .form-group
            = form.check_box :ground, placeholder: I18n.t(:"helpers.placeholder.model.ground"), class: 'checkbox'
            = form.label :ground do
              = I18n.t(:"activerecord.attributes.model.ground")
  .row
    .col-12
      .row
        .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :base_model_id)}
          = form.label :base_model_id
          = form.select :base_model_id, options_from_collection_for_select(Model.order(name: :asc).all, :id, :name, model.base_model_id), { include_blank: true }, {class: 'form-control'}
          %small
            = form_errors model, :base_model_id
        .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :sc_identifier)}
          = form.label :sc_identifier
          = form.text_field :sc_identifier, class: 'form-control'
          %small
            = form_errors model, :sc_identifier

  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :focus)}
      = form.label :focus
      = form.select :focus, options_from_collection_for_select(Model.focus_filters, :value, :name, model.focus), { include_blank: true }, {class: 'form-control'}
      %small
        = form_errors model, :focus
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :classification)}
      = form.label :classification
      = form.select :classification, options_from_collection_for_select(Model.classification_filters, :value, :name, model.classification), { include_blank: true }, {class: 'form-control'}
      %small
        = form_errors model, :classification
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :manufacturer_id)}
      = form.label :manufacturer_id
      = form.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all.order(:name), :id, :name_clean, model.manufacturer_id), { include_blank: true }, {class: 'form-control'}
      %small
        = form_errors model, :manufacturer_id

  .row
    .col-12.col-md-6.form-group{class: form_error?(model, :production_status)}
      = form.label :production_status
      = form.select :production_status, options_from_collection_for_select(Model.production_status_filters, :value, :name, model.production_status), { include_blank: true }, {class: 'form-control'}
      %small
        = form_errors model, :production_status
    .col-12.col-md-6.form-group{class: form_error?(model, :production_note)}
      = form.label :production_note
      = form.text_field :production_note, class: 'form-control'
      %small
        = form_errors model, :production_note

  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :beam)}
      = form.label :beam
      = form.number_field :beam, required: true, min: 0, step: 'any', class: 'form-control'
      %small
        = form_errors model, :beam
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :length)}
      = form.label :length
      = form.number_field :length, required: true, min: 0, step: 'any', class: 'form-control'
      %small
        = form_errors model, :length
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :height)}
      = form.label :height
      = form.number_field :height, required: true, min: 0, step: 'any', class: 'form-control'
      %small
        = form_errors model, :height

  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :size)}
      = form.label :size
      = form.select :size, options_from_collection_for_select(Model.size_filters, :value, :name, model.size), { include_blank: true }, {class: 'form-control'}
      %small
        = form_errors model, :size
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :mass)}
      = form.label :mass
      = form.number_field :mass, required: true, min: 0, step: 'any', class: 'form-control'
      %small
        = form_errors model, :mass
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :cargo)}
      = form.label :cargo
      = form.number_field :cargo, step: 'any', class: 'form-control'
      %small
        = form_errors model, :cargo

  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :hydrogen_fuel_tank_size)}
      = form.label :hydrogen_fuel_tank_size
      = form.number_field :hydrogen_fuel_tank_size, step: 'any', class: 'form-control'
      %small
        = form_errors model, :hydrogen_fuel_tank_size
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :quantum_fuel_tank_size)}
      = form.label :quantum_fuel_tank_size
      = form.number_field :quantum_fuel_tank_size, step: 'any', class: 'form-control'
      %small
        = form_errors model, :quantum_fuel_tank_size

  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :scm_speed)}
      = form.label :scm_speed
      = form.number_field :scm_speed, step: 'any', class: 'form-control'
      %small
        = form_errors model, :scm_speed
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :afterburner_speed)}
      = form.label :afterburner_speed
      = form.number_field :afterburner_speed, step: 'any', class: 'form-control'
      %small
        = form_errors model, :afterburner_speed
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :cruise_speed)}
      = form.label :cruise_speed
      = form.number_field :cruise_speed, step: 'any', class: 'form-control'
      %small
        = form_errors model, :cruise_speed
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :ground_speed)}
      = form.label :ground_speed
      = form.number_field :ground_speed, step: 'any', class: 'form-control'
      %small
        = form_errors model, :ground_speed
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :afterburner_ground_speed)}
      = form.label :afterburner_ground_speed
      = form.number_field :afterburner_ground_speed, step: 'any', class: 'form-control'
      %small
        = form_errors model, :afterburner_ground_speed
  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :pitch_max)}
      = form.label :pitch_max
      = form.number_field :pitch_max, step: 'any', class: 'form-control'
      %small
        = form_errors model, :pitch_max
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :yaw_max)}
      = form.label :yaw_max
      = form.number_field :yaw_max, step: 'any', class: 'form-control'
      %small
        = form_errors model, :yaw_max
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :roll_max)}
      = form.label :roll_max
      = form.number_field :roll_max, step: 'any', class: 'form-control'
      %small
        = form_errors model, :roll_max

  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :min_crew)}
      = form.label :min_crew
      = form.number_field :min_crew, class: 'form-control'
      %small
        = form_errors model, :min_crew
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :max_crew)}
      = form.label :max_crew
      = form.number_field :max_crew, class: 'form-control'
      %small
        = form_errors model, :max_crew
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :dock_size)}
      = form.label :dock_size
      = form.select :dock_size, Model.dock_sizes.keys.map { |w| [w.humanize, w] }, { include_blank: I18n.t(:"helpers.prompt.models.dock_size") }, {class: 'form-control'}
      %small
        = form_errors model, :dock_size
  .row
    .col-12.col-md-3.form-group{class: form_error?(model, :store_image)}
      = form.label :store_image
      = form.file_field :store_image, class: 'form-control'
      - if model.store_image_cache
        = form.hidden_field :store_image_cache
      %br
      - if model.store_image?
        = image_tag(model.store_image.small.url)
        = form.check_box :remove_store_image
        Remove Image
      %small
        = form_errors model, :store_image

    .col-12.col-md-3.form-group{class: form_error?(model, :rsi_store_image)}
      = form.label :rsi_store_image
      = form.file_field :rsi_store_image, class: 'form-control'
      - if model.rsi_store_image_cache
        = form.hidden_field :rsi_store_image_cache
      %br
      - if model.rsi_store_image?
        = image_tag(model.rsi_store_image.small.url)
        = form.check_box :remove_rsi_store_image
        Remove RSI Image
      %small
        = form_errors model, :rsi_store_image

    .col-12.col-md-3.form-group{class: form_error?(model, :brochure)}
      = form.label :brochure
      = form.file_field :brochure, class: 'form-control'
      - if model.brochure_cache
        = form.hidden_field :brochure_cache
      %br
      - if model.brochure?
        %a{href: model.brochure.url}
          = model.brochure
        = form.check_box :remove_brochure
        Remove Brochure
      %small
        = form_errors model, :brochure

    .col-12.col-md-3.form-group{class: form_error?(model, :fleetchart_image)}
      = form.label :fleetchart_image
      = form.file_field :fleetchart_image, class: 'form-control'
      - if model.fleetchart_image_cache
        = form.hidden_field :fleetchart_image_cache
      %br
      - if model.fleetchart_image?
        = image_tag(model.fleetchart_image.url)
        = form.check_box :remove_fleetchart_image
        Remove Image
      %small
        = form_errors model, :fleetchart_image

  .row
    .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :rsi_id)}
      = form.label :rsi_id
      = form.text_field :rsi_id, class: 'form-control'
      %small
        = form_errors model, :rsi_id

  %fieldset
    %legend
      Prices:
    #addition
      .row.fields
        .col-12.col-sm-6.col-md-4
          .form-group{class: form_error?(model, :price)}
            = form.label :price
            = form.number_field :price, step: 'any', placeholder: model.price.to_s, class: 'form-control'
            = form_errors model, :price

        .col-12.col-sm-6.col-md-4
          .form-group{class: form_error?(model, :pledge_price)}
            = form.label :pledge_price
            = form.number_field :pledge_price, step: 'any', placeholder: model.price.to_s, class: 'form-control'
            = form_errors model, :pledge_price

        .col-12.col-sm-6.col-md-4
          .form-group{class: form_error?(model, :last_pledge_price)}
            = form.label :last_pledge_price
            = form.number_field :last_pledge_price, step: 'any', placeholder: model.price.to_s, class: 'form-control'
            = form_errors model, :last_pledge_price

      .row.fields
        .col-12.col-sm-6.col-md-4
          .form-group
            = form.check_box :on_sale, placeholder: I18n.t(:"helpers.placeholder.model.on_sale"), class: 'checkbox'
            = form.label :on_sale do
              = I18n.t(:"activerecord.attributes.model.on_sale")

        .col-12.col-sm-6.col-md-4.form-group{class: form_error?(model, :store_url)}
          = form.label :store_url
          = form.text_field :store_url, class: 'form-control'
          %small
            = form_errors model, :store_url

  %fieldset
    %legend
      Videos:
    #videos
      - if model.videos.any?
        = form.fields_for :videos, model.videos do |builder|
          = render 'models/video_fields', fields: builder

    .d-flex.justify-content-end
      .btn-group-responsive
        = link_to_add_fields form, :videos, name: I18n.t(:"actions.add"), class: "btn btn-dark", target: "#videos" do
          %i.fa.fa-plus
          = I18n.t(:"actions.add_video")

  %fieldset
    %legend
      Docks:
    #docks
      - if model.docks.any?
        = form.fields_for :docks, model.docks do |builder|
          = render 'models/dock_fields', fields: builder

    .d-flex.justify-content-end
      .btn-group-responsive
        = link_to_add_fields form, :docks, name: I18n.t(:"actions.add"), class: "btn btn-dark", target: "#docks" do
          %i.fa.fa-plus
          = I18n.t(:"actions.add_dock")

  = render "shared/submit", path: admin_models_path
