@import '~stylesheets/variables';

.nav-item-inner {
  position: relative;
  height: 24px;
  white-space: nowrap;
  transition: height ease $transition-base-speed;

  .nav-item-image {
    max-width: 24px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: top;
    transition: max-width ease $transition-base-speed, margin ease $transition-base-speed;
  }

  .nav-item-image-empty {
    position: absolute;
    left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    overflow: hidden;
    font-size: 70%;
    font-family: 'Orbitron', sans-serif;
    background-color: $gray-darker;
    border-radius: 50%;
  }

  .nav-item-text {
    margin-left: 34px;
  }

  &.nav-item-inner-slim {
    height: 30px;

    .nav-item-image {
      max-width: 30px;
      margin: 0;
      vertical-align: top;
    }

    .nav-item-image-empty {
      left: 0;
      width: 30px;
      height: 30px;
    }
  }
}
