@import '~stylesheets/variables';

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: $gray-darker;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba($gray-dark, .8);

  img {
    max-height: 100%;
    border-radius: 50%;
  }

  .no-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $gray-lighter;
    font-size: 30px;
  }

  .edit {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding-bottom: 5px;
    background-color: rgba($gray-dark, .8);
    transition: color .5s ease;

    i,
    svg {
      margin-right: 10px;
    }
  }

  &.avatar-small {
    width: 40px;
    min-width: 40px;
    height: 40px;

    .no-avatar {
      font-size: 15px;
    }
  }

  &.avatar-large {
    width: 200px;
    min-width: 200px;
    height: 200px;

    .no-avatar {
      font-size: 60px;
    }
  }

  &.avatar-editable {
    .edit {
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

  &.avatar-transparent {
    background-color: transparent;
    box-shadow: none;
  }
}
