.background-image {
  display: block;
  position: fixed;
  opacity: .4;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image ease .5s;
  background-color: black;
  background-image: url('~images/bg-6.jpg');

  &.webp {
    background-image: url('~images/bg-6.webp');
  }
}
