.btn {
  transition: all ease $transition-base-speed;
}

.close {
  color: $text-color;
  transition: opacity $transition-base-speed ease;
  opacity: 0.6;
  float: right;
  font-size: 22px;
  line-height: 1;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.page-actions {
  text-align: right;

  &.page-actions-left {
    text-align: left;
  }
}

a,
.btn-link {
  color: $text-color;
  text-decoration: none;
  transition: all ease 0.5s;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:focus {
    color: $text-color;
    text-decoration: none;
  }
}

.input-group {
  .btn {
    padding: 8px 12px 9px;
  }

  .btn-lg {
    padding: 10px 16px;
  }
}

.btn-filter {
  font-size: 1em;
  z-index: 1030;
  position: fixed;
  top: 10px;
  margin-right: 15px;
  right: 0;
}

.navbar-visible {
  .btn-filter {
    right: -80vw;
  }
}

.btn-block + .btn-block {
  margin-top: 0;
}

$panel-border-width: 2px;
$panel-border-radius: 10px;
$panel-content-border-radius: 6px;

.panel-btn {
  background: $panel-bg;
  transition: all $transition-base-speed ease;
  position: relative;
  opacity: 1;
  padding: 2px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 20px;
  min-width: 50px;
  border: $panel-border-width solid $panel-inner-border;
  border-radius: $panel-border-radius;

  &::before {
    content: "";
    height: $panel-border-width;
    background-color: #444;
    position: absolute;
    top: -$panel-border-width;
    left: 14px;
    right: 14px;
  }

  &::after {
    content: "";
    height: $panel-border-width;
    background-color: #444;
    position: absolute;
    bottom: -$panel-border-width;
    left: 14px;
    right: 14px;
  }

  .panel-btn-inner {
    transition: all $transition-base-speed ease;
    border-radius: $panel-content-border-radius;
    color: $text-color;
    padding: 6px 14px;
    font-size: 110%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  &.panel-btn-clear {
    background: transparent;
  }

  &.panel-btn-clean {
    background: transparent;
    border: none;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    &:hover {
      background: transparent;
      border: none;

      .panel-btn-inner {
        background: transparent !important;
        color: white !important;
      }
    }
  }

  &.panel-btn-small {
    min-width: 40px;

    .panel-btn-inner {
      padding: 5px 10px;
      font-size: 90%;
    }
  }

  &.panel-btn-large {
    min-width: 62px;

    .panel-btn-inner {
      padding: 8px 16px;
      font-size: 130%;
    }
  }

  &.panel-btn-danger {
    .panel-btn-inner {
      color: $danger;
    }
  }

  &.panel-btn-block {
    width: 100%;
  }

  &[disabled] {
    opacity: 0.5;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover:not([disabled]),
  &.active {
    .panel-btn-inner {
      background-color: $panel-inner-border;
      color: invert($text-color);
    }
  }

  &:active:not([disabled]) {
    animation-name: flash;
    animation-duration: 0.5s;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}

@media (max-width: $desktop-breakpoint) {
  .panel-btn {
    &.panel-btn-block,
    &.panel-btn-mobile-block,
    &:last-child:first-child {
      width: 100%;
    }

    &.panel-btn-mobile-block {
      margin-right: 0;
      clear: both;
    }
  }

  .page-actions {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .panel-btn {
      flex-grow: 1;
    }
  }
}
