.page-actions {
  text-align: right;

  &.page-actions-left {
    text-align: left;
  }
}

a {
  color: $text-color;
  text-decoration: none;
  transition: all ease .5s;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:focus {
    color: $text-color;
    text-decoration: none;
  }
}

$panel-border-width: 2px;
$panel-border-radius: 10px;
$panel-content-border-radius: 6px;

.panel-btn {
  background: $panel-bg;
  transition: all $transition-base-speed ease;
  position: relative;
  opacity: 1;
  padding: 2px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 20px;
  min-width: 50px;
  min-height: 43px;
  border: $panel-border-width solid $panel-inner-border;
  border-radius: $panel-border-radius;
  cursor: pointer;

  &::before {
    content: '';
    height: $panel-border-width;
    background-color: #444;
    position: absolute;
    top: -$panel-border-width;
    left: 14px;
    right: 14px;
  }

  &::after {
    content: '';
    height: $panel-border-width;
    background-color: #444;
    position: absolute;
    bottom: -$panel-border-width;
    left: 14px;
    right: 14px;
  }

  .panel-btn-inner {
    transition: all $transition-base-speed ease;
    border-radius: $panel-content-border-radius;
    color: $text-color;
    padding: 6px 14px;
    font-size: 110%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  &.panel-btn-transparent {
    background: transparent;
  }

  &.panel-btn-link {
    background: transparent;
    border: none;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }

    &:hover {
      background: transparent;
      border: none;

      .panel-btn-inner {
        background: transparent !important;
        color: white !important;
      }
    }
  }

  &.panel-btn-small {
    min-width: 40px;
    min-height: 39px;

    .panel-btn-inner {
      padding: 5px 10px;
      font-size: 100%;
    }
  }

  &.panel-btn-large {
    min-width: 62px;
    min-height: 51px;

    .panel-btn-inner {
      padding: 8px 16px;
      font-size: 130%;
    }
  }

  &.panel-btn-submit {
    min-width: 140px;
  }

  &.panel-btn-inline {
    margin-bottom: 0;
  }

  &.panel-btn-text-inline {
    margin: 0;
    padding: 0;
    min-height: auto;

    .panel-btn-inner {
      padding: 0;
      margin: 0;
      color: $text-color !important;
      background-color: transparent !important;
    }
  }

  &.panel-btn-block {
    width: 100%;
  }

  &[disabled] {
    opacity: .5;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover:not([disabled]),
  &.active {
    .panel-btn-inner {
      background-color: $panel-inner-border;
      color: invert($text-color);
    }
  }

  &:active:not([disabled]) {
    animation-name: flash;
    animation-duration: .5s;
  }

  &.panel-btn-danger {
    .panel-btn-inner {
      color: $danger;
    }
  }
}

.panel-btn-toggle {
  .panel-btn-inner {
    display: inline-block;
    box-sizing: border-box;
    min-width: 32px;
    width: 50%;

    &:first-child {
      margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &.active-left {
    .panel-btn-inner:first-child {
      background-color: $panel-inner-border;
      color: invert($text-color);
    }

    .panel-btn-inner:last-child {
      background-color: transparent;
      color: $text-color;
    }
  }

  &.active-right {
    .panel-btn-inner:first-child {
      background-color: transparent;
      color: $text-color;
    }

    .panel-btn-inner:last-child {
      background-color: $panel-inner-border;
      color: invert($text-color);
    }
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: .5;
  }
}

@media (max-width: $desktop-breakpoint) {
  .page-actions {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .panel-btn {
      flex-grow: 1;
    }
  }

  .panel-btn {
    &.panel-btn-block,
    &.panel-btn-mobile-block,
    &:last-child:first-child {
      width: 100%;
    }

    &.panel-btn-mobile-block {
      margin-right: 0;
      clear: both;
    }

    .panel-btn-inner {
      white-space: normal;
    }
  }
}
