// .close {
//   color: $text-color;
//   transition: opacity $transition-base-speed ease;
//   opacity: .6;
//   float: right;
//   font-size: 22px;
//   line-height: 1;
//   cursor: pointer;

//   &:hover {
//     opacity: 1;
//   }
// }

.page-actions {
  text-align: right;

  &.page-actions-left {
    text-align: left;
  }
}

a {
  color: $text-color;
  text-decoration: none;
  transition: all ease .5s;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:focus {
    color: $text-color;
    text-decoration: none;
  }
}

// .btn-filter {
//   font-size: 1em;
//   z-index: 1030;
//   position: fixed;
//   top: 10px;
//   margin-right: 15px;
//   right: 0;
// }

// .nav-visible {
//   .btn-filter {
//     right: -80vw;
//   }
// }

@media (max-width: $desktop-breakpoint) {
  .page-actions {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .panel-btn {
      flex-grow: 1;
    }
  }
}
