@import '~stylesheets/variables';

.compare-models {
  &.scrolled-top {
    .compare-row-headline {
      .compare-row-item .compare-title {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        margin: 0 15px;
        transition: top .1s linear;
      }
    }

    .compare-wrapper {
      margin-top: 70px;
    }
  }

  &.scrolled-left {
    .compare-wrapper {
      .compare-row-label {
        z-index: 999;
        background: linear-gradient(to right, transparent, $gray-darker, $gray-darker);
        transition: left .1s linear;
      }

      .compare-row:last-child {
        .compare-row-label {
          border-bottom-right-radius: $border-radius-base;
        }
      }
    }

    .compare-section {
      .compare-row-label {
        border-top-right-radius: $border-radius-base;
      }
    }
  }

  .compare-image {
    position: relative;
    height: 180px;
    overflow: hidden;

    & > a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .6);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: $border-radius-base;
      -webkit-animation-name: fadein;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .remove-model {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 20px solid $gray-darker;
      border-right: 20px solid $gray-darker;
      border-bottom: 20px solid transparent;
      border-left: 20px solid transparent;
      border-top-right-radius: $border-radius-base;
      cursor: pointer;

      i {
        position: absolute;
        top: -15px;
        right: -15px;
        color: #fff;
      }
    }
  }

  .compare-title {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 120%;
    background-color: $gray-darker;
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  .compare-row {
    display: flex;

    .compare-row-item {
      flex: 1;
      min-width: 400px;
      max-width: 33%;
      padding-bottom: 10px;
    }

    .compare-row-label {
      flex: 1;
      min-width: 300px;
      max-width: 20%;
      margin-top: 0;
      padding-top: 6px;
    }
  }

  .compare-section {
    margin-top: 30px;

    .metrics-title {
      position: relative;
      padding-right: 25px;
      cursor: pointer;

      i {
        position: absolute;
        top: 2px;
        right: 0;
        transition: all .5s ease;
      }

      &.active {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .compare-models {
    .metrics-label,
    .metrics-title {
      text-align: center;
    }

    .compare-section {
      .metrics-title {
        padding-right: 0;

        i {
          right: 15px;
        }
      }
    }
  }
}
