.fleetchart-wrapper {
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.fleetchart {
  justify-content: space-around;
  align-items: center;
  align-content: center;

  .fleetchart-item {
    margin: 30px 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer;

    a {
      display: block;
    }

    .fleetchart-item-image {
      transform: rotate(180deg);
    }
  }
}

.fleetchart-slider {
  margin-bottom: 20px;
}

.fleetchart-item-context-menu {
  position: fixed;
}

@media (max-width: $desktop-breakpoint) {
  .fleetchart {
    justify-content: center;
  }
}
