.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  &::before,
  &::after {
    display: none;
  }

  &.flex-center {
    justify-content: center;
    align-items: center;
  }
}

.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  transition: width ease $transition-base-speed;
}

.input-group-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;

  > input,
  > select,
  > textarea,
  > button,
  > div {
    margin-right: 5px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.flex-list > .flex-list-item > .flex-list-row,
.flex-list > .flex-list-heading > .flex-list-row {
  display: flex;
  flex-direction: row;
  transition: width ease $transition-base-speed;

  &::after {
    content: '';
    bottom: 0;
    position: absolute;
    height: 1px;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    background-color: $gray;
  }

  .id {
    width: 350px;
  }

  .name {
    width: 300px;
  }

  .manufacturer,
  .username,
  .fleet-name {
    flex-grow: 1;
  }

  .store-image {
    width: 178px;
    max-width: 100%;

    .image {
      width: 150px;
      height: 150px;
      margin: 5px 0;
      background-size: cover;
      background-color: black;
      background-position: center;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border-radius: $border-radius-base;
      box-shadow: 0 0 5px black;
    }

    &.wide {
      width: 278px;

      .image {
        width: 250px;
        height: 100px;
      }
    }

    &.small {
      width: 128px;

      .image {
        width: 100px;
        height: 100px;
      }
    }
  }

  .description {
    flex-grow: 1;
    white-space: normal;
    max-width: 100%;
    padding-bottom: 15px;
    overflow: hidden;

    h2 {
      font-size: 20px;
      margin-top: 5px;
      font-family: 'Orbitron', sans-serif;
      font-weight: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
    }
  }

  .empty {
    flex-grow: 1;
    text-align: center;
    color: darken($text-color, 20%);
  }

  .price,
  .size,
  .rent-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 150px;
    max-width: 100%;
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;

    .price-label {
      display: none;
    }
  }

  .actions {
    min-width: 150px;
    max-width: 100%;
    text-align: right;
    vertical-align: middle;
    padding-left: 20px;
  }

  .joined,
  .role {
    text-align: right;
  }

  > .avatar {
    min-width: 70px;
  }

  .rent-price,
  .role,
  .joined {
    min-width: 250px;
  }
}

.flex-list > .flex-list-heading > .flex-list-row {
  .price,
  .size,
  .rent-price {
    font-weight: bold;
  }
}

.flex-list > .flex-list-item > .flex-list-row {
  .name {
    min-height: 100px;
  }
}

.flex-list-item:last-child > .flex-list-row,
.flex-list > .flex-list-heading > .flex-list-row {
  &::after {
    display: none;
  }
}

@media (min-width: $desktop-breakpoint) {
  .flex-list > .flex-list-heading > .flex-list-row {
    border-bottom: 1px solid $gray;

    & > div {
      padding: 10px;
      color: darken($text-color, 20%);

      &:last-child {
        padding-right: 20px;
      }

      &:first-child {
        padding-left: 20px;
      }
    }
  }

  .flex-list > .flex-list-item > .flex-list-row {
    &:hover {
      > div:first-child::before,
      > div:last-child::before {
        opacity: 1;
      }
    }

    & > div {
      padding: 10px;

      &:first-child,
      &:last-child {
        position: relative;

        &::before {
          content: '';
          opacity: 0;
          position: absolute;
          top: 50%;
          height: 60px;
          margin-top: -30px;
          width: 4px;
          background-color: $primary;
        }
      }

      &:last-child {
        padding-right: 20px;

        &::before {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          box-shadow: -3px 0 10px rgba(darken($primary, 20%), .9), 0 3px 10px rgba(darken($primary, 20%), .9), 0 -3px 10px rgba(darken($primary, 20%), .9);
          right: 0;
        }
      }

      &:first-child {
        padding-left: 20px;

        &::before {
          left: 0;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          box-shadow: 3px 0 10px rgba(darken($primary, 20%), .9), 0 3px 10px rgba(darken($primary, 20%), .9), 0 -3px 10px rgba(darken($primary, 20%), .9);
        }
      }
    }

    .store-image {
      padding-left: 20px;
    }
  }

  .flex-list-users > .flex-list-item > .flex-list-row {
    align-items: center;

    & > div {
      &:first-child,
      &:last-child {
        &::before {
          height: 30px;
          margin-top: -15px;
        }
      }
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .flex-list > .flex-list-heading {
    display: none;
  }

  .flex-list > .flex-list-item > .flex-list-row {
    flex-direction: column;

    & > div {
      padding: 10px;
    }

    .store-image {
      padding-left: 10px;
      width: 100%;

      .image {
        width: 100%;
      }
    }

    .actions {
      padding-right: 10px;
      width: 100%;
    }

    .price,
    .rent-price {
      flex-direction: row;

      .price-label {
        display: inline;
      }
    }
  }
}
