$color1: #f4f4f4;
$color2: #3197ee;

.radio {
  padding: 0;
  margin-top: 0;
  margin-right: 5px;

  &.radio-inline {
    display: inline-block;
  }

  label {
    padding: 0;
    padding-top: 2px;
  }

  input[type='radio'] {
    position: absolute;
    opacity: 0;

    + .radio-label::before {
      content: '';
      background: $input-bg;
      border-radius: 100%;
      border: 1px solid $input-border;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-top: -2px;
      vertical-align: top;
      margin-right: 5px;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease;
    }

    &:checked + .radio-label::before {
      background-color: $primary;
      box-shadow: inset 0 0 0 4px $input-bg;
    }

    &:focus + .radio-label::before {
      outline: none;
      border-color: $primary;
    }

    &:disabled,
    &:disabled + .radio-label,
    &:disabled + .radio-label::before {
      cursor: not-allowed;
    }

    &:disabled + .radio-label::before {
      opacity: .9;
    }

    &:disabled:checked + .radio-label::before {
      background: lighten($input-bg, 10%);
    }
  }
}
