.noty_buttons {
  padding: 0 1.25em 1.25em !important;
  text-align: right;
}

a {
  color: white;
  font-weight: bold;

  &:hover {
    color: $text-color;
  }

  &:focus {
    color: white;
  }
}

#noty-confirm {
  border-radius: $border-radius-base;
  background-color: #2e3338;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

  .noty_body {
    color: $text-color;
  }

  .noty_close_button {
    color: $text-color;

    &:hover {
      color: white;
    }
  }
}
