.noty_bar {
  border-radius: $border-radius-base;
}

.noty_body {
  a {
    color: white;
    font-weight: bold;

    &:hover {
      color: $text-color;
    }

    &:focus {
      color: white;
    }
  }
}

.noty_icon {
  width: 100%;
  background-color: black;

  img {
    width: 100%;
  }
}

.noty_buttons {
  padding: 0 1.25em 1.25em !important;
  text-align: right;
}

.noty_close_button {
  display: none;
  color: $text-color;
  background-color: transparent;

  &.override {
    display: block;
  }

  &:hover {
    color: white;
    background-color: transparent;
  }
}

#noty-confirm {
  background-color: #2e3338;

  .noty_body {
    color: $text-color;
  }
}
