$outerBorderWidth: 2px;
$outerBorderRadius: $panelOuterBorderRadius;
$innerBorderWidth: 3px;
$innerBorderRadius: $panelInnerBorderRadius;
$contentBorderRadius: $panelContentBorderRadius;

.panel-wrapper {
  border: $outerBorderWidth solid $panel-outer-border;
  padding: $outerBorderWidth;
  border-radius: $outerBorderRadius;
  position: relative;
  box-sizing: border-box;

  &.panel-outer-spacing {
    margin-bottom: 21px;
  }

  &::before {
    content: "";
    height: $outerBorderWidth;
    background-color: #444;
    position: absolute;
    top: -$outerBorderWidth;
    left: 80px;
    right: 80px;
  }

  &::after {
    content: "";
    height: $outerBorderWidth;
    background-color: #444;
    position: absolute;
    bottom: -$outerBorderWidth;
    left: 80px;
    right: 80px;
  }
}

.panel {
  border: $innerBorderWidth solid $panel-inner-border;
  background-color: $panel-bg;
  box-shadow: 0 1px 1px rgba(#000, 0.05);
  border-radius: $innerBorderRadius;
  min-height: $innerBorderRadius * 2;
  position: relative;

  &::before {
    content: "";
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    height: ($innerBorderWidth + 1);
    background-color: #444;
    position: absolute;
    top: -$innerBorderWidth;
    left: 40px;
    right: 40px;
  }

  &::after {
    content: "";
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    height: ($innerBorderWidth + 1);
    background-color: #444;
    position: absolute;
    bottom: -$innerBorderWidth;
    left: 40px;
    right: 40px;
  }

  .panel-heading {
    padding: 10px 15px;

    .panel-title {
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 30px;

      > a {
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      small {
        color: darken($text-color, 20%);

        a {
          color: darken($text-color, 20%);

          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }

  .panel-body {
    padding: 15px;
    padding-bottom: 0;
  }

  .panel-image {
    height: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;

    & > a {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;

      &[lazy=loading]::before {
        content: "";
        background-image: url('~images/loading.gif');
        background-size: 100%;
        background-position: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        width: 50px;
        height: 50px;
      }

      &[lazy=error] {
        background-image: url('~images/store_image.jpg') !important;
      }
    }

    &:last-child {
      border-bottom: none;
      border-bottom-right-radius: $contentBorderRadius;
      border-bottom-left-radius: $contentBorderRadius;
    }
  }

  .panel-inner {
    border-radius: $contentBorderRadius;
  }

  .btn-group {
    .btn:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .list-group-item {
    background: transparent;
  }

  .list-group,
  table {
    margin-bottom: 0;
  }

  table:first-child tbody:first-child tr:first-child td,
  table:first-child thead tr:first-child th,
  .list-group:first-child .list-group-item:first-child {
    border-top: none;
  }

  .list-group:last-child .list-group-item:last-child {
    border-bottom: none;
  }

  .list-group .list-group-item {
    border-width: 0 0 1px;
    border-radius: 0;
  }

}
