.pill {
  display: inline-block;
  padding: 6px 10px;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  background-color: $primary;
  border-radius: $border-radius-base;

  &.pill-success {
    background-color: $success;
  }

  &.pill-danger {
    background-color: $danger;
  }

  &.pill-warning {
    background-color: $warning;
  }
}
