.primary-action {
  position: fixed;
  right: 6px;
  bottom: 6px;
  z-index: 1000;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 59px;
  height: 59px;
  margin: 10px;
  padding: 2px;
  font-size: 160%;
  background-color: rgba($gray-darker, .9);
  border: $panel-border-width solid $panel-inner-border;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(black, .5);
  cursor: pointer;
  transition: all ease .5s;

  .primary-action-inner {
    width: 100%;
    height: 100%;
    padding: 6px 14px;
    color: $text-color;
    font-size: 110%;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 50%;
    transition: all $transition-base-speed ease;
  }

  &[disabled] {
    opacity: .5;
  }

  &:hover:not([disabled]),
  &.active {
    .primary-action-inner {
      color: invert($text-color);
      background-color: $panel-inner-border;
    }
  }

  &:active:not([disabled]) {
    animation-name: flash;
    animation-duration: .5s;
  }
}
