.roadmap {
  .show-released {
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    color: darken($text-color, 10%);
    margin-bottom: 30px;
  }

  .release-progress {
    margin-bottom: 20px !important;
  }

  .release {
    margin-bottom: 30px;
    position: relative;

    h2 {
      margin-bottom: 20px;

      &.toggleable {
        cursor: pointer;
      }

      i {
        transition: all .5s ease;
        position: absolute;
        right: 20px;
        top: 0;
      }

      .released-label {
        text-transform: uppercase;
        color: darken($text-color, 20%);
      }

      &.open {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  .progress {
    position: relative;
    margin: 0;

    .progress-label {
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
    }

    .progress-bar {
      background-color: $primary;

      &.completed {
        background-color: $success;
      }

      &.active {
        background-color: $warning;
      }
    }
  }

  .release > .collapse > .progress {
    margin-bottom: 20px;
  }

  .roadmap-item {
    display: flex;

    .item-body {
      position: relative;
      padding: 15px;
      flex: .8;
    }

    .item-image {
      flex: .2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-left-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
      opacity: .8;
      position: relative;

      .roadmap-item-updated {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $success;
        box-shadow: 0 0 3px $gray-darker;
      }
    }

    a {
      color: $text-color;
    }

    h3 {
      font-size: 20px;
      font-family: 'Orbitron', tahoma, sans-serif;
      font-weight: 400;
      position: relative;

      i {
        margin-left: 5px;
      }
    }

    p {
      z-index: 20;
      position: relative;
      margin-bottom: 10px;
    }
  }
}
