.teaser-panel {
  display: flex;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;

  .teaser-panel-item {
    flex-basis: 33%;
    flex-grow: 1;
  }

  .teaser-panel-body {
    padding: 15px;
  }

  .teaser-panel-image {
    position: relative;
    overflow: hidden;
    opacity: .8;
  }

  a {
    color: $text-color;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Orbitron', tahoma, sans-serif;
    text-align: right;
  }

  p {
    position: relative;
    z-index: 20;
  }

  > :first-child {
    border-top-left-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;
  }

  > :last-child {
    border-top-right-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;
  }

  &.teaser-panel-text {
    .teaser-panel-body {
      flex-basis: 66%;
    }
  }

  &.teaser-panel-fullscreen {
    .teaser-panel-image {
      min-height: 200px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
