h2,
h3,
h4 {
  margin-top: 0;
}

h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

address {
  .name {
    font-size: 1.2em;
    color: #999;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
  }
}

blockquote {
  small {
    a {
      color: $gray-light;

      &:hover {
        color: white;
      }
    }
  }
}

h1,
.navbar-brand {
  font-family: 'Orbitron', sans-serif;

  small {
    font-family: 'Open Sans', sans-serif;
  }
}

.app-title {
  font-family: 'Orbitron', sans-serif;
}

.no-wrap {
  white-space: nowrap;
}

.price-info {
  font-size: 70%;
}

a.back-button {
  padding-right: 5px;
  cursor: pointer;
}

.panel-title {
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;

  small {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }
}
