.v-select {
  background-color: $input-bg;
  color: $input-color;
  border: 1px solid $input-border;
  border-radius: $border-radius-base;
  margin-bottom: 10px;

  .selected-tag {
    color: $input-color !important;
  }

  .clear {
    bottom: 7px !important;
    color: $input-color !important;
  }

  .open-indicator {
    bottom: 4px !important;

    &::before {
      border-color: $input-color !important
    }
  }

  .dropdown-menu {
    background: rgba($input-bg, 0.9) !important;
  }

  &.open {
    .open-indicator {
      bottom: 1px !important;
    }
  }
}
