:root {
  color-scheme: light dark;
}

a,
input[type="button"],
button {
  outline: 0 none !important;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

hr {
  height: 3px;
  margin: 20px 5%;
  background-color: $gray;
  border: none;
  border-radius: 50%;

  &.large-spacer {
    margin: 60px 5%;
  }

  &.dark {
    background-color: $gray-black;
  }

  &.slim-spacer {
    margin: 10px 5%;
  }

  &.space-bottom {
    margin-bottom: 30px;
  }
}

.page-main-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
