.component-panel {
  &-footer {
    padding: 10px 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  &-add-to-cart-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 6px;
    font-size: 18px;

    > :first-child {
      font-size: 18px;
    }
  }
}
