.form-toggle {
  margin-bottom: 1rem;
  display: flex;

  input {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    & + label .form-toggle-switch {
      display: inline-block;
      position: relative;
      width: 44px;
      height: 24px;
      background: $input-bg;
      border: 1px solid $input-border;
      border-radius: 12px;
      transition: all 250ms ease;
      flex-shrink: 0;

      &::after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background: $gray-lighter;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: all 250ms ease;
      }
    }

    &:checked + label .form-toggle-switch {
      background: $primary;
      border-color: $primary;

      &::after {
        left: 22px;
        background: #fff;
      }
    }

    &:hover:not(:disabled) + label .form-toggle-switch {
      border-color: $gray;
    }

    &:checked:hover:not(:disabled) + label .form-toggle-switch {
      border-color: darken($primary, 10%);
    }

    &:focus + label .form-toggle-switch {
      outline: none;
      box-shadow: 0 0 0 1px $primary;
    }

    &:disabled + label {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &--expanded {
    margin-top: 30px;
  }

  &--inline {
    margin-bottom: 0;
  }
}
