@import '~stylesheets/variables';

.teaser-panel {
  display: flex;

  .teaser-panel-body {
    padding: 15px;
    width: 66%;
  }

  .teaser-panel-image {
    width: 33%;
    border-top-left-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;
    opacity: .8;
    position: relative;
    height: auto;
  }

  a {
    color: $text-color;
  }

  h3 {
    font-size: 20px;
    font-family: 'Orbitron', tahoma, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  p {
    z-index: 20;
    position: relative;
  }
}
