@import "~stylesheets/variables";

.ship-image {
  width: 100%;
  border-radius: $border-radius-base;
}

form.addons {
  min-height: 100px;

  fieldset {
    margin-top: 20px;

    legend {
      margin-bottom: 5px;
      border: none;
    }
  }
}

.modules,
.upgrades {
  .model-panel {
    cursor: pointer;
    display: flex;
    position: relative;
    overflow: hidden;

    .model-panel-selected {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 30px solid $success;
      border-top: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid $success;

      i {
        color: #fff;
        position: absolute;
        bottom: -20px;
        left: -20px;
      }
    }

    .model-panel-body {
      padding: 15px;
      flex: 0.5;
      min-height: 80px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }

    .model-panel-image {
      flex: 0.5;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.8;
    }

    h3 {
      text-align: right;
      font-size: 20px;
      margin-bottom: 0;
      font-family: 'Orbitron', tahoma, sans-serif;
      font-weight: 400;
    }
  }
}
