@import '~stylesheets/variables';

.user-menu {
  min-height: 60px;

  .avatar {
    position: absolute;
    top: 10px;
    left: 30px;
    transition: left ease $transition-base-speed;
  }

  .username {
    display: block;
    padding-top: 6px;
    padding-right: 20px;
    padding-left: 50px;
    font-size: 20px;
  }

  &.user-menu-slim {
    > :first-child {
      height: 60px;
    }

    .avatar {
      top: auto;
      left: 20px;
    }
  }
}
