.app-shopping-cart {
  position: fixed !important;
  bottom: 0;
  left: 50%;
  margin-left: 150px;
  transform: translateX(-50%);
  transition: left ease $transition-base-speed, right ease $transition-base-speed, width ease $transition-base-speed;

  &.panel-btn .panel-btn-inner {
    text-align: left;
  }

  &.nav-slim {
    margin-left: 40px;
  }

  .items-label,
  .price-label {
    padding-left: 10px;
  }
}

.app-shopping-cart-mobile {
  position: relative;

  .app-shopping-cart-count {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: $gray-dark;
    font-size: $font-size-base * .85;
    background-color: $text-color;
    border-radius: 50%;
  }
}

@media (max-width: $desktop-breakpoint) {
  .app-shopping-cart {
    right: 15px;
    bottom: $navigation-mobile-height;
    left: 15px;
    margin-left: 0;
    transform: none;

    &.nav-slim {
      margin-left: 0;
    }
  }

  .nav-visible {
    .app-shopping-cart {
      right: 300px;
      left: -300px;
    }
  }
}

@media (max-width: 370px) {
  .nav-visible {
    .app-shopping-cart {
      right: 250px;
      left: -250px;
    }
  }
}
