@import '~stylesheets/variables';

.compare-models {
  .compare-image {
    position: relative;
    height: 180px;
    overflow: hidden;

    & > a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: $border-radius-base;
      -webkit-animation-name: fadein;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .remove-model {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 20px solid $gray-darker;
      border-right: 20px solid $gray-darker;
      border-bottom: 20px solid transparent;
      border-left: 20px solid transparent;
      border-top-right-radius: $border-radius-base;
      cursor: pointer;

      i {
        position: absolute;
        top: -15px;
        right: -15px;
        color: #fff;
      }
    }
  }

  .compare-title {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 120%;
    background-color: $gray-darker;
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  .compare-row {
    display: flex;
    flex-wrap: nowrap;

    .compare-row-item {
      flex: 1;
      min-width: 400px;
      max-width: 33%;
      padding-bottom: 10px;
    }

    .compare-row-label {
      left: 220px;
      flex: 1;
      width: 300px;
      min-width: 300px;
      max-width: 20%;
      margin-top: 0;
      padding-bottom: 10px;

      &.sticky-left {
        background: linear-gradient(to right, transparent, $gray-darker);
      }
    }

    &:last-child {
      .compare-row-label {
        border-bottom-right-radius: $border-radius-base;
      }
    }
  }

  .compare-section {
    margin-top: 30px;

    .compare-row-label {
      padding-top: 10px;
      border-top-right-radius: $border-radius-base;
    }

    .metrics-title {
      position: relative;
      padding-right: 25px;
      cursor: pointer;

      i {
        position: absolute;
        top: 4px;
        right: 0;
        transition: all 0.5s ease;
      }

      &.active {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  .compare-row-headline {
    .compare-row-label {
      left: 0;
    }
  }
}

.nav-slim {
  .compare-row {
    .compare-row-label {
      left: 0;
    }
  }
}

@media (max-width: 992px) {
  .compare-models {
    overflow: auto;

    .metrics-label,
    .metrics-title {
      text-align: center;
    }
  }
}
