.erkul-link {
  small {
    color: darken($text-color, 20%);
    transition: all ease 0.5s;
  }

  i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('~images/sc_dps_calculator.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all ease 0.5s;
  }

  &:hover {
    small {
      color: $gray-darker;
    }

    i {
      background-image: url('~images/sc_dps_calculator_black.png');
    }
  }
}
