.fleetchart-wrapper {
  width: 100px;
  position: relative;

  .fleetchart-controls {
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
  }

  .fleetchart-grid-label {
    position: fixed;
    opacity: 0;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    text-shadow: 0 0 2px black;
    transition: opacity $transition-base-speed ease;

    &.fleetchart-grid-enabled {
      opacity: 1;
    }
  }
}

.fleetchart-scroll-wrapper {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.fleetchart-grid {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transition: opacity $transition-base-speed ease;

  &.fleetchart-grid-enabled {
    opacity: 1;
  }
}

.fleetchart {
  height: 90vh;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  display: flex;
  z-index: 1;
  position: relative;
  transition: height $transition-base-speed ease;


  &.fleetchart-1_5x {
    height: 135vh
  }

  &.fleetchart-2x {
    height: 180vh
  }

  &.fleetchart-3x {
    height: 270vh
  }

  &.fleetchart-4x {
    height: 360vh
  }

  .fleetchart-item {
    padding: 30px 20px;
    min-width: 0;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      display: block;
    }

    > span {
      text-align: center;
    }

    .fleetchart-item-label {
      font-size: 120%;
      font-family: 'Orbitron', sans-serif;
      margin-right: 20px;
      color: darken($text-color, 10%);

      small {
        display: block;
        color: darken($text-color, 30%);
      }
    }
  }

  .status-in-concept {
    filter: opacity(0.5) drop-shadow(0 0 0 black);
  }

  .status-in-production {
    filter: opacity(0.5) drop-shadow(0 0 0 #06f);
  }
}

.fleetchart-download-image {
  display: none;
}

.fleetchart-download {
  .fleetchart-download-image {
    display: block;
    position: absolute;
    bottom: 5px;
    width: 120px;
    height: 120px;
    right: 5px;

    img {
      width: 120px;
      height: 120px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .fleetchart-wrapper {
    .fleetchart-grid-label {
      bottom: 90px;
      left: 10px;
      right: 10px;
      text-align: center;
    }
  }
}
