.fleetchart-wrapper {
  position: relative;

  .fleetchart-controls {
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 1000;
    display: flex;
  }

  .fleetchart-grid-label {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    text-shadow: 0 0 2px black;
    opacity: 0;
    transition: opacity $transition-base-speed ease;

    &.fleetchart-grid-enabled {
      opacity: 1;
    }
  }
}

.fleetchart-grid {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity $transition-base-speed ease;

  &.fleetchart-grid-enabled {
    opacity: 1;
  }
}

.fleetchart-slider {
  width: 50%;
  position: fixed;
  top: 40px;
  left: 25%;
  z-index: 1000;
}

.fleetchart-download-image {
  display: none !important;
}

.fleetchart-download {
  .fleetchart-download-image {
    display: inherit !important;

    img {
      width: 120px;
      height: 120px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .fleetchart-wrapper {
    .fleetchart-grid-label {
      right: 10px;
      bottom: 90px;
      left: 10px;
      text-align: center;
    }
  }
}
