.fleetchart-app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  height: 100vh;
  overflow: hidden;
  background-color: #111;
  outline: 0;
  transition: opacity $transition-base-speed ease-in-out,
    transform $transition-base-speed ease-in-out;

  &.fade {
    transform: scale(0);
    opacity: 0;

    &.in {
      transform: scale(1);
      opacity: 1;
    }
  }

  .fleetchart-app-mode {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 1000;
  }

  .fleetchart-app-close {
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 2001;
    margin-top: env(safe-area-inset-top);
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-left);
  }
}
