.fleetchart-wrapper {
  width: 100px;
}

.fleetchart-scroll-wrapper {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.fleetchart {
  max-height: 100vh;

  align-content: flex-end;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  display: flex;

  .fleetchart-item {
    padding: 30px 20px;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      display: block;
    }

    > span {
      text-align: center;
    }

    .fleetchart-item-label {
      font-size: 120%;
      font-family: 'Orbitron', sans-serif;
      margin-right: 20px;
      color: darken($text-color, 10%);

      small {
        display: block;
        color: darken($text-color, 30%);
      }
    }
  }

  .status-in-concept {
    filter: opacity(0.5) drop-shadow(0 0 0 black);
  }

  .status-in-production {
    filter: opacity(0.5) drop-shadow(0 0 0 #06f);
  }
}

.fleetchart-slider {
  margin: 20px;
}

.fleetchart-download-image {
  display: none;
  width: 100%;
  text-align: center;
}

.fleetchart-download {
  .fleetchart-download-image {
    display: block;

    img {
      width: 120px;
      height: 120px;
    }
  }
}

.fleetchart-item-context-menu {
  position: fixed !important;
  z-index: 1000;

  > .panel-edit-menu > .panel-btn {
    padding: 0 2px;
  }
}

@media (max-width: $desktop-breakpoint) {
  .fleetchart {
    justify-content: center;
  }

  .fleetchart-slider {
    margin: 40px 30px;
  }
}
