nav#main-nav.navbar.navbar-dark.fixed-top.bg-dark.navbar-expand-lg role="navigation"
  a.navbar-brand{href: admin_root_path}
    = I18n.t(:"title.admin")

  button.navbar-toggler type='button' data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="#{I18n.t(:"nav.header.toggle")}"
    span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarNavDropdown
    = render "layouts/admin/nav"

    .navbar-nav.environment-label.mr-3
      ruby:
        css_classes = {
          development: 'success',
          staging: 'warning',
          production: 'danger'
        }
      span.pill class="pill-#{css_classes[Rails.env.to_sym]}"
        i class="far fa-info-circle"
        '
        = Rails.env.upcase
      '
      span.pill class="pill-#{css_classes[Rails.env.to_sym]}"
        i class="far fa-fingerprint"
        '
        = Git.revision_short

    = render "layouts/admin/user_nav"
