meta charset="utf-8"

link rel="shortcut icon" type="image/png" href="#{asset_url('admin/favicon.png')}"

title = content_for?(:title) ? "#{yield(:title)} | #{I18n.t(:"title.default")}" : I18n.t(:"title.default")
meta name="description" content=I18n.t(:"meta.description")
meta name="keywords" content=I18n.t(:"meta.keywords")

meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"
meta name="mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-status-bar-style" content="black"

= favicon_link_tag 'admin/icon-iphone.png', rel: "apple-touch-icon", type: 'image/png'
= favicon_link_tag 'admin/icon-ipad.png', rel: "apple-touch-icon", sizes: "76x76", type: 'image/png'
= favicon_link_tag 'admin/icon-iphone-retina.png', rel: "apple-touch-icon", sizes: "120x120", type: 'image/png'
= favicon_link_tag 'admin/icon-ipad-retina.png', rel: "apple-touch-icon", sizes: "152x152", type: 'image/png'
= favicon_link_tag 'admin/icon-ipad-retina.png', rel: "apple-touch-startup-image", type: 'image/png'

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-ekOryaXPbeCpWQNxMwSWVvQ0+1VrStoPJq54shlYhR8HzQgig1v5fas6YgOqLoKz" crossorigin="anonymous">
<link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Orbitron:400,500,700,900" crossorigin>

== stylesheet_link_tag 'application'
== stylesheet_pack_tag 'admin'

- if defined?(jwt_token)
  javascript:
    window.JWT_TOKEN = '#{jwt_token}'

== javascript_include_tag 'application'

== csrf_meta_tags
