!!!
%html{lang: I18n.locale}
  %head= render "layouts/admin/head"
  %body{data: {success: notice, info: alert, error: flash[:error], warning: flash[:warning]}}
    = render "layouts/admin/header"

    .container-fluid
      != yield

    #app

    = render "layouts/admin/footer"
