.base-table-row {
  display: grid;
  align-items: center;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.3s ease;

  &::before {
    position: absolute;
    top: 50%;
    width: 4px;
    height: 65%;
    transform: translate(0, -50%);
    transition: opacity 0.3s ease;
    background-color: $primary;
    opacity: 0;
    content: "";
    left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow:
      3px 0 10px rgba(darken($primary, 20%), 0.9),
      0 3px 10px rgba(darken($primary, 20%), 0.9),
      0 -3px 10px rgba(darken($primary, 20%), 0.9);
  }

  &::after {
    position: absolute;
    top: 50%;
    width: 4px;
    height: 70%;
    transition: opacity 0.3s ease;
    transform: translate(0, -50%);
    background-color: $primary;
    opacity: 0;
    content: "";
    right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow:
      -3px 0 10px rgba(darken($primary, 20%), 0.9),
      0 3px 10px rgba(darken($primary, 20%), 0.9),
      0 -3px 10px rgba(darken($primary, 20%), 0.9);
  }

  &:hover {
    background-color: rgba(#000, 0.1);

    &::before,
    &::after {
      opacity: 1;
    }
  }

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 135px;

    &::before,
    &::after {
      display: none;
    }
  }
}
