@import '~stylesheets/variables';

.panel-image {
  .on-sale {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid $primary;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid $primary;

    i,
    svg {
      position: absolute;
      top: -15px;
      left: -10px;
      color: #fff;
    }
  }
}

.panel-heading {
  .panel-add-to-hangar-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 6px;
    font-size: 18px;

    > :first-child {
      font-size: 18px;
    }
  }
}
