.fade-list-move,
.fade-list-enter-active,
.fade-list-leave-active {
  transition: all 0.5s ease;
}

.fade-list-enter-from,
.fade-list-leave-to {
  transform: translateY(30px);
  opacity: 0;
}

.fade-list-leave-active {
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}
