
@import '~stylesheets/variables';

.search-history {
  .search-history-item,
  .search-history-empty {
    padding: 20px 25px;
    font-size: 20px;
    border-top: 1px solid $gray-black;
  }

  .search-history-item {
    cursor: pointer;
    transition: background-color $transition-base-speed ease;

    &:last-child {
      border-bottom-right-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
    }

    &:hover {
      background-color: $gray-dark;
    }
  }

  .search-history-empty {
    color: darken($text-color, 30%);
    text-align: center;
  }
}
