ruby:
  href = defined?(href) ? href : nil
  onclick = defined?(onclick) ? onclick : nil
  rel = defined?(rel) ? rel : nil
  remote = defined?(remote) ? remote : nil
  disabled = defined?(disabled) ? disabled : false

  btn_classes = %{
    relative inline-flex items-center rounded-button bg-brand-grayBackground/90
    border-2 border-brand-grayBorder/90 p-0.5
  }
  btn_inner_classes = %{
    overflow-hidden rounded-md rounded-md px-3.5 py-1.5 transition-all duration-300 ease-in
  }
  btn_enabled_classes = %{ hover:bg-brand-grayBorder/90 hover:text-brand-grayBackground/90 }
  btn_disabled_classes = %{ text-gray-500 }
  btn_mask_classes = %{
    absolute h-0.5 left-3.5 right-3.5 bg-neutral-700
  }

  if defined?(btn_group_start) && btn_group_start
    btn_classes += ' border-r border-r-neutral-700 rounded-r-none'
    btn_mask_classes += ' -right-px'
  elsif defined?(btn_group) && btn_group
    btn_classes += ' border-r border-r-neutral-700 border-l-0 rounded-r-none rounded-l-none'
    btn_mask_classes += ' -right-px left-0'
  elsif defined?(btn_group_end) && btn_group_end
    btn_classes += ' border-l-0 rounded-l-none'
    btn_mask_classes += ' left-0'
  end

- if disabled || (href.blank? && onclick.blank?)
  span(class=btn_classes)
    div(class="-top-0.5 #{btn_mask_classes}")
    div(class="#{btn_inner_classes} #{disabled ? btn_disabled_classes : ''}")
      - if (block = yield).present?
        = block
      - else
        = label
    div(class="-bottom-0.5 #{btn_mask_classes}")
- else
  a(
    href=href
    onclick=onclick
    class="cursor-pointer #{btn_classes}"
  )
    div(class="-top-0.5 #{btn_mask_classes}")
    div(class="#{btn_inner_classes} #{btn_enabled_classes}")
      - if (block = yield).present?
        = block
      - else
        = label
    div(class="-bottom-0.5 #{btn_mask_classes}")
