#blueimp-gallery.blueimp-gallery{data: {no_turbolink: true}}
  .slides
  %h3.title
  %a.prev ‹
  %a.next ›
  %a.close ×
  %a.play-pause
  %ol.indicator
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", aria: {hidden: "true"}}
            &times;
          %h4.modal-title
        .modal-body.next
        .modal-footer
          %button.btn.btn-default.pull-left.prev{type: "button"}
            %i.fa.fa-chevron-left
            Previous
          %button.btn.btn-primary.next{type: "button"}
            Next
            %i.fa.fa-chevron-right
