<div class="mx-auto py-8 px-4 sm:px-6 md:px-8 md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h1 class="text-2xl font-normal leading-7 font-hero sm:text-3xl sm:truncate text-slate-900 dark:text-slate-300">
      <%= title %>
      <% if defined?(subline) %>
        <small><%= subline %></small>
      <% end %>
    </h1>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <%= yield %>
  </div>
</div>
