@import '~stylesheets/variables';

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 160%;
  z-index: 1000;
  cursor: pointer;
  transition: all ease .5s;
  width: 59px;
  height: 59px;
  margin: 10px;
  background-color: rgba($gray-darker, .9);
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(black, .5);

  &.cookie-banner-present {
    bottom: 40px;
  }

  i,
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -13px;
  }

  &:hover {
    opacity: .6;
  }
}
