---
openapi: 3.0.1
info:
  title: FleetYards.net API
  version: v1
  x-logo:
    url: http://fleetyards.test/docs/logo.png
    altText: FleetYards.net logo
servers:
- url: https://api.fleetyards.net/v1
  description: Production Server
- url: https://api.fleetyards.dev/v1
  description: Staging Server
- url: http://api.fleetyards.test/v1
  description: Dev Server
paths:
  "/celestial-objects":
    get:
      summary: Celestial Objects List
      description: Get a List of Celestial Objects
      tags:
      - CelestialObjects
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CelestialObjectMinimal"
  "/celestial-objects/{slug}":
    parameters:
    - name: slug
      in: path
      description: slug
      schema:
        type: string
      required: true
    get:
      summary: Celestial Object Detail
      description: Get Detail of a Celestial Object referenced by its Slug
      tags:
      - CelestialObjects
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CelestialObjectMinimal"
        '404':
          description: not_found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/commodities":
    get:
      summary: list commodities
      description: Get a List of Commodities
      tags:
      - Commodities
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CommodityMinimal"
  "/commodities/types":
    get:
      summary: commodity_types commodity
      description: Get a List of all Commodity Types
      tags:
      - Commodities
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FilterOption"
  "/commodity-prices":
    post:
      summary: create commodity_price
      description: Create new CommodityPrice
      tags:
      - Commodities
      parameters: []
      responses:
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CommodityPrice"
        '400':
          description: invalid data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ValidationError"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                "$ref": "#/components/schemas/CommodityPriceInput"
        required: true
  "/commodity-prices/time-ranges":
    get:
      summary: time_ranges commodity_price
      description: Get a List of all Commodity Price TimeRanges
      tags:
      - Commodities
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FilterOption"
  "/components":
    get:
      summary: list components
      description: Get a List of Components
      tags:
      - Components
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ComponentMinimal"
  "/components/class_filters":
    get:
      summary: class_filters component
      description: Get a List of all Component Classes
      tags:
      - Components
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FilterOption"
  "/components/item_type_filters":
    get:
      summary: item_type_filters component
      description: Get a List of all Component Item Types
      tags:
      - Components
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FilterOption"
  "/equipment":
    get:
      summary: list equipment
      description: Get a List of Equipment
      tags:
      - Equipment
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/EquipmentMinimal"
  "/fleets/{slug}/invite-urls":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    get:
      summary: list fleet_invite_urls
      tags:
      - Fleets - Invite Urls
      responses:
        '200':
          description: successful
    post:
      summary: create fleet_invite_url
      tags:
      - Fleets - Invite Urls
      responses:
        '200':
          description: successful
  "/fleets/{slug}/invite-urls/{token}":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    - name: token
      in: path
      description: token
      required: true
      schema:
        type: string
    delete:
      summary: delete fleet_invite_url
      tags:
      - Fleets - Invite Urls
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    get:
      summary: list fleet_members
      tags:
      - Fleets - Members
      responses:
        '200':
          description: successful
    put:
      summary: update fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
    patch:
      summary: update fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
    post:
      summary: create fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/member-quick-stats":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: quick_stats fleet_member
      tags:
      - Fleets - Members
      responses:
        '200':
          description: successful
  "/fleets/use-invite":
    post:
      summary: create_by_invite fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/current":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    get:
      summary: current fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/accept-invite":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    put:
      summary: accept_invite fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/decline-invite":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    put:
      summary: decline_invite fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/leave":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    delete:
      summary: leave fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/create-by-invite":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    post:
      summary: create_by_invite fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/{username}/demote":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    put:
      summary: demote fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/{username}/promote":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    put:
      summary: promote fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/{username}/accept-request":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    put:
      summary: accept_request fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/{username}/decline-request":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    put:
      summary: decline_request fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/members/{username}":
    parameters:
    - name: slug
      in: path
      description: Fleet slug
      required: true
      schema:
        type: string
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    delete:
      summary: delete fleet_membership
      tags:
      - Fleets - Memberships
      responses:
        '200':
          description: successful
  "/fleets/{slug}/stats/models-by-size":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: models_by_size fleet_stat
      tags:
      - Fleets - Stats
      responses:
        '200':
          description: successful
  "/fleets/{slug}/stats/models-by-production-status":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: models_by_production_status fleet_stat
      tags:
      - Fleets - Stats
      responses:
        '200':
          description: successful
  "/fleets/{slug}/stats/models-by-manufacturer":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: models_by_manufacturer fleet_stat
      tags:
      - Fleets - Stats
      responses:
        '200':
          description: successful
  "/fleets/{slug}/stats/models-by-classification":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: models_by_classification fleet_stat
      tags:
      - Fleets - Stats
      responses:
        '200':
          description: successful
  "/fleets/{slug}/vehicles":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: list fleet_vehicles
      tags:
      - Fleets - Vehicles
      responses:
        '200':
          description: successful
  "/fleets/{slug}/public-vehicles":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: public fleet_vehicle
      tags:
      - Fleets - Vehicles
      responses:
        '200':
          description: successful
  "/fleets/{slug}/fleetchart":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: fleetchart fleet_vehicle
      tags:
      - Fleets - Vehicles
      responses:
        '200':
          description: successful
  "/fleets/{slug}/public-fleetchart":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: public_fleetchart fleet_vehicle
      tags:
      - Fleets - Vehicles
      responses:
        '200':
          description: successful
  "/fleets/{slug}/quick-stats":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: quick_stats fleet_vehicle
      tags:
      - Fleets - Vehicles
      responses:
        '200':
          description: successful
  "/fleets":
    post:
      summary: create fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
  "/fleets/{slug}":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: show fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
    patch:
      summary: update fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
    put:
      summary: update fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
    delete:
      summary: delete fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
  "/fleets/check":
    post:
      summary: check fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
  "/fleets/invites":
    get:
      summary: invites fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
  "/fleets/current":
    get:
      summary: current fleet
      tags:
      - Fleets
      responses:
        '200':
          description: successful
  "/hangar":
    get:
      summary: Your personal hangar
      tags:
      - Hangar
      parameters:
      - name: page
        in: query
        required: false
        default: 1
        schema:
          type: number
      - name: perPage
        in: query
        required: false
        default: 30
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/VehicleMinimal"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/hangar-groups":
    get:
      summary: list hangar_groups
      tags:
      - HangarGroups
      responses:
        '200':
          description: successful
    post:
      summary: create hangar_group
      tags:
      - HangarGroups
      responses:
        '200':
          description: successful
  "/hangar-groups/{id}":
    parameters:
    - name: id
      in: path
      description: id
      schema:
        type: string
        format: uuid
      required: true
    patch:
      summary: update hangar_group
      tags:
      - HangarGroups
      responses:
        '200':
          description: successful
    put:
      summary: update hangar_group
      tags:
      - HangarGroups
      responses:
        '200':
          description: successful
    delete:
      summary: delete hangar_group
      tags:
      - HangarGroups
      responses:
        '200':
          description: successful
  "/hangar-groups/sort":
    put:
      summary: sort hangar_group
      tags:
      - HangarGroups
      responses:
        '200':
          description: successful
  "/images":
    get:
      summary: list images
      description: Get a List of Images
      tags:
      - Images
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Image"
  "/images/random":
    get:
      summary: random image
      description: Get a randomized List of Images
      tags:
      - Images
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Image"
  "/manufacturers":
    get:
      summary: list manufacturers
      tags:
      - Manufacturers
      responses:
        '200':
          description: successful
  "/manufacturers/with-models":
    get:
      summary: with_models manufacturer
      tags:
      - Manufacturers
      responses:
        '200':
          description: successful
  "/models/with-docks":
    get:
      summary: models with docks
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/unscheduled":
    get:
      summary: unscheduled models
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/latest":
    get:
      summary: latest models
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/slugs":
    get:
      summary: available model slugs
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/updated":
    get:
      summary: updated models
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/embed":
    get:
      summary: embed models
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/filters":
    get:
      summary: filters model
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/classifications":
    get:
      summary: classifications model
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/production-states":
    get:
      summary: production_states model
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/focus":
    get:
      summary: focus model
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/sizes":
    get:
      summary: sizes model
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models/cargo-options":
    get:
      summary: cargo_options model
      tags:
      - Models
      responses:
        '200':
          description: successful
  "/models":
    get:
      summary: list models
      tags:
      - Models
      parameters:
      - name: page
        in: query
        required: false
        default: 1
        schema:
          type: number
      - name: perPage
        in: query
        required: false
        default: 30
        schema:
          type: string
      - name: q
        in: query
        schema:
          type: object
          "$ref": "#/components/schemas/ModelQuery"
        style: deepObject
        explode: true
        required: false
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelMinimal"
  "/models/{slug}":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: model detail
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ModelComplete"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/hardpoints":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    - name: source
      in: query
      schema:
        "$ref": "#/components/schemas/ModelHardpointSourceEnum"
      required: false
    get:
      summary: model hardpoints
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelHardpoint"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/images":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    - name: page
      in: query
      required: false
      default: 1
      schema:
        type: number
    - name: perPage
      in: query
      required: false
      default: 30
      schema:
        type: string
    get:
      summary: model images
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ImageMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/videos":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    - name: page
      in: query
      required: false
      default: 1
      schema:
        type: number
    - name: perPage
      in: query
      required: false
      default: 8
      schema:
        type: string
    get:
      summary: model videos
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/VideoMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/variants":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    - name: page
      in: query
      required: false
      default: 1
      schema:
        type: number
    - name: perPage
      in: query
      required: false
      default: 30
      schema:
        type: string
    get:
      summary: model variants
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/loaners":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    - name: page
      in: query
      required: false
      default: 1
      schema:
        type: number
    - name: perPage
      in: query
      required: false
      default: 30
      schema:
        type: string
    get:
      summary: model loaners
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/snub-crafts":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    - name: page
      in: query
      required: false
      default: 1
      schema:
        type: number
    - name: perPage
      in: query
      required: false
      default: 30
      schema:
        type: string
    get:
      summary: model snub crafts
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/modules":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: model modules
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelModuleMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/upgrades":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: model upgrades
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelUpgradeMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/paints":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: model paints
      tags:
      - Models
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ModelPaintMinimal"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/models/{slug}/store-image":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: model store image
      deprecated: true
      tags:
      - Models
      responses:
        '302':
          description: successful
  "/models/{slug}/fleetchart-image":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: model fleetchart image
      deprecated: true
      tags:
      - Models
      responses:
        '302':
          description: successful
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/password":
    patch:
      summary: update password
      tags:
      - Passwords
      responses:
        '200':
          description: successful
    put:
      summary: update password
      tags:
      - Passwords
      responses:
        '200':
          description: successful
  "/password/request":
    post:
      summary: request_email password
      tags:
      - Passwords
      responses:
        '200':
          description: successful
  "/password/update":
    patch:
      summary: update password
      tags:
      - Passwords
      responses:
        '200':
          description: successful
    put:
      summary: update password
      tags:
      - Passwords
      responses:
        '200':
          description: successful
  "/password/update/{reset_password_token}":
    parameters:
    - name: reset_password_token
      in: path
      description: reset_password_token
      required: true
      schema:
        type: string
    patch:
      summary: update_with_token password
      tags:
      - Passwords
      responses:
        '200':
          description: successful
    put:
      summary: update_with_token password
      tags:
      - Passwords
      responses:
        '200':
          description: successful
  "/roadmap":
    get:
      summary: list roadmaps
      tags:
      - Roadmap
      responses:
        '200':
          description: successful
  "/roadmap/weeks":
    get:
      summary: weeks roadmap
      tags:
      - Roadmap
      responses:
        '200':
          description: successful
  "/search":
    get:
      summary: list searches
      tags:
      - Search
      responses:
        '200':
          description: successful
  "/sessions":
    post:
      summary: create session
      tags:
      - Sessions
      responses:
        '200':
          description: successful
    delete:
      summary: delete session
      tags:
      - Sessions
      responses:
        '200':
          description: successful
  "/sessions/confirm-access":
    post:
      summary: confirm_access session
      tags:
      - Sessions
      responses:
        '200':
          description: successful
  "/stations/{station_slug}/shops/{shop_slug}/commodities":
    parameters:
    - name: station_slug
      in: path
      description: station_slug
      required: true
      schema:
        type: string
    - name: shop_slug
      in: path
      description: shop_slug
      required: true
      schema:
        type: string
    get:
      summary: list shop_commodities
      tags:
      - ShopCommodities
      responses:
        '200':
          description: successful
  "/shop-commodities/commodity-type-options":
    get:
      summary: commodity_item_types shop_commodity
      tags:
      - ShopCommodities
      responses:
        '200':
          description: successful
  "/filters/shop-commodities/sub-categories":
    get:
      summary: sub_categories shop_commodity
      tags:
      - ShopCommodities
      responses:
        '200':
          description: successful
  "/shops":
    get:
      summary: list shops
      tags:
      - Shops
      responses:
        '200':
          description: successful
  "/stations/{station_slug}/shops/{slug}":
    parameters:
    - name: station_slug
      in: path
      description: station_slug
      required: true
      schema:
        type: string
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: show shop
      tags:
      - Shops
      responses:
        '200':
          description: successful
  "/shops/shop-types":
    get:
      summary: shop_types shop
      tags:
      - Shops
      responses:
        '200':
          description: successful
  "/starsystems":
    get:
      summary: list starsystems
      description: Get a List of Starsystems
      tags:
      - Starsystems
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Starsystem"
  "/starsystems/{slug}":
    get:
      summary: show starsystem
      parameters:
      - name: slug
        in: path
        description: slug
        schema:
          type: string
        required: true
      description: Get Detail of a Starsystem referenced by its Slug
      tags:
      - Starsystems
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Starsystem"
        '404':
          description: not_found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StandardError"
  "/stations":
    get:
      summary: list stations
      tags:
      - Stations
      responses:
        '200':
          description: successful
  "/stations/{slug}":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: show station
      tags:
      - Stations
      responses:
        '200':
          description: successful
  "/stations/{slug}/images":
    parameters:
    - name: slug
      in: path
      description: slug
      required: true
      schema:
        type: string
    get:
      summary: images station
      tags:
      - Stations
      responses:
        '200':
          description: successful
  "/stations/ship-sizes":
    get:
      summary: ship_sizes station
      tags:
      - Stations
      responses:
        '200':
          description: successful
  "/stations/station-types":
    get:
      summary: station_types station
      tags:
      - Stations
      responses:
        '200':
          description: successful
  "/stations/classifications":
    get:
      summary: classifications station
      tags:
      - Stations
      responses:
        '200':
          description: successful
  "/stats/quick-stats":
    get:
      summary: quick_stats stat
      tags:
      - Stats
      responses:
        '200':
          description: successful
  "/stats/models-per-month":
    get:
      summary: models_per_month stat
      tags:
      - Stats
      responses:
        '200':
          description: successful
  "/stats/models-by-size":
    get:
      summary: models_by_size stat
      tags:
      - Stats
      responses:
        '200':
          description: successful
  "/stats/models-by-production-status":
    get:
      summary: models_by_production_status stat
      tags:
      - Stats
      responses:
        '200':
          description: successful
  "/stats/models-by-manufacturer":
    get:
      summary: models_by_manufacturer stat
      tags:
      - Stats
      responses:
        '200':
          description: successful
  "/stats/models-by-classification":
    get:
      summary: models_by_classification stat
      tags:
      - Stats
      responses:
        '200':
          description: successful
  "/stats/components-by-class":
    get:
      summary: components_by_class stat
      tags:
      - Stats
      responses:
        '200':
          description: successful
  "/users/two-factor/qrcode":
    get:
      summary: qrcode two_factor
      tags:
      - Settings - TwoFactor
      responses:
        '200':
          description: successful
  "/users/two-factor/enable":
    post:
      summary: enable two_factor
      tags:
      - Settings - TwoFactor
      responses:
        '200':
          description: successful
  "/users/two-factor/disable":
    post:
      summary: disable two_factor
      tags:
      - Settings - TwoFactor
      responses:
        '200':
          description: successful
  "/users/two-factor/generate-backup-codes":
    post:
      summary: generate_backup_codes two_factor
      tags:
      - Settings - TwoFactor
      responses:
        '200':
          description: successful
  "/users/current":
    get:
      summary: current user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
    put:
      summary: update user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
    patch:
      summary: update user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
    delete:
      summary: delete user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
  "/users/signup":
    post:
      summary: signup user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
  "/users/confirm":
    post:
      summary: confirm user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
  "/users/check-email":
    post:
      summary: check_email user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
  "/users/check-username":
    post:
      summary: check_username user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
  "/users/current-account":
    put:
      summary: update_account user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
    patch:
      summary: update_account user
      tags:
      - CurrentUser
      responses:
        '200':
          description: successful
  "/users/{username}":
    parameters:
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    get:
      summary: public user
      tags:
      - Users
      responses:
        '200':
          description: successful
  "/vehicles":
    get:
      summary: list vehicles
      deprecated: true
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
    post:
      summary: create vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/{id}":
    parameters:
    - name: id
      in: path
      description: id
      schema:
        type: string
        format: uuid
      required: true
    patch:
      summary: update vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
    put:
      summary: update vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
    delete:
      summary: delete vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/fleetchart":
    get:
      summary: fleetchart vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/export":
    get:
      summary: export vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/import":
    put:
      summary: import vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/bulk":
    put:
      summary: update_bulk vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/destroy-bulk":
    put:
      summary: destroy_bulk vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/destroy-all":
    delete:
      summary: destroy_all vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/embed":
    get:
      summary: embed vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/hangar-items":
    get:
      summary: hangar_items vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/hangar":
    get:
      summary: hangar vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
  "/vehicles/quick-stats":
    get:
      summary: quick_stats vehicle
      tags:
      - Vehicles - Stats
      responses:
        '200':
          description: successful
  "/vehicles/stats/models-by-size":
    get:
      summary: models_by_size vehicle
      tags:
      - Vehicles - Stats
      responses:
        '200':
          description: successful
  "/vehicles/stats/models-by-production-status":
    get:
      summary: models_by_production_status vehicle
      tags:
      - Vehicles - Stats
      responses:
        '200':
          description: successful
  "/vehicles/stats/models-by-manufacturer":
    get:
      summary: models_by_manufacturer vehicle
      tags:
      - Vehicles - Stats
      responses:
        '200':
          description: successful
  "/vehicles/stats/models-by-classification":
    get:
      summary: models_by_classification vehicle
      tags:
      - Vehicles - Stats
      responses:
        '200':
          description: successful
  "/vehicles/{username}":
    parameters:
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    get:
      summary: public vehicle
      tags:
      - Vehicles - Public
      responses:
        '200':
          description: successful
  "/vehicles/{username}/fleetchart":
    parameters:
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    get:
      summary: public_fleetchart vehicle
      tags:
      - Vehicles - Public
      responses:
        '200':
          description: successful
  "/vehicles/{username}/quick-stats":
    parameters:
    - name: username
      in: path
      description: username
      required: true
      schema:
        type: string
    get:
      summary: public_quick_stats vehicle
      tags:
      - Vehicles - Public
      responses:
        '200':
          description: successful
  "/vehicles/check-serial":
    post:
      summary: check_serial vehicle
      tags:
      - Vehicles
      responses:
        '200':
          description: successful
components:
  schemas:
    CelestialObject:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        designation:
          type: string
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        storeImage:
          type: string
          format: url
          deprecated: true
        storeImageLarge:
          type: string
          deprecated: true
        storeImageMedium:
          type: string
          deprecated: true
        storeImageSmall:
          type: string
          deprecated: true
        description:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        habitable:
          type: boolean
          nullable: true
        fairchanceact:
          type: boolean
          nullable: true
        subType:
          type: string
          nullable: true
        size:
          type: string
          nullable: true
        danger:
          type: integer
          nullable: true
        economy:
          type: integer
          nullable: true
        population:
          type: integer
          nullable: true
        locationLabel:
          type: string
          nullable: true
        starsystem:
          "$ref": "#/components/schemas/Starsystem"
          nullable: true
      required:
      - name
      - slug
      - designation
      title: CelestialObject
    CelestialObjectMinimal:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        designation:
          type: string
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        storeImage:
          type: string
          format: url
          deprecated: true
        storeImageLarge:
          type: string
          deprecated: true
        storeImageMedium:
          type: string
          deprecated: true
        storeImageSmall:
          type: string
          deprecated: true
        description:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        habitable:
          type: boolean
          nullable: true
        fairchanceact:
          type: boolean
          nullable: true
        subType:
          type: string
          nullable: true
        size:
          type: string
          nullable: true
        danger:
          type: integer
          nullable: true
        economy:
          type: integer
          nullable: true
        population:
          type: integer
          nullable: true
        locationLabel:
          type: string
          nullable: true
        starsystem:
          "$ref": "#/components/schemas/Starsystem"
          nullable: true
        parent:
          "$ref": "#/components/schemas/CelestialObject"
          nullable: true
        moons:
          type: array
          items:
            "$ref": "#/components/schemas/CelestialObject"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - name
      - slug
      - designation
      - starsystem
      - createdAt
      - updatedAt
      title: CelestialObjectMinimal
    Commodity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - soldAt
        type:
          type: string
          nullable: true
        typeLabel:
          type: string
          nullable: true
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        storeImage:
          type: string
          format: uri
          deprecated: true
        storeImageIsFallback:
          type: boolean
          format: uri
          deprecated: true
        storeImageLarge:
          type: string
          format: uri
          deprecated: true
        storeImageMedium:
          type: string
          format: uri
          deprecated: true
        storeImageSmall:
          type: string
          format: uri
          deprecated: true
      required:
      - id
      - name
      - slug
      - availability
      - media
      - createdAt
      - updatedAt
      title: Commodity
    CommodityMinimal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - soldAt
        type:
          type: string
          nullable: true
        typeLabel:
          type: string
          nullable: true
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        storeImage:
          type: string
          format: uri
          deprecated: true
        storeImageIsFallback:
          type: boolean
          format: uri
          deprecated: true
        storeImageLarge:
          type: string
          format: uri
          deprecated: true
        storeImageMedium:
          type: string
          format: uri
          deprecated: true
        storeImageSmall:
          type: string
          format: uri
          deprecated: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - slug
      - availability
      - media
      - createdAt
      - updatedAt
      title: CommodityMinimal
    CommodityPrice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        price:
          type: number
          format: float
        timeRange:
          type: string
          nullable: true
        type:
          type: string
        shopCommodityId:
          type: string
          format: uuid
        confirmed:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - price
      - type
      - shopCommodityId
      - confirmed
      - createdAt
      - updatedAt
      title: CommodityPrice
    Component:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            listedAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - listedAt
          - soldAt
        class:
          type: string
          nullable: true
        grade:
          type: string
          nullable: true
        itemClass:
          type: string
          nullable: true
        itemClassLabel:
          type: string
          nullable: true
        manufacturer:
          "$ref": "#/components/schemas/Manufacturer"
          nullable: true
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        size:
          type: string
          nullable: true
        trackingSignal:
          type: string
          nullable: true
        trackingSignalLabel:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        typeLabel:
          type: string
          nullable: true
        storeImage:
          type: string
          format: uri
          deprecated: true
        storeImageIsFallback:
          type: boolean
          deprecated: true
        storeImageLarge:
          type: string
          format: uri
          deprecated: true
        storeImageMedium:
          type: string
          format: uri
          deprecated: true
        storeImageSmall:
          type: string
          format: uri
          deprecated: true
      required:
      - id
      - name
      - slug
      - availability
      - media
      title: Component
    ComponentMinimal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            listedAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - listedAt
          - soldAt
        class:
          type: string
          nullable: true
        grade:
          type: string
          nullable: true
        itemClass:
          type: string
          nullable: true
        itemClassLabel:
          type: string
          nullable: true
        manufacturer:
          "$ref": "#/components/schemas/Manufacturer"
          nullable: true
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        size:
          type: string
          nullable: true
        trackingSignal:
          type: string
          nullable: true
        trackingSignalLabel:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        typeLabel:
          type: string
          nullable: true
        storeImage:
          type: string
          format: uri
          deprecated: true
        storeImageIsFallback:
          type: boolean
          deprecated: true
        storeImageLarge:
          type: string
          format: uri
          deprecated: true
        storeImageMedium:
          type: string
          format: uri
          deprecated: true
        storeImageSmall:
          type: string
          format: uri
          deprecated: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - slug
      - availability
      - media
      - createdAt
      - updatedAt
      title: ComponentMinimal
    Dock:
      type: object
      properties:
        group:
          type: string
        name:
          type: string
        size:
          type: string
        sizeLabel:
          type: string
        type:
          type: string
        typeLabel:
          type: string
      required:
      - name
      - group
      - size
      - sizeLabel
      - type
      - typeLabel
      title: Dock
    DockCount:
      type: object
      properties:
        count:
          type: integer
        size:
          type: string
        type:
          type: string
        typeLabel:
          type: string
      required:
      - size
      - count
      - type
      - typeLabel
      title: DockCount
    BoughtViaEnum:
      type: string
      enum:
      - pledge_store
      - ingame
      title: BoughtViaEnum
    ModelHardpointCategoryEnum:
      type: string
      enum:
      - main
      - retro
      - vtol
      - fixed
      - gimbal
      - joint
      - manned_turret
      - remote_turret
      - missile_turret
      - missile_rack
      - qed
      - emp
      title: ModelHardpointCategoryEnum
    ModelHardpointGroupEnum:
      type: string
      enum:
      - avionic
      - system
      - propulsion
      - thruster
      - weapon
      title: ModelHardpointGroupEnum
    ModelHardpointSizeEnum:
      type: string
      enum:
      - vehicle
      - one
      - two
      - three
      - four
      - five
      - six
      - seven
      - eight
      - nine
      - ten
      - eleven
      - twelve
      - snub
      - small
      - medium
      - large
      - capital
      - tbd
      title: ModelHardpointSizeEnum
    ModelHardpointSourceEnum:
      type: string
      enum:
      - ship_matrix
      - game_files
      title: ModelHardpointSourceEnum
    ModelHardpointSubCategoryEnum:
      type: string
      enum:
      - retro_thrusters
      - vtol_thrusters
      - manned_turrets
      - remote_turrets
      - missile_turret
      title: ModelHardpointSubCategoryEnum
    ModelHardpointTypeEnum:
      type: string
      enum:
      - radar
      - computers
      - fuel_intakes
      - fuel_tanks
      - jump_modules
      - quantum_fuel_tanks
      - utility_items
      - power_plants
      - coolers
      - shield_generators
      - quantum_drives
      - main_thrusters
      - maneuvering_thrusters
      - weapons
      - turrets
      - missiles
      - qed
      - emp
      title: ModelHardpointTypeEnum
    ShopTypeEnum:
      type: string
      enum:
      - clothing
      - armor
      - weapons
      - components
      - armor_and_weapons
      - superstore
      - ships
      - admin
      - bar
      - hospital
      - salvage
      - resources
      - rental
      - computers
      - blackmarket
      - mining_equipment
      - equipment
      - courier
      - refinery
      - pharmacy
      - cargo
      - souvenirs
      - kiosk
      - ship_customizations
      title: ShopTypeEnum
    VideoTypeEnum:
      type: string
      enum:
      - youtube
      title: VideoTypeEnum
    Equipment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            listedAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - listedAt
          - soldAt
        backpackCompatibility:
          type: string
          nullable: true
        coreCompatibility:
          type: string
          nullable: true
        damageReduction:
          type: string
          nullable: true
        description:
          type: string
        extras:
          type: string
          nullable: true
        grade:
          type: string
          nullable: true
        itemType:
          type: string
          nullable: true
        itemTypeLabel:
          type: string
          nullable: true
        manufacturer:
          "$ref": "#/components/schemas/Manufacturer"
          nullable: true
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        range:
          type: string
          nullable: true
        rateOfFire:
          type: string
          nullable: true
        size:
          type: string
          nullable: true
        slot:
          type: string
          nullable: true
        slotLabel:
          type: string
          nullable: true
        storage:
          type: string
          nullable: true
        temperatureRating:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        typeLabel:
          type: string
          nullable: true
        volume:
          type: string
          nullable: true
        weaponClass:
          type: string
          nullable: true
        weaponClassLabel:
          type: string
          nullable: true
        storeImage:
          type: string
          format: uri
          deprecated: true
        storeImageIsFallback:
          type: boolean
          deprecated: true
        storeImageLarge:
          type: string
          format: uri
          deprecated: true
        storeImageMedium:
          type: string
          format: uri
          deprecated: true
        storeImageSmall:
          type: string
          format: uri
          deprecated: true
      required:
      - id
      - name
      - slug
      - availability
      - media
      title: Equipment
    EquipmentMinimal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            listedAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - listedAt
          - soldAt
        backpackCompatibility:
          type: string
          nullable: true
        coreCompatibility:
          type: string
          nullable: true
        damageReduction:
          type: string
          nullable: true
        description:
          type: string
        extras:
          type: string
          nullable: true
        grade:
          type: string
          nullable: true
        itemType:
          type: string
          nullable: true
        itemTypeLabel:
          type: string
          nullable: true
        manufacturer:
          "$ref": "#/components/schemas/Manufacturer"
          nullable: true
        media:
          storeImage:
            "$ref": "#/components/schemas/MediaImage"
            nullable: true
        range:
          type: string
          nullable: true
        rateOfFire:
          type: string
          nullable: true
        size:
          type: string
          nullable: true
        slot:
          type: string
          nullable: true
        slotLabel:
          type: string
          nullable: true
        storage:
          type: string
          nullable: true
        temperatureRating:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        typeLabel:
          type: string
          nullable: true
        volume:
          type: string
          nullable: true
        weaponClass:
          type: string
          nullable: true
        weaponClassLabel:
          type: string
          nullable: true
        storeImage:
          type: string
          format: uri
          deprecated: true
        storeImageIsFallback:
          type: boolean
          deprecated: true
        storeImageLarge:
          type: string
          format: uri
          deprecated: true
        storeImageMedium:
          type: string
          format: uri
          deprecated: true
        storeImageSmall:
          type: string
          format: uri
          deprecated: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - slug
      - availability
      - media
      - createdAt
      - updatedAt
      title: EquipmentMinimal
    FieldError:
      type: object
      properties:
        attribute:
          type: string
        messages:
          type: array
          items:
            "$ref": "#/components/schemas/StandardError"
      required:
      - attribute
      - messages
      title: FieldError
    FilterOption:
      type: object
      properties:
        category:
          type: string
        icon:
          type: string
          nullable: true
        name:
          type: string
        value:
          type: string
      required:
      - name
      - value
      - category
      title: FilterOption
    Gallery:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
      required:
      - id
      - name
      - slug
      title: Gallery
    Habitation:
      type: object
      properties:
        name:
          type: string
        habitationName:
          type: string
        type:
          type: string
        typeLabel:
          type: string
      required:
      - name
      - habitationName
      - type
      - typeLabel
      title: Habitation
    HabitationCount:
      type: object
      properties:
        count:
          type: integer
        type:
          type: string
        typeLabel:
          type: string
      required:
      - count
      - type
      - typeLabel
      title: HabitationCount
    HangarGroup:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        color:
          type: string
      required:
      - id
      - name
      - slug
      - color
      title: HangarGroup
    HangarGroupMinimal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        color:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - slug
      - color
      - createdAt
      - updatedAt
      title: HangarGroupMinimal
    Image:
      type: object
      properties:
        id:
          type: string
          format: uuid
        background:
          type: boolean
        bigUrl:
          type: string
          format: uri
        caption:
          type: string
          nullable: true
        height:
          type: number
          nullable: true
        name:
          type: string
        smallUrl:
          type: string
          format: uri
        type:
          type: string
        url:
          type: string
          format: uri
        width:
          type: number
          nullable: true
      required:
      - id
      - name
      - url
      - width
      - height
      - type
      - background
      - smallUrl
      - bigUrl
      title: Image
    ImageComplete:
      type: object
      properties:
        id:
          type: string
          format: uuid
        background:
          type: boolean
        bigUrl:
          type: string
          format: uri
        caption:
          type: string
          nullable: true
        height:
          type: number
          nullable: true
        name:
          type: string
        smallUrl:
          type: string
          format: uri
        type:
          type: string
        url:
          type: string
          format: uri
        width:
          type: number
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        gallery:
          "$ref": "#/components/schemas/Gallery"
          nullable: true
        model:
          "$ref": "#/components/schemas/Gallery"
          nullable: true
      required:
      - id
      - name
      - url
      - width
      - height
      - type
      - background
      - smallUrl
      - bigUrl
      - createdAt
      - updatedAt
      title: ImageComplete
    ImageMinimal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        background:
          type: boolean
        bigUrl:
          type: string
          format: uri
        caption:
          type: string
          nullable: true
        height:
          type: number
          nullable: true
        name:
          type: string
        smallUrl:
          type: string
          format: uri
        type:
          type: string
        url:
          type: string
          format: uri
        width:
          type: number
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - width
      - height
      - type
      - background
      - smallUrl
      - bigUrl
      - createdAt
      - updatedAt
      title: ImageMinimal
    CommodityPriceInput:
      type: object
      properties:
        commodityItemId:
          type: string
          format: uuid
        commodityItemType:
          type: string
        path:
          type: string
          enum:
          - buy
          - sell
          - rental
        shopId:
          type: string
          format: uuid
        timeRange:
          type: string
          nullable: true
      required:
      - commodityItemId
      - commodityItemType
      - path
      - shopId
      title: CommodityPriceInput
    Manufacturer:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        code:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        longName:
          type: string
      required:
      - name
      - slug
      title: Manufacturer
    ManufacturerMinimal:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        code:
          type: string
          nullable: true
        logo:
          type: string
          nullable: true
        longName:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - name
      - slug
      - createdAt
      - updatedAt
      title: ManufacturerMinimal
    MediaImage:
      type: object
      properties:
        large:
          type: string
          format: uri
        medium:
          type: string
          format: uri
        small:
          type: string
          format: uri
        source:
          type: string
          format: uri
      required:
      - source
      - small
      - medium
      - large
      title: MediaImage
    Model:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scIdentifier:
          type: string
          nullable: true
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            listedAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            rentalAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - listedAt
          - rentalAt
          - soldAt
        brochure:
          type: string
          nullable: true
        classification:
          type: string
          nullable: true
        classificationLabel:
          type: string
          nullable: true
        crew:
          type: object
          properties:
            max:
              type: number
              nullable: true
            maxLabel:
              type: string
              nullable: true
            min:
              type: number
              nullable: true
            minLabel:
              type: string
              nullable: true
        description:
          type: string
          nullable: true
        erkulIdentifier:
          type: string
          nullable: true
        focus:
          type: string
          nullable: true
        hasImages:
          type: boolean
        hasModules:
          type: boolean
        hasPaints:
          type: boolean
        hasUpgrades:
          type: boolean
        hasVideos:
          type: boolean
        holo:
          type: string
          nullable: true
        holoColored:
          type: boolean
          nullable: true
          deprecated: true
        lastPledgePrice:
          type: number
          nullable: true
        lastPledgePriceLabel:
          type: string
          nullable: true
        lastUpdatedAt:
          type: string
          format: date-time
          nullable: true
        lastUpdatedAtLabel:
          type: string
          nullable: true
        links:
          type: object
          properties:
            salesPageUrl:
              type: string
              nullable: true
            storeUrl:
              type: string
              nullable: true
        loaners:
          type: array
          items:
            "$ref": "#/components/schemas/ModelLoaner"
        manufacturer:
          "$ref": "#/components/schemas/Manufacturer"
          nullable: true
        media:
          type: object
          properties:
            angledView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            angledViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            fleetchartImage:
              type: string
              nullable: true
            frontView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            frontViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            sideView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            sideViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            storeImage:
              "$ref": "#/components/schemas/MediaImage"
              nullable: true
            topView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            topViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
        metrics:
          type: object
          properties:
            beam:
              type: number
              nullable: true
            beamLabel:
              type: string
              nullable: true
            cargo:
              type: number
              nullable: true
            cargoLabel:
              type: string
              nullable: true
            fleetchartLength:
              type: number
              nullable: true
            height:
              type: number
              nullable: true
            heightLabel:
              type: string
              nullable: true
            hydrogenFuelTankSize:
              type: number
              nullable: true
            isGroundVehicle:
              type: boolean
            length:
              type: number
              nullable: true
            lengthLabel:
              type: string
              nullable: true
            mass:
              type: number
              nullable: true
            massLabel:
              type: string
              nullable: true
            quantumFuelTankSize:
              type: number
              nullable: true
            size:
              type: string
              nullable: true
            sizeLabel:
              type: string
              nullable: true
        onSale:
          type: boolean
        pledgePrice:
          type: number
          nullable: true
        pledgePriceLabel:
          type: string
          nullable: true
        price:
          type: number
          nullable: true
        priceLabel:
          type: string
          nullable: true
        productionNote:
          type: string
          nullable: true
        productionStatus:
          type: string
          nullable: true
        rsiId:
          type: integer
          nullable: true
        rsiName:
          type: string
          nullable: true
        rsiSlug:
          type: string
          nullable: true
        speeds:
          type: object
          properties:
            groundAcceleration:
              type: number
              nullable: true
            groundDecceleration:
              type: number
              nullable: true
            groundMaxSpeed:
              type: number
              nullable: true
            groundReverseSpeed:
              type: number
              nullable: true
            maxSpeed:
              type: number
              nullable: true
            maxSpeedAcceleration:
              type: number
              nullable: true
            maxSpeedDecceleration:
              type: number
              nullable: true
            pitch:
              type: number
              nullable: true
            roll:
              type: number
              nullable: true
            scmSpeed:
              type: number
              nullable: true
            scmSpeedAcceleration:
              type: number
              nullable: true
            scmSpeedDecceleration:
              type: number
              nullable: true
            yaw:
              type: number
              nullable: true
        afterburnerGroundSpeed:
          type: number
          nullable: true
          deprecated: true
        afterburnerSpeed:
          type: number
          nullable: true
          deprecated: true
        angledView:
          type: string
          nullable: true
          deprecated: true
        angledViewHeight:
          type: number
          nullable: true
          deprecated: true
        angledViewLarge:
          type: string
          nullable: true
          deprecated: true
        angledViewMedium:
          type: string
          nullable: true
          deprecated: true
        angledViewSmall:
          type: string
          nullable: true
          deprecated: true
        angledViewWidth:
          type: number
          nullable: true
          deprecated: true
        angledViewXlarge:
          type: string
          nullable: true
          deprecated: true
        beam:
          type: number
          nullable: true
          deprecated: true
        beamLabel:
          type: string
          nullable: true
          deprecated: true
        cargo:
          type: number
          nullable: true
          deprecated: true
        cargoLabel:
          type: string
          nullable: true
          deprecated: true
        fleetchartImage:
          type: string
          nullable: true
          deprecated: true
        fleetchartLength:
          type: number
          nullable: true
          deprecated: true
        groundSpeed:
          type: number
          nullable: true
          deprecated: true
        height:
          type: number
          nullable: true
          deprecated: true
        heightLabel:
          type: string
          nullable: true
          deprecated: true
        hydrogenFuelTankSize:
          type: number
          nullable: true
          deprecated: true
        length:
          type: number
          nullable: true
          deprecated: true
        lengthLabel:
          type: string
          nullable: true
          deprecated: true
        mass:
          type: number
          nullable: true
          deprecated: true
        massLabel:
          type: number
          nullable: true
          deprecated: true
        maxCrew:
          type: number
          nullable: true
          deprecated: true
        maxCrewLabel:
          type: number
          nullable: true
          deprecated: true
        minCrew:
          type: number
          nullable: true
          deprecated: true
        minCrewLabel:
          type: number
          nullable: true
          deprecated: true
        pitchMax:
          type: number
          nullable: true
          deprecated: true
        quantumFuelTankSize:
          type: number
          nullable: true
          deprecated: true
        rollMax:
          type: number
          nullable: true
          deprecated: true
        salesPageUrl:
          type: string
          nullable: true
          deprecated: true
        scmSpeed:
          type: number
          nullable: true
          deprecated: true
        sideView:
          type: string
          nullable: true
          deprecated: true
        sideViewHeight:
          type: number
          nullable: true
          deprecated: true
        sideViewLarge:
          type: string
          nullable: true
          deprecated: true
        sideViewMedium:
          type: string
          nullable: true
          deprecated: true
        sideViewSmall:
          type: string
          nullable: true
          deprecated: true
        sideViewWidth:
          type: number
          nullable: true
          deprecated: true
        sideViewXlarge:
          type: string
          nullable: true
          deprecated: true
        size:
          type: number
          nullable: true
          deprecated: true
        sizeLabel:
          type: string
          nullable: true
          deprecated: true
        storeImage:
          type: string
          nullable: true
          deprecated: true
        storeImageLarge:
          type: string
          nullable: true
          deprecated: true
        storeImageMedium:
          type: string
          nullable: true
          deprecated: true
        storeImageSmall:
          type: string
          nullable: true
          deprecated: true
        storeUrl:
          type: string
          nullable: true
          deprecated: true
        topView:
          type: string
          nullable: true
          deprecated: true
        topViewHeight:
          type: number
          nullable: true
          deprecated: true
        topViewLarge:
          type: string
          nullable: true
          deprecated: true
        topViewMedium:
          type: string
          nullable: true
          deprecated: true
        topViewSmall:
          type: string
          nullable: true
          deprecated: true
        topViewWidth:
          type: number
          nullable: true
          deprecated: true
        topViewXlarge:
          type: string
          nullable: true
          deprecated: true
        xaxisAcceleration:
          type: number
          nullable: true
          deprecated: true
        yawMax:
          type: number
          nullable: true
          deprecated: true
        yaxisAcceleration:
          type: number
          nullable: true
          deprecated: true
        zaxisAcceleration:
          type: number
          nullable: true
          deprecated: true
      required:
      - id
      - name
      - slug
      - availability
      - crew
      - hasImages
      - hasModules
      - hasPaints
      - hasUpgrades
      - hasVideos
      - links
      - loaners
      - media
      - metrics
      - onSale
      - speeds
      title: Model
    ModelComplete:
      type: object
      properties:
        id:
          type: string
          format: uuid
        scIdentifier:
          type: string
          nullable: true
        name:
          type: string
        slug:
          type: string
        availability:
          type: object
          properties:
            boughtAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            listedAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            rentalAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
            soldAt:
              type: array
              items:
                "$ref": "#/components/schemas/ShopCommodity"
          required:
          - boughtAt
          - listedAt
          - rentalAt
          - soldAt
        brochure:
          type: string
          nullable: true
        classification:
          type: string
          nullable: true
        classificationLabel:
          type: string
          nullable: true
        crew:
          type: object
          properties:
            max:
              type: number
              nullable: true
            maxLabel:
              type: string
              nullable: true
            min:
              type: number
              nullable: true
            minLabel:
              type: string
              nullable: true
        description:
          type: string
          nullable: true
        erkulIdentifier:
          type: string
          nullable: true
        focus:
          type: string
          nullable: true
        hasImages:
          type: boolean
        hasModules:
          type: boolean
        hasPaints:
          type: boolean
        hasUpgrades:
          type: boolean
        hasVideos:
          type: boolean
        holo:
          type: string
          nullable: true
        holoColored:
          type: boolean
          nullable: true
          deprecated: true
        lastPledgePrice:
          type: number
          nullable: true
        lastPledgePriceLabel:
          type: string
          nullable: true
        lastUpdatedAt:
          type: string
          format: date-time
          nullable: true
        lastUpdatedAtLabel:
          type: string
          nullable: true
        links:
          type: object
          properties:
            salesPageUrl:
              type: string
              nullable: true
            storeUrl:
              type: string
              nullable: true
            self:
              type: string
              format: uri
            frontend:
              type: string
              format: uri
        loaners:
          type: array
          items:
            "$ref": "#/components/schemas/ModelLoaner"
        manufacturer:
          "$ref": "#/components/schemas/Manufacturer"
          nullable: true
        media:
          type: object
          properties:
            angledView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            angledViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            fleetchartImage:
              type: string
              nullable: true
            frontView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            frontViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            sideView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            sideViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            storeImage:
              "$ref": "#/components/schemas/MediaImage"
              nullable: true
            topView:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
            topViewColored:
              "$ref": "#/components/schemas/ViewImage"
              nullable: true
        metrics:
          type: object
          properties:
            beam:
              type: number
              nullable: true
            beamLabel:
              type: string
              nullable: true
            cargo:
              type: number
              nullable: true
            cargoLabel:
              type: string
              nullable: true
            fleetchartLength:
              type: number
              nullable: true
            height:
              type: number
              nullable: true
            heightLabel:
              type: string
              nullable: true
            hydrogenFuelTankSize:
              type: number
              nullable: true
            isGroundVehicle:
              type: boolean
            length:
              type: number
              nullable: true
            lengthLabel:
              type: string
              nullable: true
            mass:
              type: number
              nullable: true
            massLabel:
              type: string
              nullable: true
            quantumFuelTankSize:
              type: number
              nullable: true
            size:
              type: string
              nullable: true
            sizeLabel:
              type: string
              nullable: true
        onSale:
          type: boolean
        pledgePrice:
          type: number
          nullable: true
        pledgePriceLabel:
          type: string
          nullable: true
        price:
          type: number
          nullable: true
        priceLabel:
          type: string
          nullable: true
        productionNote:
          type: string
          nullable: true
        productionStatus:
          type: string
          nullable: true
        rsiId:
          type: integer
          nullable: true
        rsiName:
          type: string
          nullable: true
        rsiSlug:
          type: string
          nullable: true
        speeds:
          type: object
          properties:
            groundAcceleration:
              type: number
              nullable: true
            groundDecceleration:
              type: number
              nullable: true
            groundMaxSpeed:
              type: number
              nullable: true
            groundReverseSpeed:
              type: number
              nullable: true
            maxSpeed:
              type: number
              nullable: true
            maxSpeedAcceleration:
              type: number
              nullable: true
            maxSpeedDecceleration:
              type: number
              nullable: true
            pitch:
              type: number
              nullable: true
            roll:
              type: number
              nullable: true
            scmSpeed:
              type: number
              nullable: true
            scmSpeedAcceleration:
              type: number
              nullable: true
            scmSpeedDecceleration:
              type: number
              nullable: true
            yaw:
              type: number
              nullable: true
        afterburnerGroundSpeed:
          type: number
          nullable: true
          deprecated: true
        afterburnerSpeed:
          type: number
          nullable: true
          deprecated: true
        angledView:
          type: string
          nullable: true
          deprecated: true
        angledViewHeight:
          type: number
          nullable: true
          deprecated: true
        angledViewLarge:
          type: string
          nullable: true
          deprecated: true
        angledViewMedium:
          type: string
          nullable: true
          deprecated: true
        angledViewSmall:
          type: string
          nullable: true
          deprecated: true
        angledViewWidth:
          type: number
          nullable: true
          deprecated: true
        angledViewXlarge:
          type: string
          nullable: true
          deprecated: true
        beam:
          type: number
          nullable: true
          deprecated: true
        beamLabel:
          type: string
          nullable: true
          deprecated: true
        cargo:
          type: number
          nullable: true
          deprecated: true
        cargoLabel:
          type: string
          nullable: true
          deprecated: true
        fleetchartImage:
          type: string
          nullable: true
          deprecated: true
        fleetchartLength:
          type: number
          nullable: true
          deprecated: true
        groundSpeed:
          type: number
          nullable: true
          deprecated: true
        height:
          type: number
          nullable: true
          deprecated: true
        heightLabel:
          type: string
          nullable: true
          deprecated: true
        hydrogenFuelTankSize:
          type: number
          nullable: true
          deprecated: true
        length:
          type: number
          nullable: true
          deprecated: true
        lengthLabel:
          type: string
          nullable: true
          deprecated: true
        mass:
          type: number
          nullable: true
          deprecated: true
        massLabel:
          type: number
          nullable: true
          deprecated: true
        maxCrew:
          type: number
          nullable: true
          deprecated: true
        maxCrewLabel:
          type: number
          nullable: true
          deprecated: true
        minCrew:
          type: number
          nullable: true
          deprecated: true
        minCrewLabel:
          type: number
          nullable: true
          deprecated: true
        pitchMax:
          type: number
          nullable: true
          deprecated: true
        quantumFuelTankSize:
          type: number
          nullable: true
          deprecated: true
        rollMax:
          type: number
          nullable: true
          deprecated: true
        salesPageUrl:
          type: string
          nullable: true
          deprecated: true
        scmSpeed:
          type: number
          nullable: true
          deprecated: true
        sideView:
          type: string
          nullable: true
          deprecated: true
        sideViewHeight:
          type: number
          nullable: true
          deprecated: true
        sideViewLarge:
          type: string
          nullable: true
          deprecated: true
        sideViewMedium:
          type: string
          nullable: true
          deprecated: true
        sideViewSmall:
          type: string
          nullable: true
          deprecated: true
        sideViewWidth:
          type: number
          nullable: true
          deprecated: true
        sideViewXlarge:
          type: string
          nullable: true
          deprecated: true
        size:
          type: number
          nullable: true
          deprecated: true
        sizeLabel:
          type: string
          nullable: true
          deprecated: true
        storeImage:
          type: string
          nullable: true
          deprecated: true
        storeImageLarge:
          type: string
          nullable: true
          deprecated: true
        storeImageMedium:
          type: string
          nullable: true
          deprecated: true
        storeImageSmall:
          type: string
          nullable: true
          deprecated: true
        storeUrl:
          type: string
          nullable: true
          deprecated: true
        topView:
          type: string
          nullable: true
          deprecated: true
        topViewHeight:
          type: number
          nullable: true
          deprecated: true
        topViewLarge:
          type: string
          nullable: true
          deprecated: true
        topViewMedium:
          type: string
          nullable: true
          deprecated: true
        topViewSmall:
          type: string
          nullable: true
          deprecated: true
        topViewWidth:
          type: number
          nullable: true
          deprecated: true
        topViewXlarge:
          type: string
          nullable: true
          deprecated: true
        xaxisAcceleration:
          type: number
          nullable: true
          deprecated: true
        yawMax:
          type: number
          nullable: true
          deprecated: true
        yaxisAcceleration:
          type: number
          nullable: true
          deprecated: true
        zaxisAcceleration:
          type: number
          nullable: true
          deprecated: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        dockCounts:
          type: array
          items:
            "$ref": "#/components/schemas/DockCount"
      required:
      - id
      - name
      - slug
      - availability
      - crew
      - hasImages
      - hasModules
      - hasPaints
      - hasUpgrades
      - hasVideos
      - links
      - loaners
      - media
      - metrics
      - onSale
      - speeds
      - createdAt
      - updatedAt
      - dockCounts
      title: ModelComplete
    ModelHardpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        category:
          "$ref": "#/components/schemas/ModelHardpointCategoryEnum"
          nullable: true
        categoryLabel:
          type: string
          nullable: true
        component:
          "$ref": "#/components/schemas/Component"
          nullable: true
        details:
          type: string
          nullable: true
        group:
          "$ref": "#/components/schemas/ModelHardpointGroupEnum"
        itemSlots:
          type: string
          nullable: true
        key:
          type: string
        loadoutIdentifier:
          type: string
          format: uuid
          nullable: true
        loadouts:
          type: array
          items:
            "$ref": "#/components/schemas/ModelHardpointLoadout"
        mount:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        size:
          "$ref": "#/components/schemas/ModelHardpointSizeEnum"
          nullable: true
        sizeLabel:
          type: string
          nullable: true
        source:
          "$ref": "#/components/schemas/ModelHardpointSourceEnum"
        subCategory:
          "$ref": "#/components/schemas/ModelHardpointSubCategoryEnum"
          nullable: true
        subCategoryLabel:
          type: string
          nullable: true
        type:
          "$ref": "#/components/schemas/ModelHardpointTypeEnum"
      required:
      - id
      - key
      - type
      - group
      title: ModelHardpoint
    ModelHardpointLoadout:
      type: object
      properties:
        id:
          type: string
          format: uuid
        component:
          "$ref": "#/components/schemas/Component"
          nullable: true
        name:
          type: string
      required:
      - id
      - name
      title: ModelHardpointLoadout
    ModelLoaner:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
      required:
      - name
      - slug
      title: ModelLoaner
    ModelMinimal:
      type: object
[...]
