.tab-content {
  padding: $padding-base-vertical $padding-base-horizontal 0;
  background-color: $nav-tabs-active-link-hover-bg;
  border-color: $nav-tabs-border-color;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: $border-radius-base;
}

ul.nav.nav-tabs {
  margin: 0 $border-radius-base;
  border-bottom: none;

  li {
    margin-bottom: 0;
  }
}

.tab-pane {
  hr {
    margin: 10px 0;
  }
}
