@import '~stylesheets/variables';

.add-addons {
  justify-content: center;

  .form-group {
    margin-bottom: 21px;
  }
}

.addon {
  .model-panel {
    display: flex;
    position: relative;
    overflow: hidden;

    &.modifiable {
      cursor: pointer;
    }

    .model-panel-selected {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 25px solid $success;
      border-top: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $success;
      border-bottom-left-radius: $panelContentBorderRadius;

      i,
      svg {
        color: #fff;
        position: absolute;
        bottom: -16px;
        left: -16px;
      }
    }

    .model-panel-body {
      padding: 15px;
      flex: .5;
      min-height: 80px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }

    .model-panel-image {
      flex: .5;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-left-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
      opacity: .8;
    }

    h3 {
      text-align: right;
      font-size: 20px;
      margin-bottom: 0;
      font-family: 'Orbitron', tahoma, sans-serif;
      font-weight: 400;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .add-addons,
  .addon {
    margin: 0;
  }
}
