@import '~stylesheets/variables';

.hangar-guide {
  padding: 15px;
}

.hangar-guide-topic {
  .hangar-guide-gif {
    float: right;
    max-width: 50%;
    margin-left: 20px;
    border-radius: 3px;
  }

  .hangar-guide-highlight {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    background-color: $gray-dark;
    border-radius: 3px;

    i,
    svg {
      margin-left: 10px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .hangar-guide-topic {
    .hangar-guide-gif {
      display: block;
      float: none;
      max-width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }

    .hangar-guide-highlight {
      display: block;
    }
  }
}
