.contract-items {
  &__name {
    color: #eee;
  }

  &__quantity {
    margin-left: 10px;
    font-variant-numeric: tabular-nums;
    color: $gray-lighter;
  }

  &__reference,
  &__quality {
    margin-left: 10px;
    font-size: 0.85em;
    color: $gray-light;
  }

  &__quality {
    color: $gold;
  }
}
