.navigation-mobile {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  transition:
    left ease $transition-base-speed,
    right ease $transition-base-speed,
    width ease $transition-base-speed;

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: $navigation-mobile-height;
    padding-bottom: $navigation-mobile-bottom-offset;
    background-color: rgba(darken($gray-darker, 7%), 0.95);
    border-top: 1px solid rgba(30, 34, 38, 0.5);

    :deep(li) {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      opacity: 0.9;
      min-height: 60px;

      > a {
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          display: none;
        }
      }

      .nav-item-text {
        display: none;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 10%;
        display: none;
        width: 80%;
        height: 3px;
        background: $primary;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        box-shadow: 2px 0 10px rgba(darken($primary, 20%), 0.9);
        content: "";
      }

      &.nav-item--active {
        opacity: 1;

        &::after {
          display: block;
        }
      }
    }

    :deep(.nav-item) {
      > a {
        padding: 0;
      }

      .nav-item-icon {
        margin-right: 0;
      }
    }

    &__image {
      max-width: 24px;
      margin-right: 3px;
      margin-left: 3px;
      vertical-align: middle;
    }
  }
}

.navigation-mobile__toggle {
  height: 43px;
  padding: 0 11px;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 3px;

  &__icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #c8c8c8;
    border-radius: 1px;
    transition: all ease 0.2s;

    &--top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    &--middle-bar {
      margin-top: 4px;
      opacity: 0;
    }

    &--bottom-bar {
      margin-top: 4px;
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }

  &__update-icon {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 10px;
    height: 10px;
    background-color: $warning;
    border-radius: 50%;
    transition: all ease 0.5s;
  }

  &--collapsed {
    .navigation-mobile__toggle__icon-bar {
      &--top-bar,
      &--bottom-bar {
        transform: rotate(0);
      }

      &--middle-bar {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .nav-visible {
    .navigation-mobile {
      right: 300px;
    }
  }
}

@media (max-width: 370px) {
  .nav-visible {
    .navigation-mobile {
      right: 250px;
    }
  }
}
