.stats-panel {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 15px;

  .stats-panel-icon {
    display: flex;
    flex-flow: column;
    justify-content: center;

    div {
      margin-bottom: 2px;
    }
  }

  .stats-panel-text {
    font-size: 40px;
    text-align: right;

    .stats-panel-text-info {
      font-size: 15px;
    }
  }
}
