.image {
  height: auto;
  max-height: 100%;
  margin-bottom: 10px;
  background-color: black;
  border-radius: $border-radius-base;
  box-shadow: 0 0 5px black;
  opacity: 1;
  transition: opacity ease $transition-base-speed;

  &.image-hidden {
    opacity: 0;
  }
}

.ship-detail-left-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.holoviewer {
  position: absolute;
  top: -50%;
  z-index: -1;
  width: 100%;
  height: 200%;
}

.image-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  min-height: 600px;
}

.fleetchart-views {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  position: relative;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }

    &.small {
      img {
        max-width: 50%;
      }
    }
  }
}

.description {
  margin: 20px 0;
}

.production-status {
  margin-top: 20px;
}

.videos {
  margin-bottom: 40px;
}

.sale-button {
  width: 80%;
  max-width: 100%;
}

.manufacturer {
  position: relative;
  display: block;
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-right: 74px;
  color: $text-color;
  color: darken($text-color, 15%);
  font-family: "Orbitron", sans-serif;
  line-height: 1.4;
  text-transform: uppercase;

  .manufacturer-prefix {
    margin-right: 10px;
    font-family: "Dancing Script", cursive;
    color: darken($text-color, 30%);
    font-size: 80%;
    font-style: italic;
    display: inline-block;
    transform: rotate(-5deg);
    font-weight: normal;
    text-transform: lowercase;
  }

  .manufacturer-logo {
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 70px;
    max-height: 70px;
    transform: translate(0, -50%);
  }
}

.modules,
.upgrades,
.variants {
  h2 {
    font-family: "Orbitron", sans-serif;
  }
}

.holo-controls {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1000;
  margin-right: 0;
}

.starship42-link {
  position: absolute;
  top: 18px;
  right: 75px;
  z-index: 1000;
  color: darken($text-color, 5%);
  text-shadow: 0 0 3px black;

  &:hover {
    color: $text-color;
  }
}

@media (max-width: $desktop-breakpoint) {
  .manufacturer {
    float: none;
    margin-top: 10px;
    margin-left: 0;
  }

  .sale-button {
    width: 100%;
  }

  .holoviewer {
    top: 0;
    width: 100%;
    height: 100%;
  }

  .image-wrapper {
    min-height: 300px;
  }

  .fleetchart-views {
    grid-template-columns: 1fr;
  }
}
