@import '~stylesheets/variables';

.image {
  width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
  border-radius: $border-radius-base;
  box-shadow: 0 0 5px black;
}

.description {
  margin: 20px 0;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Orbitron', tahoma, sans-serif;
  text-transform: uppercase;
}
