@import '~stylesheets/variables';

.hangar-guide-box {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: $desktop-breakpoint) {
  .hangar-guide-box {
    width: 100%;
    padding: 0;
  }
}
