@import '~stylesheets/variables';

.modal {
  background-color: rgba(black, .7);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow-y: auto;
  outline: 0;
  align-items: center;

  .modal-dialog {
    transition: transform ease $transition-base-speed ease-out;
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    padding: 15px;
  }

  .modal-body {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .modal-header {
    position: relative;

    .modal-title {
      padding-right: 20px;
      font-family: 'Orbitron', sans-serif;
      font-weight: normal;
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 3px 10px;
      cursor: pointer;
    }
  }

  &.wide {
    .modal-dialog {
      width: 1000px;
    }
  }

  &.show {
    display: flex !important;
  }

  &.fade {
    transition: opacity ease $transition-base-speed / 2 linear;
    opacity: 0;

    .modal-dialog {
      transform: translate(0, -25%);
    }

    &.in {
      opacity: 1;

      .modal-dialog {
        transform: translate(0, 0);
      }
    }
  }
}

.modal-footer {
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: $tablet-breakpoint) {
  .modal {
    align-items: flex-end;

    .modal-dialog {
      width: 100%;
      margin: 0;
      margin-top: env(safe-area-inset-top);

      .modal-content {
        border-width: 1px 0 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.fade {
      .modal-dialog {
        transform: translate(0, 25%);
      }

      &.in {
        .modal-dialog {
          transform: translate(0, -20px);
        }
      }
    }
  }
}
