@import '~stylesheets/variables';

.panel-fleet {
  display: flex;

  h3 {
    font-family: 'Orbitron', tahoma, sans-serif;
  }

  .logo {
    padding: 5px;
    flex: .2;
    background-color: lighten(black, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;

    img {
      max-width: 100%;
    }
  }

  .inner {
    padding: 12px;
    flex: .8;
  }

  .activities {
    position: absolute;
    bottom: 5px;
    right: 5px;

    img {
      width: 30px;
    }
  }
}
