@import '~stylesheets/variables';

$borderRadius: 16px;

.shop-list {
  > .panel {
    min-height: 400px;
    background-color: black;

    .panel-heading .panel-title {
      font-size: 30px;
      margin-top: 10px;
      text-shadow: 0 0 2px black;
    }

    > .panel-inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  h2 {
    small {
      font-size: 20px;
    }
  }

  .panel-bg {
    border-radius: $borderRadius;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .7;

    &::before {
      content: '';
      border-top-left-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
      position: absolute;
      top: 0;
      bottom: 70%;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, rgba(black, .5) 50%, transparent);
    }
  }
}
