.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.stepper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-inline: 20px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;

  .breadcrumb-item {
    padding: 4px 8px;
    color: $gray-light;
    font-size: 110%;

    + .breadcrumb-item::before {
      float: left;
      padding-right: 0.5rem;
      color: $gray-light;
      content: "/";
    }

    > a {
      color: $gray-lighter;

      &:hover {
        color: $text-color;
      }
    }

    &:first-child {
      padding-right: 4px;
      padding-left: 0;
    }

    &:not(:first-child) > a {
      padding-left: 5px;
    }
  }
}
