- content_for :title do
  = I18n.t(:"title.station.edit")
.row
  .col-12.col-md-12

    .row
      .col-12.col-md-8
        %h2
          = I18n.t(:"headlines.admin.station.edit", station: station.name)

      .col-12.col-md-4
        .d-flex.justify-content-end
          .btn-group
            = link_to I18n.t(:"actions.back"), admin_stations_path(params: index_back_params, anchor: station.id), class: "btn btn-dark"

    = render "form"
