.app-notifications {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* 1. declare transition */
.app-notifications-fade-move,
.app-notifications-fade-enter-active,
.app-notifications-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.app-notifications-fade-enter-from,
.app-notifications-fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.app-notifications-fade-leave-active {
  position: absolute;
}

@media (max-width: $tablet-breakpoint) {
  .app-notifications {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
  }
}
