.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th=sort_link(@q, :username)
        %th=sort_link(@q, :email)
        %th=sort_link(@q, :current_sign_in_at)
        %th=sort_link(@q, :created_at)
        %th.actions.actions-three
    %tbody
      = render partial: "admin/admin_users/show", collection: @admin_users, as: :admin_user

      - if @admin_users.blank?
        = render "shared/tables/blank", count: 3, resource: "admin_user"
