@import '~stylesheets/variables';

nav {
  transition: left ease $transition-base-speed, right ease $transition-base-speed, width ease $transition-base-speed;
  position: relative;
  z-index: 1000;
  width: 300px;
  height: 100%;

  .environment-label {
    position: fixed;
    right: 20px;
    top: 20px;

    &.spacing-right {
      right: 220px;
    }

    .git-revision {
      cursor: pointer;
    }
  }

  .nav-toggle {
    transition: left ease $transition-base-speed;
    position: absolute;
    left: 0;
    top: 0;
    border-color: transparent;
    background-color: transparent;
    margin: 10px 10px;
    padding: 18px 14px;
    border: 1px solid transparent;
    border-radius: 3px;

    .icon-bar {
      display: block;
      height: 2px;
      border-radius: 1px;
      background-color: #c8c8c8;
      width: 22px;
      transition: all ease .2s;
    }

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    .middle-bar {
      opacity: 0;
      margin-top: 4px;
    }

    .bottom-bar {
      margin-top: 4px;
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    .update-icon {
      position: absolute;
      top: 12px;
      right: 8px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: $warning;
      transition: all ease .5s;
    }

    &.collapsed {
      .top-bar,
      .bottom-bar {
        transform: rotate(0);
      }

      .middle-bar {
        opacity: 1;
      }
    }
  }

  .nav-container {
    transition: left ease $transition-base-speed, width ease $transition-base-speed;
    position: fixed;
    background-color: rgba($gray-darker, .5);
    border-right: 1px solid rgba(30, 34, 38, .5);
    width: 300px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;

    .nav-container-inner {
      padding-bottom: 150px;
      position: relative;
      min-height: 100%;

      > :first-child {
        padding-top: 20px;
      }

      > :last-child {
        padding-bottom: 20px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .logo-menu {
      min-height: 60px;

      .logo {
        width: 40px;
        position: absolute;
        transition: left ease $transition-base-speed;
        top: 10px;
        left: 30px;
      }

      span {
        padding-top: 6px;
        padding-left: 50px;
        padding-right: 20px;
        display: block;
        font-family: 'Orbitron', sans-serif;
      }
    }

    .nav-bottom {
      position: absolute;
      bottom: 0;
    }

    &.nav-container-slim {
      width: 80px;

      .logo-menu {
        > :first-child {
          min-height: 60px;
        }

        .logo {
          left: 20px;
          top: auto;
        }
      }
    }
  }

  .quick-search-bar {
    position: absolute;
    top: 15px;
    left: 315px;
    width: 600px;
    transition: left ease .5s, right ease .5s;
  }

  &.nav-slim {
    width: 80px;

    .quick-search-bar {
      left: 95px;
    }
  }
}

.nav-visible .quick-search-bar {
  left: 370px;
}

@media (max-width: $desktop-breakpoint) {
  nav {
    margin-top: env(safe-area-inset-top);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    .nav-container {
      padding-top: env(safe-area-inset-top);
      padding-left: env(safe-area-inset-left);
      position: fixed;
      width: 300px;
      height: 100vh;
      top: 0;
      right: auto;
      bottom: 0;
      left: -300px;
      max-height: 100vh;

      .nav-container-inner {
        > :first-child {
          padding-top: 5px;
        }

        > :last-child {
          padding-bottom: 10px;
        }
      }
    }

    .nav-toggle {
      margin-left: env(safe-area-inset-left);
      padding-left: 24px;
      position: absolute;
    }

    .quick-search-bar {
      padding-right: env(safe-area-inset-right);
      padding-left: env(safe-area-inset-left);
      width: auto;
      right: 15px;
      left: 70px;
    }
  }

  .nav-visible {
    left: 300px;
    right: -300px;

    nav {
      .nav-toggle {
        left: 300px;
      }

      .nav-container {
        left: 0;
      }

      .environment-label {
        right: -280px;
      }
    }

    .quick-search-bar {
      left: 370px;
      right: -285px;
    }
  }
}

@media (max-width: 370px) {
  nav {
    .nav-container {
      width: 250px;
      left: -250px;
    }
  }

  .nav-visible {
    left: 250px;
    right: -250px;

    nav {
      .nav-toggle {
        left: 250px;
      }

      .quick-search-bar {
        left: 250px;
        right: -285px;
      }
    }
  }
}
