.filtered-list-header {
  display: flex;
  justify-content: space-between;

  > * {
    flex: 1 1 0;

    &:first-child {
      > :first-child {
        margin-left: 0;
      }
    }

    &:last-child {
      display: flex;
      justify-content: flex-end;

      > :last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .filtered-list-header {
    flex-wrap: wrap;

    > * {
      flex: none;
      width: auto;
    }

    > :first-child {
      flex: 1 0 0;
      margin-left: 0;

      > :first-child {
        margin-left: 0;
      }
    }

    > :last-child {
      margin-right: 0;
      margin-left: 10px;
    }

    > .pagination-wrapper {
      flex: 0 0 100%;
      order: 3;
    }
  }
}
