.hangar-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .page-actions {
    white-space: nowrap;
  }
}

.hangar-metrics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;

  .metrics-label,
  .metrics-value {
    display: inline-block;
  }
}

@media (max-width: $desktop-breakpoint) {
  .hangar-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .hangar-labels {
      display: flex;
      justify-content: space-between;
      width: 100%;

      > * {
        flex-grow: 1;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .hangar-metrics {
    flex-wrap: wrap;

    .metrics-item {
      padding-right: 8px;
    }
  }
}

.hangar-public {
  h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .avatar {
      margin-right: 20px;
    }
  }

  .hangar-profile-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    margin: 15px 0;
    font-size: 30px;

    > a {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .fleetchart {
    align-items: center;
    justify-content: space-around;

    .fleetchart-item {
      display: inline-block;
      margin: 10px;
      text-align: center;
    }
  }
}
