.icon {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &.icon-rsi {
    width: 46px;
    height: 24px;
    background-image: url(~images/rsi_logo.png);
  }

  &.icon-label {
    &.icon-rsi {
      width: 30px;
      height: 18px;
    }
  }

  &.icon-small {
    &.icon-rsi {
      width: 22px;
      height: 16px;
    }
  }

  &.icon-large {
    &.icon-rsi {
      width: 76px;
      height: 40px;
    }
  }
}
