$innerBorderWidth: 2px;

.pagination-pages {
  min-width: 100px;
  padding: 6px 10px;
  text-align: center;
}

.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

@media (max-width: $desktop-breakpoint) {
  .pagination {
    justify-content: center;
  }
}
