.roadmap {
  .show-released {
    display: inline-block;
    margin-bottom: 30px;
    color: darken($text-color, 10%);
    font-weight: bold;
    cursor: pointer;
  }

  .release-progress {
    margin-bottom: 20px !important;
  }

  .release {
    position: relative;
    margin-bottom: 30px;

    h2 {
      margin-bottom: 20px;

      &.toggleable {
        cursor: pointer;
      }

      i {
        position: absolute;
        top: 0;
        right: 20px;
        transition: all .5s ease;
      }

      .released-label {
        color: darken($text-color, 20%);
        text-transform: uppercase;
      }

      &.open {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  .progress {
    position: relative;
    height: 1.5rem;
    margin: 0;

    .progress-label {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1.5rem;
      color: #fff;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
    }

    .progress-bar {
      background-color: $primary;

      &.completed {
        background-color: $success;
      }

      &.active {
        background-color: $warning;
      }
    }
  }

  .release > .collapse > .progress {
    margin-bottom: 20px;
  }

  .roadmap-item {
    width: 100%;

    .panel-inner {
      display: flex;
    }

    .item-body {
      position: relative;
      flex: .8;
      padding: 15px;
    }

    .item-image {
      position: relative;
      flex: .2;
      width: 120px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-left-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
      opacity: .8;

      .roadmap-item-updated {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 15px;
        height: 15px;
        background-color: $success;
        border-radius: 50%;
        box-shadow: 0 0 3px $gray-darker;
      }
    }

    a {
      color: $text-color;
    }

    h3 {
      position: relative;
      font-weight: 400;
      font-size: 20px;
      font-family: 'Orbitron', tahoma, sans-serif;

      small {
        display: block;
      }
    }

    p {
      position: relative;
      z-index: 20;
      margin-bottom: 10px;
    }

    &.compact {
      h3 {
        display: flex;
        justify-content: space-between;

        small {
          span {
            display: none;
          }
        }
      }
    }

    &.inactive {
      opacity: .5;
    }
  }
}
