.support-button {
  position: absolute;
  top: -64px;
  right: 15px;
  margin: 0;
}

.support-body {
  text-align: center;
}

@media (max-width: $desktop-breakpoint) {
  .support-button {
    right: auto;
    left: 15px;
  }
}
