h2,
h3,
h4 {
  margin-top: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
}

address {
  .name {
    color: #999;
    font-weight: normal;
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif;
  }
}

blockquote {
  padding-left: 15px;
  border-left: 5px solid $gray-light;

  &.text-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid $gray-light;
    border-left: none;
  }

  footer {
    a {
      color: $gray-light;

      &:hover {
        color: white;
      }
    }
  }
}

h1,
.navbar-brand {
  font-family: 'Orbitron', sans-serif;

  small {
    font-family: 'Open Sans', sans-serif;
  }
}

.price-info {
  font-size: 70%;
}

.panel-title {
  font-weight: normal;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;

  small {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }
}

.text-muted {
  color: darken($text-color, 30%) !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
}
