.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th.preview
        %th=sort_link(@q, :name)
        %th=sort_link(@q, :model_name, 'Models')
        %th=sort_link(@q, :hidden)
        %th=sort_link(@q, :active)
        %th.actions.actions-two=I18n.t(:"labels.table.actions")
    %tbody
      = render partial: "admin/model_modules/show", collection: @model_modules, as: :model_module

      - if @model_modules.blank?
        = render "shared/tables/blank", count: 3, resource: "model_module"
