.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th.preview
        %th.id=sortable "id", I18n.t(:"labels.table.id")
        %th=sortable "name", I18n.t(:"labels.table.image.name")
        %th=sortable "gallery_type", I18n.t(:"labels.table.image.gallery_type")
        %th.actions.actions-two
    %tbody
      = render partial: "backend/images/show", collection: @images, as: :image

      - if @images.blank?
        = render "shared/tables/blank", count: 3, resource: "image"
