.row.fields
  .col-12.col-md-6
    .form-group{class: form_error?(fields.object, :model_id)}
      = fields.select :model_id, options_from_collection_for_select(Model.all.order(:name), :id, :name, fields.object.model_id), { include_blank: true }, { class: 'form-control' }
      = form_errors fields.object, :model_id

  .col-12.col-md-1
    .d-flex.justify-content-end
      .btn-group-responsive.form-group
        = link_to_delete_fields fields, name: I18n.t(:"actions.delete"), class: "btn btn-danger" do
          %i.fa.fa-trash

  .clearfix
  .col-12.d-md-none.d-sm-block
    %hr
