.lazy {
  &[lazy='loading']::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-image: url('~images/loading.svg');
    background-position: center;
    background-size: 100%;
    content: '';
  }

  &[lazy='error'] {
    background-image: url('~images/store_image.jpg') !important;
  }
}

.images {
  margin-bottom: 20px;

  .image {
    position: relative;
    margin-bottom: 20px;
    background-color: black;
    background-position: center;
    background-size: cover;
    border-radius: $border-radius-base;
    box-shadow: 0 0 5px black;
  }
}

.videos {
  margin-bottom: 20px;

  .video {
    margin-bottom: 20px;
  }
}

.embed-responsive {
  overflow: hidden;
  background-color: #272b30;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 5px black;
}

.embed-copy {
  position: absolute;
  right: 5px;
  bottom: 25px;
  z-index: 1000;
}

.youtube-placeholder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    font-size: 100px;
  }
}

.lazy-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &[lazy='loading']::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-image: url('~images/loading.svg');
    background-position: center;
    background-size: 100%;
    content: '';
  }

  &[lazy='error'] {
    background-image: url('~images/store_image.jpg') !important;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
