.page-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.page-actions-left {
    justify-content: flex-start;

    & > a,
    & > button {
      margin-right: 10px;
      margin-left: 0;
    }
  }

  &.page-actions-right {
    justify-content: flex-end;

    & > a,
    & > button {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .page-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;

    &.page-actions-left {
      > :last-child {
        margin-right: 0;
      }
    }

    &.page-actions-right {
      > :first-child {
        margin-left: 0;
      }
    }

    .panel-btn {
      flex-grow: 1;
    }
  }
}
