.preview-image {
  &--removable {
    cursor: pointer;

    &:hover {
      .preview-image__remove {
        display: block;
      }
    }
  }

  &__remove {
    display: none;
    position: absolute;

    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
  }

  &__progress-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(black, 0.6);
    transition: width 0.3s ease;
  }
}
