@import "~stylesheets/variables";

.empty-box {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.info {
  p {
    color: lighten($primary, 10%);
  }
}

@media (min-width: $desktop-breakpoint) {
  .empty-box {
    width: 100%;
    padding: 0;
  }
}
