.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.hangar-public-heading__supporter {
  margin-left: 12px;
  font-size: 0.6em;
  vertical-align: middle;
}
