.image {
  width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
  border-radius: $border-radius-base;
  box-shadow: 0 0 5px black;
}

.description {
  margin: 20px 0;
}

.shops {
  h2 {
    font-family: "Orbitron", tahoma, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
}
