= paginator.render do
  - total = @options[:total_pages]
  - url = @options[:url]
  - page = @options[:current_page].number
  .pagination
    .panel-btn-group
      %a.panel-btn.panel-btn-small.panel-btn-dropdown-link{ class: ('disabled' if page - 1 < 1), href: plumb(page: 1) }
        .panel-btn-inner
          %i.fa.fa-chevron-double-left
      %a.panel-btn.panel-btn-small.panel-btn-dropdown-link{ class: ('disabled' if page - 1 < 1), href: plumb(page: page - 1) }
        .panel-btn-inner
          %i.fa.fa-chevron-left
      %span.pagination-pages
        = page
        of
        = total
      %a.panel-btn.panel-btn-small.panel-btn-dropdown-link{ class: ('disabled' if page + 1 > total), href: plumb(page: page + 1) }
        .panel-btn-inner
          %i.fa.fa-chevron-right
      %a.panel-btn.panel-btn-small.panel-btn-dropdown-link{ class: ('disabled' if page + 1 > total), href: plumb(page: total) }
        .panel-btn-inner
          %i.fa.fa-chevron-double-right
