- content_for(:title) do
  404
.cbox.cbox-error.cbox-large
  .well
    %h1 Navigation Error

    %p
      You are currently venturing unknown space. In the event you are lost, the UEE highly recommends plotting a new destination back towards home-space.
