.vehicle-states {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px;
  font-size: 150%;
  width: 100%;

  .on-sale {
    color: $success;
  }

  .flagship-icon {
    color: $gold;
  }

  .full-public-icon {
    color: $gray-lighter;
  }
}

@media (max-width: $desktop-breakpoint) {
  .vehicle-states,
  .hangar-groups {
    justify-content: center;
  }
}
