@import "~stylesheets/variables";

nav {
  transition: left ease 0.5s, right ease 0.5s;
  position: fixed;
  z-index: 1000;
  top: 0;

  .nav-toggle {
    transition: left ease 0.5s;
    position: absolute;
    left: 0;
    top: 10px;
    border-color: transparent;
    background-color: transparent;
    margin: 0;
    padding: 8px 15px;
    border: 1px solid transparent;
    border-radius: 3px;

    .icon-bar {
      display: block;
      height: 2px;
      border-radius: 1px;
      background-color: #c8c8c8;
      width: 22px;
      transition: all ease 0.2s;
    }

    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    .middle-bar {
      opacity: 0;
      margin-top: 4px;
    }

    .bottom-bar {
      margin-top: 4px;
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    &.collapsed {
      .top-bar,
      .bottom-bar {
        transform: rotate(0);
      }

      .middle-bar {
        opacity: 1;
      }
    }
  }

  .nav-container {
    transition: left ease 0.5s;
    position: fixed;
    background-color: rgba($gray-darker, 0.5);
    border-right: 1px solid rgba(30, 34, 38, 0.5);
    width: 300px;
    top: 0;
    bottom: 0;
    left: -300px;
    right: auto;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    padding: 0;

    .logo {
      width: 80%;
      position: absolute;
      left: 10%;
      bottom: 5px;
      opacity: 0.5;
    }

    > :first-child {
      padding-top: 20px;
    }

    > :last-child {
      padding-bottom: 20px;
    }

    .update {
      text-align: center;
      margin: 0 15px 0 30px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {

        > ul {
          padding-left: 20px;
        }

        > a {
          cursor: pointer;
          position: relative;
          display: block;
          padding: 10px 15px 10px 30px;
          transition: all ease $transition-base-speed;

          &::after {
            transition: all ease $transition-base-speed;
            width: 3px;
            opacity: 0;
            height: 80%;
            content: "";
            position: absolute;
            top: 10%;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            right: 0;
          }
        }

        &.divider {
          padding: 0;
          margin: 5px 15px 5px;
          height: 1px;
          background-color: $gray-darker;
        }

        &.active > a,
        &:hover > a {
          color: #fff;
          background-image: linear-gradient(to right, transparent, rgba($gray-darker, 0.6));

          &::after {
            opacity: 1;
            background: $primary;
            box-shadow: -3px 0 10px rgba(darken($primary, 20%), 0.9), 0 3px 10px rgba(darken($primary, 20%), 0.9), 0 -3px 10px rgba(darken($primary, 20%), 0.9);
          }
        }
      }
    }

    .sub-menu {
      > a > i {
        transition: all 0.5s ease;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -7px;
      }

      &.open {
        > a > i {
          transform: rotate(180deg);
        }
      }
    }

    .user-menu {
      min-height: 60px;

      .avatar {
        position: absolute;
        top: 10px;
        left: 30px;

        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }

        .no-avatar {
          padding: 6px 9px 5px 8px;
        }
      }

      .username {
        font-size: 20px;
        padding-top: 6px;
        padding-left: 50px;
        padding-right: 20px;
        display: block;
      }

      .verified {
        width: 12px;
        height: 12px;
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        background-color: $success;
        border-radius: 100%;
        text-align: center;

        i {
          display: inline-block;
          vertical-align: top;
          margin-top: 15%;
          font-size: 9px;
        }
      }
    }
  }
}

.nav-visible {
  left: 300px;
  right: -300px;

  nav {
    .nav-toggle {
      left: 300px
    }

    .nav-container {
      left: 0;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  nav {
    .nav-toggle {
      padding-top: env(safe-area-inset-top);
    }

    .nav-container {
      padding-top: env(safe-area-inset-top);
      padding-left: env(safe-area-inset-left);
      width: 300px;
      left: -300px;
    }
  }
}

@media (max-width: 370px) {
  nav {
    .nav-container {
      width: 250px;
      left: -250px;
    }
  }

  .nav-visible {
    left: 250px;
    right: -250px;

    nav {
      .nav-toggle {
        left: 250px
      }
    }
  }
}
