@import "@/stylesheets/variables";

.user-menu {
  .avatar {
    margin: -5px;
    display: inline-flex;
  }

  .username {
    display: block;
    padding-top: 6px;
    padding-right: 20px;
    font-size: 20px;
  }

  &.user-menu-slim {
    > :first-child {
      height: 60px;
    }
  }
}
