@import '~stylesheets/variables';

.production-status {
  font-size: 75%;
  text-align: center;
  line-height: 1;
  color: $gray-light;
  padding: 4px 6px;
  border-bottom: 1px solid rgba(0, 0, 0, .6);
}

.panel-image {
  &.no-details {
    overflow: hidden;
    border-bottom: none;
    -webkit-border-bottom-left-radius: $panelContentBorderRadius;
    -webkit-border-bottom-right-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;

    a {
      overflow: hidden;
      -webkit-border-bottom-left-radius: $panelContentBorderRadius;
      -webkit-border-bottom-right-radius: $panelContentBorderRadius;
      border-bottom-right-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
    }
  }
}

.roles {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
