@import '~stylesheets/variables';

.cargo-route {
  margin-bottom: 40px;

  h2 {
    font-family: 'Orbitron', tahoma, sans-serif;
  }

  .cargo-route-point {
    padding: 10px;
    text-align: center;

    h3 {
      font-size: 140%;
      font-family: 'Orbitron', tahoma, sans-serif;
    }
  }

  .cargo-route-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .profit {
      margin-top: 10px;
      color: $primary;
      font-size: 120%;
    }

    i,
    svg {
      font-size: 200%;
    }
  }
}

.cargo-routes-blank {
  padding: 20px;
  font-size: 120%;
  line-height: 2;
  text-align: center;
}

@media (max-width: $desktop-breakpoint) {
  .cargo-route-center {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
