- content_for :title do
  = I18n.t(:"title.sign_in")
.row.justify-content-center
  .col-12.col-sm-6.col-lg-4.col-xlg-3
    .card.mt-5.p-3.text-white.bg-dark
      %h1=I18n.t(:"headlines.sign_in")

      = form_for resource, as: resource_name, url: session_path(resource_name), method: :post do |f|

        .form-group
          = f.text_field :username, required: false, autofocus: true, placeholder: I18n.t(:"helpers.placeholder.admin_user.username"), class: 'form-control'

        .form-group
          = f.password_field :password, required: false, placeholder: I18n.t(:"helpers.placeholder.admin_user.password"), class: 'form-control'

        - if devise_mapping.rememberable?
          .form-group
            = f.check_box :remember_me, class: 'checkbox'
            %label{for: "admin_user_remember_me"}
              = I18n.t(:"helpers.label.user.remember_me")
        .text-right
          %button.btn-xs-block.btn.btn-lg.btn-primary{data: {loading: {text: I18n.t(:"actions.loading")}}}
            = I18n.t(:"actions.sign_in")
    %br
    .text-center
      %a.btn.btn-link{href: new_admin_user_password_path}
        = I18n.t(:"actions.reset_password")
