.module-item {
  .module-image {
    max-width: 100px;
    flex: none;
  }

  .module-panel {
    cursor: pointer;

    .module-panel-selected {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $success;
      border-radius: 0 10px 0 $panelContentBorderRadius;

      i,
      svg {
        color: #fff;
      }
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .module-item {
    margin: 0;
  }
}
