.roadmap-item-status {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > div {
    gap: 5px;
    display: flex;
    align-items: center;
  }

  &-committed {
    color: $success;
    box-shadow: 0 0 3px $gray-darker;
  }

  &-compact {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
}
