.container-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0.5rem;

  &__actions {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
}

.toolbar {
  align-items: flex-start;
}

.ship-selector-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.ship-entry {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;

  &__name {
    font-weight: 600;
  }
}
