$loader-size: 80px;
$loader-margin: 40px;
$cube-scale: 1.1;
$animation-duration: 2.4s;
$animation-delay-increment: 0.3s;
$progress-bar-size: 5px;
$progress-bar-offset: -10px;

.loader {
  position: absolute;
  left: 50%;
  z-index: 3000;
  width: $loader-size;
  height: $loader-size;
  margin: $loader-margin auto;
  margin-left: -($loader-size / 2);
  transform: rotateZ(45deg);

  &--fixed {
    top: 20vh;
  }

  &--relative {
    top: 50%;
    margin-top: -($loader-margin / 2);
  }

  &--inline {
    top: 0;
    position: relative;
  }

  .cube {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    transform: scale($cube-scale);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      transform-origin: 100% 100%;
      animation: loader-foldCubeAngle $animation-duration infinite linear both;
      content: "";
    }

    &.cube2 {
      transform: scale($cube-scale) rotateZ(90deg);

      &::before {
        animation-delay: $animation-delay-increment;
      }
    }

    &.cube3 {
      transform: scale($cube-scale) rotateZ(180deg);

      &::before {
        animation-delay: $animation-delay-increment * 2;
      }
    }

    &.cube4 {
      transform: scale($cube-scale) rotateZ(270deg);

      &::before {
        animation-delay: $animation-delay-increment * 3;
      }
    }
  }

  .progress {
    position: absolute;
    border-radius: 0;
    background-color: $primary;

    &.progress-left {
      bottom: $progress-bar-offset;
      right: 0;
      width: 0%;
      height: $progress-bar-size;
      max-width: 100%;
      transition: width $transition-base-speed ease;
    }

    &.progress-right {
      bottom: 0;
      right: $progress-bar-offset;
      height: 0%;
      width: $progress-bar-size;
      max-height: 100%;
      transition: height $transition-base-speed ease;
    }
  }

  &--admin {
    .cube::before {
      background-color: $admin-primary;
    }

    .progress {
      background-color: $admin-primary;
    }
  }
}

@keyframes loader-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
