@import '~stylesheets/variables';

li.nav-item {
  > a,
  > span {
    position: relative;
    display: block;
    padding: 10px 15px 10px 30px;
    color: darken($text-color, 10%);
    font-size: 18px;
    white-space: nowrap;
    transition: all ease $transition-base-speed;

    i:not(.fa-chevron-right),
    svg:not(.fa-chevron-right) {
      min-width: 30px;
      text-align: center;
    }

    &::after {
      opacity: 1;
      transition: all ease $transition-base-speed;
    }
  }

  > a {
    cursor: pointer;
  }

  &:hover > a {
    color: lighten($text-color, 10%);
  }

  &.active > a {
    color: lighten($text-color, 20%);

    &::after {
      position: absolute;
      top: 10%;
      left: 0;
      width: 3px;
      height: 80%;
      background: $primary;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      box-shadow: 2px 0 10px rgba(darken($primary, 20%), 0.9);
      content: '';
    }
  }

  &.divider {
    height: 1px;
    margin: 5px 15px 5px;
    padding: 0;
    background-color: $gray-darker;
  }

  &.sub-menu {
    > a {
      .submenu-icon {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -10px;

        i.fa-chevron-right,
        svg.fa-chevron-right {
          transition: all $transition-base-speed ease;
        }
      }
    }

    ul {
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      list-style: none;

      > li > a {
        padding-left: 40px;
        font-size: 16px;
      }
    }

    &.open {
      &.active > a {
        &::after {
          opacity: 0;
        }
      }

      > a {
        .submenu-icon {
          i.fa-chevron-right,
          svg.fa-chevron-right {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  &.nav-item-slim {
    > a {
      padding: 10px 10px 10px 25px;
      font-size: 24px;
    }

    &.sub-menu {
      ul > li > a {
        padding-left: 25px;
        font-size: 20px;
      }
    }
  }
}
