@import '~noty/lib/noty';

#fleetyards-view {
  @import 'variables';
  @import 'colors/default';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/normalize';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/print';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/type';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/grid';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/utilities';
  @import '~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';
  @import 'colors/dark_overrides';
  @import 'partials/responsive';
  @import 'partials/typography';
  @import 'partials/transitions';
  @import 'partials/flex';
  @import 'partials/media';
  @import 'partials/buttons';
  @import 'partials/tooltip';
  @import 'partials/loader';
  @import 'partials/metrics';
  @import 'partials/labels';
  @import 'partials/panel';
  @import 'partials/fleetchart';
  @import 'partials/slider';

  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  .row > [class*='col-'] {
    transition: width ease $transition-base-speed;
  }

  a,
  input[type='button'],
  button {
    outline: 0 none !important;
  }

  hr {
    border: none;
    background-color: $gray;
    height: 3px;
    border-radius: 50%;
    margin: 20px 5%;

    &.large-spacer {
      margin: 60px 5%;
    }

    &.dark {
      background-color: $gray-black;
    }

    &.slim-spacer {
      margin: 10px 5%;
    }
  }
}
