@import '~noty/lib/noty';
@import '~photoswipe/dist/photoswipe';
@import 'vendor/photoswipe/default-skin';
@import 'variables';
@import 'colors/default';
@import 'bootstrap-custom';
@import 'colors/dark_overrides';
@import 'nprogress-custom';
@import 'partials';

.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
  -webkit-overflow-scrolling: auto;

  > body {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-width: 320px;
  min-height: 100%;
  background-color: $background;
}

.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .app-content {
    display: flex;
    align-items: stretch;
  }

  .main-wrapper {
    max-width: 100%;
    flex: 1;
    padding-top: 80px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .main-inner {
    min-height: 100vh;
  }

  .main {
    left: 0;
    position: relative;
    transition: left ease .5s, right ease .5s;
    width: 100%;
    margin-bottom: 50px;
  }

  &.nav-visible {
    .main {
      left: 300px;
      right: -300px;
    }
  }
}

.app-intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  margin-top: -80px;
  margin-bottom: -50px;
  height: 100vh;
  text-align: center;

  .logo {
    width: 200px;
    margin-bottom: 28px;
    margin-right: -30px;
  }
}

a,
input[type='button'],
button {
  outline: 0 none !important;
}

hr {
  border: none;
  background-color: $gray;
  height: 3px;
  border-radius: 50%;
  margin: 20px 5%;

  &.large-spacer {
    margin: 60px 5%;
  }

  &.dark {
    background-color: $gray-black;
  }

  &.slim-spacer {
    margin: 10px 5%;
  }
}

.page-main-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: $desktop-breakpoint) {
  .app-body {
    .main-wrapper {
      margin-top: env(safe-area-inset-top);
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }
  }

  .app-intro {
    .logo {
      width: 200px;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}

@media (max-width: 370px) {
  .app-body {
    padding-top: 70px;

    .main-wrapper {
      padding-top: 0;
    }

    &.nav-visible {
      .main {
        left: 250px;
        right: -250px;
      }
    }
  }
}
