@import "~noty/lib/noty";
@import "~photoswipe/dist/photoswipe";
@import "vendor/photoswipe/default-skin";
@import "variables";
@import "colors/default";
@import "bootstrap-custom";
@import "colors/dark_overrides";
@import "nprogress-custom";
@import "partials/typography";
@import "partials/transitions";
@import "partials/background";
@import "partials/flex";
@import "partials/media";
@import "partials/noty";
@import "partials/form";
@import "partials/buttons";
@import "partials/tooltip";
@import "partials/loader";
@import "partials/hardpoint";
@import "partials/small-loader";
@import "partials/metrics";
@import "partials/labels";
@import "partials/table";
@import "partials/tabs";
@import "partials/panel";
@import "partials/fleetchart";
@import "partials/pagination";
@import "partials/v-select-overrides";

html {
  height: 100%;
}

.no-scroll {
  overflow: hidden !important;
  position: relative !important;
  -webkit-overflow-scrolling: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: auto;
  position: relative;
  min-width: 320px;
  background-color: black;
  min-height: 100%;

  > .container {
    padding-bottom: 20px;
    overflow-y: scroll;
  }
}

.app-body {
  display: flex;
  padding-top: 70px;
  min-height: 100vh;
  flex-direction: column;

  .main {
    margin-bottom: 50px;
    flex: 1;
  }

  &.navbar-visible {
    .main {
      left: 80vw;
      right: -80vw;
    }

    .app-footer {
      left: 80vw;
      right: -80vw;
    }
  }
}

.app-intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  margin-top: -70px;
  margin-bottom: -50px;
  height: 100vh;
  text-align: center;

  .logo {
    width: 200px;
    margin-bottom: 28px;
    margin-right: -30px;
  }
}

a,
input[type=button],
button {
  outline: 0 none !important;
}

.list-group a {
  border: none;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

@media (max-width: $desktop-breakpoint) {
  .app-body {
    .main {
      left: 0;
      position: relative;
      transition: left ease 0.5s, right ease 0.5s;
      width: 100%;
    }
  }

  .app-intro {
    .logo {
      width: 200px;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}
