@import '~noty/lib/noty';
@import '~photoswipe/dist/photoswipe';
@import 'vendor/photoswipe/default-skin';
@import 'variables';
@import 'colors/default';
@import 'bootstrap-custom';
@import 'colors/dark_overrides';
@import 'nprogress-custom';
@import 'partials/typography';
@import 'partials/transitions';
@import 'partials/background';
@import 'partials/flex';
@import 'partials/media';
@import 'partials/noty';
@import 'partials/form';
@import 'partials/buttons';
@import 'partials/tooltip';
@import 'partials/loader';
@import 'partials/hardpoint';
@import 'partials/small-loader';
@import 'partials/metrics';
@import 'partials/labels';
@import 'partials/tabs';
@import 'partials/panel';
@import 'partials/fleetchart';
@import 'partials/pagination';
@import 'partials/v-select-overrides';
@import 'partials/roadmap';

.no-scroll {
  overflow: hidden !important;
  position: relative !important;
  -webkit-overflow-scrolling: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-width: 320px;
  min-height: 100%;
  background-color: black;
}

.app-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .main-wrapper {
    min-height: 100vh;
    flex: 1;
    padding-top: 80px;
    margin-bottom: 50px;
  }

  .main {
    overflow-y: auto;
    left: 0;
    position: relative;
    transition: left ease .5s, right ease .5s;
    width: 100%;
  }

  .app-footer {
    left: 0;
    transition: left ease .5s, right ease .5s;
  }

  &.nav-visible {
    .main {
      left: 300px;
      right: -300px;
    }

    .app-footer {
      left: 300px;
      right: -300px;
    }
  }
}

.app-intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  margin-top: -80px;
  margin-bottom: -50px;
  height: 100vh;
  text-align: center;

  .logo {
    width: 200px;
    margin-bottom: 28px;
    margin-right: -30px;
  }
}

a,
input[type='button'],
button {
  outline: 0 none !important;
}

.list-group a {
  border: none;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.top-search-bar {
  position: fixed;
  top: 15px;
  left: 70px;
  width: 600px;
  transition: left ease .5s, right ease .5s;
}

.nav-visible .top-search-bar {
  left: 370px;
}

@media (max-width: $desktop-breakpoint) {
  .app-body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);

    &.nav-visible {
      .top-search-bar {
        right: -285px;
      }
    }
  }

  .app-intro {
    .logo {
      width: 200px;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  .top-search-bar {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
    width: auto;
    right: 15px;
  }
}

@media (max-width: 370px) {
  .app-body {
    padding-top: 70px;

    .main-wrapper {
      padding-top: 0;
    }

    &.nav-visible {
      .main {
        left: 250px;
        right: -250px;
      }

      .app-footer {
        left: 250px;
        right: -250px;
      }

      .top-search-bar {
        right: -285px;
      }
    }
  }
}
