$text-color: #c8c8c8;
$primary: #428bca;
$success: #5cb85c;
$danger: lighten(red, 10%);
$warning: lighten(OrangeRed, 20%);

$background: black;

$gray: #52575c;
$gray-dark: #3a3f44;
$gray-light: #7a8288;
$gray-darker: #272b30;
$gray-lighter: #999;

$input-bg: $gray-dark;
$input-border: $gray-darker;
$input-color: $text-color;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1800px;

$border-radius-base: 4px;

$panel-bg: rgba($gray-darker, .9);
$panel-outer-border: lighten(#555, 10%);
$panel-inner-border: rgba(#c8c8c8, .9);
$panelOuterBorderRadius: 24px;
$panelInnerBorderRadius: 20px;
$panelContentBorderRadius: 16px;

$transition-base-speed: .5s;

$font-size-base: 15px;
