$text-color: #c8c8c8;
$primary: #428bca;
$success: #5cb85c;
$danger: #dc3545;
$warning: darken(#ffc107, 10%);

$background: black;

$gray-lighter: #999;
$gray-light: #7a8288;
$gray: #52575c;
$gray-dark: #3a3f44;
$gray-darker: #272b30;
$gray-black: #222;

// $gold: goldenrod;
$gold: #d4af37;

$input-bg: $gray-dark;
$input-border: $gray-darker;
$input-color: $text-color;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1800px;

$border-radius-base: 4px;

$panel-bg: rgba($gray-darker, .9);
$panel-outer-border: lighten(#555, 10%);
$panel-inner-border: rgba(#c8c8c8, .9);
$panelOuterBorderRadius: 24px;
$panelInnerBorderRadius: 20px;
$panelContentBorderRadius: 16px;

$font-size-base: 15px;
$font-size-h1-base: floor(($font-size-base * 2.15));
$font-size-h2-base: floor(($font-size-base * 1.7));
$font-size-h3-base: floor(($font-size-base * 1.25));
$font-size-h4-base: $font-size-base;
$font-size-h5-base: floor(($font-size-base * .85));
$font-size-h6-base: floor(($font-size-base * .85));

$transition-base-speed: .5s;
