shared:
  name: <%= ENV["APP_NAME"] || 'Fleetyards.net' %>
  copyright_owner: <%= ENV["COPYRIGHT_OWNER"] || 'Torlek Maru' %>

  api_version: <%= ENV["API_VERSION"] || 'v1' %>
  admin_api_version: <%= ENV["ADMIN_API_VERSION"] || 'v1' %>
  store_version: <%= ENV["APP_STORE_VERSION"] || 11.0 %>
  embed_store_version: <%= ENV["APP_EMBED_STORE_VERSION"] || 2.0 %>

  domain: <%= ENV["DOMAIN"] || "localhost:#{ENV["PORT"] || 3000}" %>
  short_domain: <%= ENV["SHORT_DOMAIN"] %>
  cookie_domain: <%= ENV["COOKIE_DOMAIN"] || :all %>
  cookie_prefix: <%= ENV["COOKIE_PREFIX"] || 'FLTYRD' %>

  on_subdomain?: <%= ENV["ON_SUBDOMAIN"] || false %>

  cable_endpoint: <%= ENV["CABLE_ENDPOINT"] || "ws://localhost:#{ENV["PORT"]}/cable" %>
  cable_channel_prefix: <%= ENV["CABLE_CHANNEL_PREFIX"] %>

  mailer_default_from: <%= ENV["MAILER_DEFAULT_FROM"] %>
  mailer_default_admin_to: <%= ENV["MAILER_DEFAULT_ADMIN_TO"] %>

  s3_endpoint: <%= ENV["S3_ENDPOINT"] || "https://fleetyards.fra1.digitaloceanspaces.com" %>
  s3_seeds_fleetchart_bucket: <%= ENV["S3_SEEDS_FLEETCHART_BUCKET"] || "seeds_fleetchart" %>

  opensearch_url: <%= ENV["OPENSEARCH_URL"] || 'localhost:9200' %>

  sc_data:
    # version: "3.24.3-live.9423704"
    # environment: "live"

    version: "4.0.0-live.9470730"
    environment: "live-preview"

  discord:
    oauth_client_id: <%= ENV["DISCORD_OAUTH_CLIENT_ID"] %>
    oauth_secret: <%= ENV["DISCORD_OAUTH_SECRET"] %>

  github:
    oauth_client_id: <%= ENV["GITHUB_OAUTH_CLIENT_ID"] %>
    oauth_secret: <%= ENV["GITHUB_OAUTH_SECRET"] %>

  twitch:
    oauth_client_id: <%= ENV["TWITCH_OAUTH_CLIENT_ID"] %>
    oauth_secret: <%= ENV["TWITCH_OAUTH_SECRET"] %>

staging:
  on_subdomain?: true

production:
  on_subdomain?: true

review:
  domain: <%= ENV["HEROKU_APP_NAME"] %>.herokuapp.com
  elasticsearch_url: <%= ENV["BONSAI_URL"] %>
