.base-table {
  td,
  th {
    padding: 10px;

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  &__inner {
    width: 100%;
  }

  &__header th {
    color: darken($text-color, 20%);
    border-bottom: 1px solid $gray;

    &:last-child {
      text-align: right;
    }
  }

  &__column {
    position: relative;

    &:first-child {
      &::before {
        position: absolute;
        top: 50%;
        width: 4px;
        height: 60px;
        margin-top: -30px;
        background-color: $primary;
        opacity: 0;
        content: "";
        left: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow:
          3px 0 10px rgba(darken($primary, 20%), 0.9),
          0 3px 10px rgba(darken($primary, 20%), 0.9),
          0 -3px 10px rgba(darken($primary, 20%), 0.9);
      }
    }

    &:last-child {
      > .base-table__column-inner {
        justify-content: flex-end;
      }

      &::after {
        position: absolute;
        top: 50%;
        width: 4px;
        height: 60px;
        margin-top: -30px;
        background-color: $primary;
        opacity: 0;
        content: "";
        right: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        box-shadow:
          -3px 0 10px rgba(darken($primary, 20%), 0.9),
          0 3px 10px rgba(darken($primary, 20%), 0.9),
          0 -3px 10px rgba(darken($primary, 20%), 0.9);
      }
    }

    &--centered {
      text-align: center;
    }
  }

  &__column-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__selected {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &--count {
      color: $primary;
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 120%;

      :deep(.panel-btn-inner) {
        color: $primary;
      }
    }

    &--actions {
      position: relative;
      z-index: 1000;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: flex-end;

      :deep(.panel-btn),
      :deep(.panel-btn-group) {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }

  &__row {
    &:hover .base-table__column {
      background-color: rgba(#000, 0.1);

      &:first-child,
      &:last-child {
        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__empty &__empty-inner {
    display: flex;
    justify-content: center;
  }

  &__loader > &__column {
    justify-content: center;
    min-height: 80px;
  }
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-right: -15px;
  //   margin-left: -15px;
  //   position: relative;

  //   &__wrapper {
  //     position: relative;
  //   }

  //   &__loading {
  //     min-height: 240px;
  //   }

  // &__item > &__row,
  //   &__heading > &__row,
  //   &__selected > &__row,
  //   &__empty > &__row,
  //   &__loader > &__row {
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     justify-content: space-between;
  //     transition: width ease $transition-base-speed;

  //     & > div {
  //       &:last-child {
  //         text-align: right;
  //       }
  //     }

  //     .col-selectable {
  //       width: 60px;
  //     }

  //     .description {
  //       flex-grow: 1;
  //       max-width: 100%;
  //       padding-bottom: 15px;
  //       overflow: hidden;
  //       white-space: normal;

  //       h2 {
  //         max-width: 100%;
  //         margin-top: 5px;
  //         overflow: hidden;
  //         font-weight: normal;
  //         font-size: 20px;
  //         font-family: "Orbitron", sans-serif;
  //         text-overflow: ellipsis;
  //       }
  //     }

  //     .empty {
  //       flex-grow: 1;
  //       color: darken($text-color, 20%);
  //       text-align: center;
  //     }

  //     .price,
  //     .size,
  //     .rent-price {
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       min-width: 150px;
  //       max-width: 100%;
  //       padding-right: 20px;
  //       text-align: right;
  //       vertical-align: middle;
  //     }

  //     :deep(.name) {
  //       font-weight: normal;
  //       font-size: 22px;
  //       font-family: "Orbitron", sans-serif;

  //       small {
  //         color: darken($text-color, 20%);
  //       }
  //     }
  //   }

  //   .form-group-checkbox label {
  //     margin-bottom: 0;
  //   }

  //   &__selected > &__row {
  //     justify-content: space-between;

  //     .selected-count {
  //       color: $primary;
  //       font-size: 120%;
  //     }
  //   }

  //   &__empty > &__row {
  //     justify-content: center;
  //     padding: 20px;
  //     color: darken($text-color, 30%);
  //     font-family: "Orbitron", sans-serif;
  //   }

  //   &__loader > &__row {
  //     justify-content: center;
  //     min-height: 80px;
  //   }
}

// @media (min-width: $desktop-breakpoint) {
//   .base-table {
//     &__heading > &__row {
//       border-bottom: 1px solid $gray;

//       & > div {
//         padding: 10px;
//         color: darken($text-color, 20%);

//         &:first-child {
//           padding-left: 20px;
//         }

//         &:last-child {
//           padding-right: 20px;
//         }
//       }
//     }

//     &__selected > &__row {
//       & > div {
//         padding: 10px 20px;
//       }
//     }

//     &__item > &__row {
//       position: relative;

//       &::before,
//       &::after {
//         position: absolute;
//         top: 50%;
//         width: 4px;
//         height: 60px;
//         margin-top: -30px;
//         background-color: $primary;
//         opacity: 0;
//         content: "";
//       }

//       &::before {
//         left: 0;
//         border-top-right-radius: 2px;
//         border-bottom-right-radius: 2px;
//         box-shadow:
//           3px 0 10px rgba(darken($primary, 20%), 0.9),
//           0 3px 10px rgba(darken($primary, 20%), 0.9),
//           0 -3px 10px rgba(darken($primary, 20%), 0.9);
//       }

//       &::after {
//         right: 0;
//         border-top-left-radius: 2px;
//         border-bottom-left-radius: 2px;
//         box-shadow:
//           -3px 0 10px rgba(darken($primary, 20%), 0.9),
//           0 3px 10px rgba(darken($primary, 20%), 0.9),
//           0 -3px 10px rgba(darken($primary, 20%), 0.9);
//       }

//       &:hover {
//         &::before,
//         &::after {
//           opacity: 1;
//         }
//       }

//       & > div {
//         padding: 10px;

//         &:last-child {
//           padding-right: 20px;
//         }

//         &:first-child {
//           padding-left: 20px;
//         }
//       }
//     }
//   }
// }

// @media (max-width: $desktop-breakpoint) {
//   .base-table {
//     &__heading {
//       display: none;
//     }

//     &__item > &__row {
//       flex-direction: column;

//       & > div {
//         width: 100% !important;
//         padding: 10px;
//       }

//       .price,
//       .rent-price {
//         flex-direction: row;
//         justify-content: space-between;

//         .price-label {
//           display: inline;
//         }
//       }
//     }
//   }
// }
