.row
  .col-xs-12.col-md-6
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = I18n.t(:"labels.panels.visits_per_day")
      .panel-body
        = line_chart(@visits_per_day, refresh: 60, library: { yAxis: { allowDecimals: false } })
  .col-xs-12.col-md-6
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = I18n.t(:"labels.panels.visits_per_month")
      .panel-body
        = column_chart(@visits_per_month, library: { yAxis: { allowDecimals: false } })
