- content_for :title do
  = I18n.t(:"meta.title.backend.users.new")
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = I18n.t(:"headlines.backend.user.new")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.back"), backend_users_path, class: "btn btn-default"

    = render "form"
