.background-image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url('~images/bg-6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .4;
  transition: background-image ease .5s;

  &.webp {
    background-image: url('~images/bg-6.webp');
  }
}

.page-admin {
  .background-image {
    background-image: url('~images/bg-0.jpg');

    &.webp {
      background-image: url('~images/bg-0.webp');
    }
  }
}

.page-error {
  .background-image {
    background-image: url('~images/bg-404.jpg');

    &.webp {
      background-image: url('~images/bg-404.webp');
    }
  }
}
