$dark: $gray-darker;

$card-border-color: $gray-black;

$component-active-color: white;
$component-active-bg: $primary;

$input-border-color: $gray-darker;

$table-border-color: $gray;

$dropdown-bg: $gray-dark;
$dropdown-divider-bg: $gray;
$dropdown-link-color: $text-color;
$dropdown-link-hover-color: $component-active-color;
$dropdown-link-hover-bg: $component-active-bg;
