.cbox {
  margin-bottom: 20px;

  .well {
    margin-bottom: 0;
  }

  a.btn-link {
    color: #666;
    &:hover {
      color: #428bca;
    }
  }

  &.cbox-error {
    h2 {
      color: red;
    }

    p {
      color: darken(red, 10%);
    }
  }
}

@media (min-width: $screen-sm-min) {
  .cbox {
    width: 350px;
    margin: 0 auto 20px;
    margin-top: 8%;

    &.cbox-signup {
      margin-top: 5%;
    }

    &.cbox-large {
      width: 550px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .cbox {
    &.welcome-box {
      margin-top: 6%;
    }
  }
}
