.filter-menu {
  margin-bottom: 10px;
  display: inline-block;
}

ul.pagination {
  margin: 0;
  margin-bottom: 10px;
}

.btn-group-flex {
  display: flex;
  justify-content: space-between;

  .btn-flex {
    flex-grow: 1;
  }
}

@media (max-width: $screen-sm-max) {
  .pagination {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

    li {
      flex: 1;

      a {
        width: 100%;
        text-align: center;
      }
    }
  }
}
