footer#main {
  padding: 30px 0 50px;
  border-top: 1px solid rgba($footer-border-color, .5);
  background-color: rgba($footer-bg-color, .5);

  .copyright, .copyright a {
    color: #666;
  }
}

.rsi-link {
  color: lighten(#428bca, 10%);
  &:hover {
    color: #428bca;
  }
}
