form {
  .tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ship-image {
    width: 100%;
    border-radius: 3px;
  }

  .form-group {
    img {
      max-width: 100%;
    }

    .checkbox {
      padding-top: 22px;
    }
  }

  .has-error {
    input, textarea {
      border-color: #c60f13;
      background-color: rgba(red, 0.1);
      color: #ccc;
    }

    ::-webkit-input-placeholder {
      color: $state-danger-text;
    }
    :-moz-placeholder {
      color: $state-danger-text;
    }
    ::-moz-placeholder {
      color: $state-danger-text;
    }
    :-ms-input-placeholder {
      color: $state-danger-text;
    }
  }

  .form-control-feedback:nth-child(2) {
    top: 0;
  }

  .has-error {
    input, textarea {
      border-color: #c60f13;
      background-color: rgba(red, 0.1);
    }

    ::-webkit-input-placeholder {
      color: $state-danger-text;
    }
    :-moz-placeholder {
      color: $state-danger-text;
    }
    ::-moz-placeholder {
      color: $state-danger-text;
    }
    :-ms-input-placeholder {
      color: $state-danger-text;
    }
  }

  .invoice-position-value {
    text-align: right;
  }

  textarea {
    max-width: 100%;
    min-height: 150px;
  }

  .invoice-position-value {
    text-align: right;
  }
}

.checkbox {
  label {
    padding-left: 5px;
  }
}

.form-big {
  .form-group {
    margin-bottom: 0;

    input {
      font-size: 16px;
      height: auto;
      padding: 10px;
      border-radius: 0;
      border-bottom: 0;
    }

    &:first-child {
      input {
        border-radius: 4px 4px 0 0;
      }
    }

    &:last-child {
      margin-bottom: 15px;

      input {
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid #999999;
      }
    }
  }
}
