$nav-transition-speed: .3s;

#main-nav .navbar-collapse {
  .nav.navbar-nav {
    max-height: 50px;

    > li {
      > a {
        border-color: $navbar-default-bg;
        transition: all $nav-transition-speed;
      }

      &.active > a,
      > a:hover,
      &.open > a {
        border-bottom: 4px solid $navbar-active;
        padding-bottom: 11px;
      }

      .dropdown-menu {
        li {
          > a {
            border-color: $navbar-default-bg;
            transition: all $nav-transition-speed;
          }
          &.active > a,
          &:hover > a {
            border-right: 4px solid $navbar-active;
          }
        }
      }
    }
  }

  &.in,
  &.collapsing {
    .nav.navbar-nav {
      max-height: none;

      > li {
        &.active > a,
        > a:hover,
        &.open > a {
          border: none;
          border-right: 4px solid $navbar-active;
          padding-bottom: 10px;
        }

        .dropdown-menu {
          li {
            &.active > a,
            &:hover > a {
              border-right: 4px solid $navbar-active;
            }
          }
        }
      }
    }
  }
}

.gravatar {
  float: left;
  box-shadow: $gravatar-shadow;
  border-radius: 3px;
  margin: 0 5px 0 0;
  max-width: 20px !important;
  max-height: 20px;
  width: 20px
}

.resource-nav {
  margin-bottom: 10px;
}

.nav-pills {
  li {
    margin-bottom: 5px;
  }
}

@media (max-width: $screen-sm-min) {
  .navbar-brand {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
    white-space: nowrap;
  }
}
