$nav-transition-speed: .3s;

#main-nav {
  border-radius: 0;

  .navbar-brand {
    font-size: 20px;
    line-height: 25px;
  }

  .navbar-collapse {
    .nav.navbar-nav {
      max-height: 50px;

      > li {
        > a {
          border-color: $navbar-default-bg;
          transition: all $nav-transition-speed;
        }

        &.active > a,
        > a:hover,
        &.open > a {
          padding-bottom: 11px;
          border-bottom: 4px solid $navbar-active;
        }

        .dropdown-menu {
          li {
            > a {
              border-color: $navbar-default-bg;
              transition: all $nav-transition-speed;
            }

            &.active > a,
            &:hover > a {
              border-right: 4px solid $navbar-active;
            }
          }
        }
      }
    }

    &.in,
    &.collapsing {
      .nav.navbar-nav {
        max-height: none;

        > li {
          > a:hover,
          &.open > a,
          &.active > a {
            padding-bottom: 10px;
            border: none;
            border-right: 4px solid $navbar-active;
          }

          .dropdown-menu {
            li {
              &.active > a,
              &:hover > a {
                border-right: 4px solid $navbar-active;
              }
            }
          }
        }
      }
    }
  }
}

.gravatar {
  float: left;
  width: 20px;
  max-width: 20px !important;
  max-height: 20px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  box-shadow: $gravatar-shadow;

  &.gravatar-lg {
    width: 100px;
    max-width: 100px !important;
    max-height: 100px;
    margin-bottom: 20px;
  }
}

.resource-nav {
  margin-bottom: 10px;
}

.nav-pills {
  li {
    margin-bottom: 5px;
  }
}

.navbar-default .navbar-toggle,
.navbar-toggle {
  position: absolute;
  left: 10px;
  float: none;
  border-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
  }

  .icon-bar {
    width: 22px;
    transition: all .2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar,
    .bottom-bar {
      transform: rotate(0);
    }

    .middle-bar {
      opacity: 1;
    }
  }
}

@media (max-width: $screen-xs-min) {
  .navbar-default {
    min-width: 320px;
  }

  .navbar-brand {
    display: block;
    float: none;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
  }
}
