.ship-panel, .manufacturer-panel {
  .production-status {
    font-size: 75%;
    text-align: center;
    line-height: 1;
    color: $gray-light;
    padding: 4px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }

  .on-sale {
    font-size: 80%;
    text-align: center;
    line-height: 1;
    color: #fff;
    padding: 4px 6px;
    background-color: $btn-primary-bg;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
  }

  &.hangar-panel {
    .profile-image {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      position: relative;
    }

    .label-purchased {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-top: 20px solid $brand-success;
      border-right: 20px solid $brand-success;
      border-bottom: 20px solid transparent;

      i {
        position: absolute;
        top: -15px;
        right: -15px;
      }
    }
  }

  h3 {
    small {
      white-space: nowrap;
    }
  }

  .profile-image {
    background-color: #333;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .metrics {
    padding-left: 0;
    padding-right: 0;
  }

  .ship-roles {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-group {
    &:last-child .btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.ship-image, .manufacturer-logo {
  max-width: 100%;
  max-height: 100%;
}

.ship-image {
  margin-right: 10px;
  margin-bottom: 10px;
}

.ship-description {
  margin: 20px 0;
}
