.tab-content {
  background-color: $nav-tabs-active-link-hover-bg;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: $nav-tabs-border-color;
  border-radius: $border-radius-base;
  padding: $padding-base-vertical $padding-base-horizontal 0;
}

ul.nav.nav-tabs {
  border-bottom: none;
  margin: 0 $border-radius-base;

  li {
    margin-bottom: 0;
  }
}

.tab-pane {
  hr {
    margin: 10px 0;
  }

  .list-group-item {
    padding-right: 110px;
    position: relative;

    .hardpoint-max-class {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
}
