.table-responsive {
  overflow-y: hidden;
}

table {
  th {
    h3 {
      margin: 0;
    }
  }
  td, th {
    &.actions {
      &.actions-one {
        width: 56px;
        min-width: 56px;
      }
      &.actions-two {
        width: 95px;
        min-width: 95px;
      }
      &.actions-three {
        width: 132px;
        min-width: 132px;
      }
      &.actions-four {
        width: 172px;
        min-width: 172px;
      }
      &.actions-five {
        width: 208px;
        min-width: 208px;
      }
      &.actions-five-ladda {
        width: 256px;
        min-width: 256px;
      }

      &.actions-sm {
        &.actions-one {
          width: 45px;
          min-width: 45px;
        }
        &.actions-two {
          width: 83px;
          min-width: 83px;
        }
        &.actions-three {
          width: 114px;
          min-width: 114px;
        }
        &.actions-four {
          width: 150px;
          min-width: 150px;
        }
      }
    }

    &.id {
      width: 285px;
      min-width: 285px;
    }

    &.preview {
      width: 100px;
      img {
        max-width: 100px;
        max-height: 50px;
      }
    }
  }
  tr {
    &.border {
      td {
        border-top: 1px solid #666;
      }
    }
  }
}

.panel-body {
  .table,
  table {
    margin-bottom: 0;
  }
}
