table {
  th {
    h3 {
      margin: 0;
    }
    &.actions {
      &.one {
        width: 42px;
        min-width: 42px;
      }
      &.two {
        width: 78px;
        min-width: 78px;
      }
      &.three {
        width: 111px;
        min-width: 111px;
      }
      &.four {
        width: 144px;
        min-width: 144px;
      }
    }
  }
  td, th {
    &.id {
      width: 60px;
      min-width: 60px;
    }

    &.preview {
      width: 100px;
      img {
        max-width: 100px;
        max-height: 50px;
      }
    }
  }
  tr {
    &.border {
      td {
        border-top: 1px solid #666;
      }
    }
  }
}

.panel-body {
  .table,
  table {
    margin-bottom: 0;
  }
}

