h1, .navbar-brand {
  font-family: 'Orbitron', sans-serif;

  small {
    font-family: 'Open Sans', sans-serif;
  }
}

h1, h2, h3, h4 {
  margin-top: 0;
}

.text-huge {
  font-size: 40px;
}

address {
  .name {
    font-size: 1.2em;
    color: #999;
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
  }
}

blockquote {
  small {
    a {
      color: $blockquote-small-color;

      &:hover {
        color: $blockquote-small-color;
      }
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.jumbotron {
  h1 {
    font-size: floor(($font-size-base * 2.15));
  }
}
