#fileupload {
  table {
    tr {
      td {
        vertical-align: middle;

        &.file-preview {
          width: 200px;
          img {
            max-width: 100%;
            max-height: 100px;
          }
        }

        &.file-size, &.upload-progress {
          width: 300px;
        }

        &.actions {
          width: 220px;
          text-align: right;
        }
      }

      &.template-upload {
        td.actions {
          width: 173px;
        }
      }
    }
  }
}

#dropzone {
  text-align: center;
  font-weight: bold;
  display: none;

  &.in {
    font-size: larger;
    display: block;
  }

  &.hover {
    background: palegreen;
    color: black;
  }

  &.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
  }
}
