.starsystem-panel {
  &-body {
    display: flex;
    justify-content: flex-end;
  }

  &-celestial-objects {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    max-width: 80%;
    flex-wrap: wrap-reverse;

    :deep(.panel-inner) {
      min-height: 200px;
      width: 200px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .starsystem-panel {
    &-body {
      flex-direction: column;
      align-items: flex-end;
    }

    &-celestial-objects {
      max-width: 100%;
      width: 90%;
      flex-direction: column;

      &-item {
        width: 100%;
      }

      :deep(.panel-inner) {
        min-width: 100%;
      }
    }
  }
}
