$innerBorderWidth: 2px;

.pagination-pages {
  min-width: 100px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 0 !important;
  border-right: 1px solid #444 !important;
  border-radius: 0 !important;
}

.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: $desktop-breakpoint) {
  .pagination {
    justify-content: center;
  }
}
