@import "~stylesheets/variables";

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 160%;
  z-index: 1000;
  cursor: pointer;
  transition: all ease 0.5s;
  padding: 20px 30px;

  &:hover {
    opacity: 0.6;
  }
}

@media (max-width: $desktop-breakpoint) {
  .back-to-top {
    padding: 10px 20px;
  }
}
