.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th=sort_link(@q, :name)
        %th.actions.actions-three=I18n.t(:"labels.table.actions")
    %tbody
      = render partial: "admin/commodities/show", collection: @commodities, as: :commodity

      - if @commodities.blank?
        = render "shared/tables/blank", count: 3, resource: "commodity"
