.add-addons {
  justify-content: center;

  .form-group {
    margin-bottom: 21px;
  }
}

.addon {
  .addon-image {
    max-width: 100px;
    flex: none;
  }

  .addon-panel {
    &-editable {
      cursor: pointer;
    }

    .addon-panel-selected {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $success;
      border-radius: 0 10px 0 $panelContentBorderRadius;

      i,
      svg {
        color: #fff;
      }
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .add-addons,
  .addon {
    margin: 0;
  }
}
