@import '~stylesheets/variables';

.filter-list {
  margin-bottom: 15px;
  position: relative;

  .filter-list-title,
  .filter-list-item {
    i,
    svg {
      transition: all .5s ease;
      position: absolute;
      right: 15px;
      top: 13px;
    }
  }

  .filter-list-search {
    border: 1px solid $input-border;
    border-top: none;
    border-bottom: none;
  }

  .filter-list-title {
    font-weight: bold;
    position: relative;
    cursor: pointer;
    background: rgba($input-bg, .9);
    padding: 10px 40px 10px 10px;
    border-radius: $border-radius-base;
    border: 1px solid $input-border;
    transition: all .5s ease;

    &:hover {
      background: $input-bg;
      color: white;
    }

    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      i,
      svg {
        transform: rotate(90deg);
      }
    }

    &.disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &.selected {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .filter-list-items {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba($gray-darker, .95);
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    border: 1px solid $input-border;
    border-top: none;
  }

  .filter-list-items-wrapper {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 1px 3px rgba(black, .9);
  }

  .filter-list-item {
    position: relative;
    padding: 10px 36px 10px 6px;
    border-bottom: 1px solid $input-border;
    cursor: pointer;
    color: $input-color;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: flex;
    align-items: center;

    .filter-list-item-icon {
      margin-right: 10px;
      width: 30px;
      height: 21px;
      text-align: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &::before,
    &::after {
      width: 3px;
      height: 26px;
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -13px;
      transition: all ease .3s;
      opacity: 0;
    }

    &::before {
      left: -4px;
    }

    &::after {
      right: -4px;
    }

    &:hover {
      &::before,
      &::after {
        background: $primary;
        opacity: 1;
      }

      &::before {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 3px 0 10px rgba(darken($primary, 20%), .9), 0 3px 10px rgba(darken($primary, 20%), .9), 0 -3px 10px rgba(darken($primary, 20%), .9);
      }

      &::after {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        box-shadow: -3px 0 10px rgba(darken($primary, 20%), .9), 0 3px 10px rgba(darken($primary, 20%), .9), 0 -3px 10px rgba(darken($primary, 20%), .9);
      }
    }

    &.active {
      color: $primary;
      animation-name: flash;
      animation-duration: .5s;

      i,
      svg {
        transform: rotate(45deg);
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: .5;
  }
}
