@import '~stylesheets/variables';

.teaser-panel {
  display: flex;

  .teaser-panel-body {
    width: 66%;
    padding: 15px;
  }

  .teaser-panel-image {
    position: relative;
    width: 33%;
    height: auto;
    border-top-left-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;
    opacity: 0.8;
  }

  a {
    color: $text-color;
  }

  h3 {
    max-width: 100%;
    overflow: hidden;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Orbitron', tahoma, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p {
    position: relative;
    z-index: 20;
  }
}
