- content_for :title do
  = I18n.t(:"title.component.edit")
.row
  .col-12.col-md-12

    .row
      .col-12.col-md-8
        %h2
          = I18n.t(:"headlines.admin.component.edit", component: component.name)

      .col-12.col-md-4
        .d-flex.justify-content-end
          .btn-group
            = link_to I18n.t(:"actions.back"), admin_components_path(params: index_back_params, anchor: component.id), class: "btn btn-dark"

    = render "form"
