@import '~stylesheets/variables';

.signup {
  form {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 12%;
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;

    a {
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .privacy-info {
    color: $gray-lighter;

    a {
      color: lighten($gray-light, 10%);

      &:hover {
        color: lighten($gray-light, 30%);
      }
    }
  }

  .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;

    &:focus {
      z-index: 2;
    }
  }

  .has-feedback {
    .form-control-feedback {
      &:nth-child(3) {
        top: 0;
      }
    }
  }

  .form-group {
    position: relative;
  }

  .form-input label {
    display: none;
  }

  footer {
    margin-top: 40px;
  }

  @media (min-width: $desktop-breakpoint) {
    .form-input label {
      position: absolute;
      top: 12px;
      left: -100%;
      display: block;
      width: 100%;
      padding-right: 10px;
      text-align: right;
    }
  }
}
