.panel-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  transition: border-radius $transition-base-speed ease;

  &-rounded {
    border-radius: $panelContentBorderRadius;
  }

  &-rounded-bottom {
    border-top-left-radius: $panelContentBorderRadius;
    border-top-right-radius: $panelContentBorderRadius;
  }

  &-rounded-top {
    border-bottom-left-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;
  }

  &-rounded-left {
    border-top-left-radius: $panelContentBorderRadius;
    border-bottom-left-radius: $panelContentBorderRadius;
  }

  &-rounded-right {
    border-top-right-radius: $panelContentBorderRadius;
    border-bottom-right-radius: $panelContentBorderRadius;
  }

  &-align-left {
    background-position: left;
  }

  &-align-right {
    background-position: right;
  }
}
