//= require ladda/css/ladda
//= require nprogress
//= require noty/lib/noty
//= require selectize
//= require selectize.bootstrap3
//= require_self

@import 'bourbon';
@import 'bootstrap-sprockets';
@import 'colors/default';
@import 'colors/dark';
@import 'bootstrap-custom';
@import 'colors/dark_overrides';
@import 'partials';

html {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  height: auto;
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 260px;
  font-family: 'Open Sans', sans-serif;
  background-image: image-url('bg-0.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  > .container {
    padding-bottom: 20px;
  }
}

.btn,
.pagination a,
.nav-tabs li a,
footer#main a,
a.navbar-brand {
  transition: all .5s;
}

.thumbnail {
  border-color: #666;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $navbar-active;
}

.noty_buttons {
  text-align: center;

  .btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.label {
  display: inline-block;
}

.info-badge {
  font-size: 120%;
}

.fa-4-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.panel-body {
  .highcharts-container {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.panel {
  margin-bottom: 0;
}

.environment-label {
  position: fixed;
  top: 11px;
  right: 100px;

  span {
    padding: 6px 10px;
    font-size: 15px;
  }
}

.chart {
  position: relative;

  &.loading::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-image: image-url('loading.gif');
    background-position: center;
    background-size: 100%;
    content: '';
  }
}
