//= require ladda/css/ladda
//= require blueimp-gallery/css/blueimp-gallery.min
//= require blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min
//= require blueimp-file-upload/css/jquery.fileupload
//= require blueimp-file-upload/css/jquery.fileupload-ui
//= require bootstrap-social
//= require nprogress
//= require awesome-bootstrap-checkbox
//= require selectize/dist/css/selectize.default
//= require noty/lib/noty
//= require_self

@import "bourbon";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";

@import "colors/default";
@import "colors/dark";

@import 'bootstrap-custom';

@import "colors/dark_overrides";

@import "partials";

html {
  height: 100%;
}

body {
  font-family: 'Droid Sans', verdana;
  min-height: 100%;
  min-width: 320px;
  height: auto;
  position: relative;
  padding-bottom: 260px;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  > .container {
    padding-bottom: 20px;
  }
}

.btn,
.pagination a,
a.list-group-item,
footer#main a,
a.navbar-brand,
.nav-tabs li a {
  transition: all .5s;
}

.thumbnail {
  border-color: #666;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $navbar-active;
}

.noty_buttons {
  text-align: center;

  .btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.label {
  display: inline-block;
}

.info-badge {
  font-size: 120%;
}
