//= require_self
//= require select2
//= require ladda/css/ladda
//= require blueimp-gallery/css/blueimp-gallery.min
//= require blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min
//= require blueimp-file-upload/css/jquery.fileupload
//= require blueimp-file-upload/css/jquery.fileupload-ui

@import "bourbon";

@import "colors/defaults";
@import "colors/black";
@import "bootstrap";
@import "colors/black_overrides";

@import "partials";

html {
  height: 100%;
}

body {
  font-family: 'Droid Sans', verdana;
  min-height: 100%;
  height: auto;
  position: relative;

  > .container {
    min-height: 500px;
    padding-bottom: 20px;
  }
}

@media (min-width: $screen-sm-min) {
  .well {
    &.login-box {
      margin-top: 30%;
    }

    &.signup-box {
      margin-top: 20%;
    }
  }
  .welcome-box {
    margin-top: 10%;
  }
}

.version {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.filter-menu {
  margin-bottom: 10px;
  display: inline-block;
}

ul.pagination {
  margin: 0;
  margin-bottom: 10px;
}

#signup-form {
  margin-bottom: 20px;
}

.no-wrap {
  white-space: nowrap;
}
