//= require_self
//= require select2
//= require ladda/css/ladda
//= require blueimp-gallery/css/blueimp-gallery.min
//= require blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min
//= require blueimp-file-upload/css/jquery.fileupload
//= require blueimp-file-upload/css/jquery.fileupload-ui
//= require bootstrap-social

@import "bourbon";

@import "colors/defaults";
@import "colors/dark";
@import "bootstrap-sprockets";
@import 'bootstrap-custom';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors/dark_overrides";

@import "partials";

html {
  height: 100%;
}

body {
  font-family: 'Droid Sans', verdana;
  min-height: 100%;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 260px;

  > .container {
    padding-bottom: 20px;
  }

  &.bg-0 {
    background-image: image-url("bg.jpg");
  }

  &.bg-1 {
    background-image: image-url("bg-2.jpg");
  }

  &.bg-2 {
    background-image: image-url("bg-bottom-earth-2560.jpg");
  }

  &.bg-3 {
    background-image: image-url("bg-stars-2560.jpg");
  }

  &.bg-4 {
    background-image: image-url("bg-stanton-bar.jpg");
  }
}

.btn,
.pagination a,
a.list-group-item,
footer#main a,
a.navbar-brand,
.nav-tabs li a {
  transition: all .5s;
}

.thumbnail {
  border-color: #666;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $navbar-active;
}

.noty_buttons {
  background-color: transparent !important;
}

.cookies-eu-banner {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(28, 30, 34, 0.8);
  border-bottom: 1px solid rgba(12, 13, 14, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  p {
    margin: 0;
  }

  button {
    position: absolute;
    right: 20px;
    top: 8px;
  }
}

.label {
  display: inline-block;
}
