
$primary-color: #428bca;
$global-font-color: #c8c8c8;
$body-background: #272b30;
$container-background: #272b30;
$global-width: 640px;
$body-font-family: 'Open Sans', sans-serif;

@import 'partials/email-fonts';
@import 'foundation-emails';

:root {
  color-scheme: light dark;
}

body,
html,
.body {
  background: $body-background !important;
}

.container.content {
  background: darken($body-background, 5%);
  border-radius: 2px;
}

h1 {
  margin: 0;
  color: $global-font-color;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;

  small {
    font-family: 'Open Sans', sans-serif;
  }
}

p {
  line-height: 1.5;
}

.transmission {
  color: darken($global-font-color, 20%);
  font-size: .9em;
  font-family: 'Orbitron', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body,
  html,
  .body {
    background: $body-background !important;
  }
}
