
$primary-color: #428bca;
$global-font-color: #C8C8C8;
$body-background: #272B30;
$container-background: #272B30;
$body-font-family: 'Open Sans', sans-serif;

@import "partials/email-fonts";
@import "foundation-emails";

body,
html,
.body {
  background: $body-background !important;
  font-size: 1em;
}

.container.content {
  background: darken($body-background, 5%);
  border-radius: 2px;
}

h4 {
  padding-top: 10px;
  font-size: 1.2em;
}

h1 {
  font-size: 1.7em;
  font-family: 'Orbitron', sans-serif;
  color: $global-font-color;

  small {
    font-family: 'Open Sans', sans-serif;
  }
}

p {
  line-height: 1.5;
}

.transmission {
  font-size: 0.9em;
  font-family: 'Orbitron', sans-serif;
  color: darken($global-font-color, 20%);
}

