
$primary:#428bca;
$body-bg: #272B30;
$text-color: #C8C8C8;

html {
  height: 100%;
}

body {
  font-family: 'Droid Sans', verdana;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  color: $text-color;

  small {
    font-family: 'Droid Sans', verdana;
  }
}

.content {
  padding: 20px
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: $text-color;
}

a {
  color: $primary;
  text-decoration: underline;
}

.well {
  background-color: rgba(darken($body-bg, 5%), .8);
  color: $text-color;
  border-radius: 3px;
  padding: 12px 20px;

  h2 {
    margin-top: 10px;
    font-family: 'Droid Sans', verdana;
  }
}

p {
  color: $text-color;
}

.transmission {
  text-align: center;
  margin: 20px 0;
  padding: 14px 0;
  font-size: 120%;
  font-family: 'Orbitron', sans-serif;
  color: darken($text-color, 20%);
}

.btn-primary {
  background-color: $primary;
  color: white;
}
