//= require_self

@import 'bourbon';
@import 'colors/default';
@import 'colors/dark';
@import 'bootstrap-sprockets';
@import 'bootstrap-custom';
@import 'colors/dark_overrides';
@import 'partials/typography';
@import 'partials/cbox';

html {
  height: 100%;
}

body {
  font-family: 'Droid Sans', verdana, sans-serif;
  min-height: 100%;
  height: auto;
  position: relative;
  background-image: image-url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 220px;

  > .container {
    padding-bottom: 20px;
  }
}
