& {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  color: $text-color;
  font-family: "Open Sans", sans-serif;

  .row > [class*="col-"] {
    transition: width ease $transition-base-speed;
  }

  a,
  input[type="button"],
  button {
    outline: 0 none !important;
  }

  hr {
    height: 1px;
    margin: 20px 5%;
    background-color: rgba($gray-light, 0.28);
    border: none;
  }
}
