#fleetyards-view {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  color: $fleetyards-view-text-color;
  font-family: "Open Sans", sans-serif;

  .row > [class*="col-"] {
    transition: width ease $fleetyards-view-transition-base-speed;
  }

  a,
  input[type="button"],
  button {
    outline: 0 none !important;
  }

  hr {
    height: 3px;
    margin: 20px 5%;
    background-color: $fleetyards-view-gray;
    border: none;
    border-radius: 50%;

    &.large-spacer {
      margin: 60px 5%;
    }

    &.dark {
      background-color: $fleetyards-view-gray-black;
    }

    &.slim-spacer {
      margin: 10px 5%;
    }

    &.space-bottom {
      margin-bottom: 30px;
    }
  }
}
