.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th.preview
        %th=sort_link(@q, :name)
        %th=sort_link(@q, :gallery_type)
        %th=sort_link(@q, :created_at)
        %th.actions.actions-three
    %tbody
      = render partial: "admin/images/show", collection: @images, as: :image

      - if @images.blank?
        = render "shared/tables/blank", count: 3, resource: "image"
