<% content_for :title do %>
  <%= I18n.t(:"title.image.index") %>
<% end %>
<div class="row">
  <div class="col-12">
    <h2>
      <%= I18n.t(:"headlines.admin.image.index") %>
    </h2>
  </div>
</div>
