@import '~stylesheets/variables';

.add-addons {
  justify-content: center;

  .form-group {
    margin-bottom: 21px;
  }
}

.addon {
  .model-panel {
    position: relative;
    display: flex;
    overflow: hidden;

    &.editable {
      cursor: pointer;
    }

    .model-panel-selected {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid $success;
      border-left: 25px solid $success;
      border-bottom-left-radius: $panelContentBorderRadius;

      i,
      svg {
        position: absolute;
        bottom: -16px;
        left: -16px;
        color: #fff;
      }
    }

    .model-panel-body {
      display: flex;
      flex: 0.5;
      align-items: center;
      justify-content: flex-end;
      min-height: 80px;
      padding: 15px;
    }

    .model-panel-image {
      flex: 0.5;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-left-radius: $panelContentBorderRadius;
      border-bottom-left-radius: $panelContentBorderRadius;
      opacity: 0.8;
    }

    h3 {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 20px;
      font-family: 'Orbitron', tahoma, sans-serif;
      text-align: right;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .add-addons,
  .addon {
    margin: 0;
  }
}
