.module-select-btn {
  cursor: pointer;
  color: color.scale($text-color, $lightness: -20%);

  i {
    margin-right: 4px;
  }

  &:hover,
  &-active {
    color: $text-color;
  }
}

.module-expand-toggle {
  appearance: none;
  background: transparent;
  border: none;
  color: color.scale($text-color, $lightness: -20%);
  cursor: pointer;
  padding: 4px 8px;
  font-size: 0.75rem;

  &:hover {
    color: $text-color;
  }
}

.module-loadout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 0 0;
}
