.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th=sort_link(@q, :username)
        %th=sort_link(@q, :email)
        %th=sort_link(@q, :current_sign_in_at)
        %th=sort_link(@q, :admin)
        %th=sort_link(@q, :created_at)
        %th.actions.actions-two
    %tbody
      = render partial: "admin/users/show", collection: @users, as: :user

      - if @users.blank?
        = render "shared/tables/blank", count: 3, resource: "user"
