.form-input {
  width: 100%;

  input {
    &:focus {
      outline: none;
    }
  }

  .clear {
    position: absolute;
    bottom: 2px;
    right: 5px;
    height: 40px;
    margin: 0;
  }

  &.form-input-large {
    input {
      height: 52px;
      padding: 10px 16px;
      font-size: 19px;
      line-height: 1.33333;
      border-radius: 6px;
    }

    .clear {
      bottom: 6px;
    }
  }

  &.form-input-clean {
    input {
      border-radius: 0;
      border: none;
    }
  }
}
