FORMAT: 1A
HOST: https://api.fleetyards.net/v1

# Fleetyards
Ship Database for Chris Roberts Star Citizen

## Authentication
This API uses OAuth v2 Bearer Token / Personal Access Token for its authentication.

# Group Ships

## Ships [/ships]

### List [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            Accept:application/json




+ Response 200 (application/json)
    + Attributes (array[ListResponse])



## Ships By Slug [/ships/{slug}]

+ Parameters
    + slug (string, required)

        + Sample: 300i

### Detail [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            Accept:application/json




+ Response 200 (application/json)
    + Attributes (DetailResponse)




# Group Hangar

## Hangar [/hangar]

### Your Hangar [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            Accept:application/json
            Authorization:Bearer eyJhbGciOiJIUzUxMiJ9.eyJ0b2tlbiI6InhVangxRU5Ob3NpQUtkY3l6dmhGIiwidXNlcl9pZCI6IjdlOTBkYmNjLWRhZGUtNGYwZi05N2QzLThlMGI1ZWUyY2M0MCIsImlzcyI6IkZsZWV0WWFyZHMubmV0In0.ouMV6HvnSi6hIKMcmaiIczxuHbsiTKG4-gIHlOoVA6d6gjg-04vTvB88J27F7gZJOK23SsaRXDTpRWFw8Xuiog




+ Response 200 (application/json)
    + Attributes (array[Your HangarResponse])



## Hangar By Username [/hangar/{username}]

+ Parameters
    + username (string, required)

        + Sample: torlekmaru

### Public Hangar [GET]
TODO: Add Description

+ Request (application/json)
    + Headers

            Accept:application/json




+ Response 200 (application/json)
    + Attributes (array[Public HangarResponse])




# Data Structures

## ListResponse (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 
+ `slug` (string, required) 
+ `description` (string, required) 
+ `length` (string, required) 
+ `beam` (string, required) 
+ `height` (string, required) 
+ `mass` (string, required) 
+ `cargo` (string, required) 
+ `netCargo` (string, required) 
+ `crew` (string, required) 
+ `storeImage` (string, required) 
+ `storeUrl` (string, required) 
+ `price` (string, required) 
+ `onSale` (boolean, required) 
+ `productionStatus` (string, required) 
+ `productionNote` (string, required) 
+ `powerplantSize` (number, required) 
+ `shieldSize` (number, required) 
+ `classification` (string, required) 
+ `focus` (string, required) 
+ `rsiId` (number, required) 
+ `manufacturer` (Manufacturer, required) 
+ `shipRole` (ShipRole, required) 
+ `createdAt` (string, required) 
+ `updatedAt` (string, required) 


## Manufacturer (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 


## ShipRole (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 


## DetailResponse (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 
+ `slug` (string, required) 
+ `description` (string, required) 
+ `length` (string, required) 
+ `beam` (string, required) 
+ `height` (string, required) 
+ `mass` (string, required) 
+ `cargo` (string, required) 
+ `netCargo` (string, required) 
+ `crew` (string, required) 
+ `storeImage` (string, required) 
+ `storeUrl` (string, required) 
+ `price` (string, required) 
+ `onSale` (boolean, required) 
+ `productionStatus` (string, required) 
+ `productionNote` (string, required) 
+ `powerplantSize` (number, required) 
+ `shieldSize` (number, required) 
+ `classification` (string, required) 
+ `focus` (string, required) 
+ `rsiId` (number, required) 
+ `manufacturer` (Manufacturer, required) 
+ `shipRole` (ShipRole, required) 
+ `hardpoints` (array[Hardpoint], required) 
+ `images` (array[string], required) 
+ `videos` (array[string], required) 
+ `createdAt` (string, required) 
+ `updatedAt` (string, required) 


## Hardpoint (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 
+ `hardpointClass` (string, required) 
+ `rating` (number, required) 
+ `maxSize` (string, required) 
+ `quantity` (string, required) 
+ `categoryName` (string, required) 
+ `categorySlug` (string, required) 
+ `component` (Component, optional) 


## Component (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 
+ `size` (string, required) 
+ `type` (string, required) 


## Your HangarResponse (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 
+ `purchased` (boolean, required) 
+ `saleNotify` (boolean, required) 
+ `ship` (Ship, required) 


## Ship (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 
+ `slug` (string, required) 
+ `description` (string, required) 
+ `length` (string, required) 
+ `beam` (string, required) 
+ `height` (string, required) 
+ `mass` (string, required) 
+ `cargo` (string, required) 
+ `netCargo` (string, required) 
+ `crew` (string, required) 
+ `storeImage` (string, required) 
+ `storeUrl` (string, required) 
+ `price` (string, required) 
+ `onSale` (boolean, required) 
+ `productionStatus` (string, required) 
+ `productionNote` (string, required) 
+ `powerplantSize` (string, required) 
+ `shieldSize` (string, required) 
+ `classification` (string, required) 
+ `focus` (string, required) 
+ `rsiId` (number, required) 
+ `manufacturer` (Manufacturer, required) 
+ `shipRole` (ShipRole, required) 
+ `createdAt` (string, required) 
+ `updatedAt` (string, required) 


## Public HangarResponse (object)


### Properties
+ `id` (string, required) 
+ `name` (string, required) 
+ `purchased` (boolean, required) 
+ `saleNotify` (boolean, required) 
+ `ship` (Ship, required) 

