.inline-editable-list {
  gap: 8px;
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 0;
    padding: 8px 12px;
    gap: 8px;
    background: rgba(#fff, 0.05);
    border: 1px solid rgba(#fff, 0.1);
    border-radius: 6px;
  }

  &__display {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 8px;
    align-items: center;
  }

  &__form {
    display: flex;
    gap: 8px;
    flex: 1;

    & > * {
      flex: 1;
    }
  }

  &__actions {
    display: flex;
    gap: 4px;
    padding: 0;
  }
}
