@import "~stylesheets/variables";

.to-fleetyards {
  position: absolute;
  top: -40px;
  color: $text-color;
  transition: all ease 0.5s;

  .brand {
    font-family: 'Orbitron', sans-serif;
  }
}

.headlines {
  margin-top: 40px;
  margin-bottom: 40px;
}

.activities {
  margin-left: 20px;
  display: inline-block;
}

h1 {
  img {
    max-width: 60px;
    max-height: 60px;
  }
}
