@import '~stylesheets/variables';

.headlines {
  margin-bottom: 20px;
}

.actions {
  margin-top: 20px;
}

.activities {
  margin-left: 20px;
  display: inline-block;
}

h1 {
  .logo {
    max-width: 60px;
    max-height: 60px;
    border-radius: $border-radius-base * 2;
    margin-bottom: 10px;
  }
}
