@import '~stylesheets/variables';

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .avatar {
    margin-right: 20px;
  }
}

.fleet-metrics {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .metrics-label,
  .metrics-value {
    display: inline-block;
  }
}

.fleet-links {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  margin: 15px 0;

  > a {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .fleet-links {
    justify-content: center;
    height: 80px;
  }
}
