$color1: #f4f4f4;
$color2: #3197ee;

.radio-list {
  display: flex;
  margin-bottom: 20px;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
  }

  &__label {
    padding: 0;
    padding-top: 2px;
  }

  &__item {
    margin-top: 0;
    padding: 5px 0;
    display: flex;
    white-space: nowrap;
    align-items: center;

    &--inline {
      display: inline-block;
    }

    input[type="radio"] {
      display: none;
      position: absolute;

      + label {
        cursor: pointer;

        &::before {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 10px;
          text-align: center;
          vertical-align: top;
          background: $input-bg;
          border: 1px solid $input-border;
          border-radius: 100%;
          cursor: pointer;
          transition: all 250ms ease;
          content: "";
        }
      }

      &:checked + label::before {
        background-color: $primary;
        box-shadow: inset 0 0 0 4px $input-bg;
      }

      &:focus + label::before {
        border-color: $primary;
        outline: none;
      }

      &:disabled,
      &:disabled + label,
      &:disabled + label::before {
        cursor: not-allowed;
      }

      &:disabled + label::before {
        opacity: 0.9;
      }

      &:disabled:checked + label::before {
        background: lighten($input-bg, 10%);
      }
    }
  }
}
