.filtered-list {
  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    flex-wrap: wrap;
  }

  &__actions-right {
    display: flex;

    :deep(.pagination) {
      width: auto;
    }
  }

  &__content {
    position: relative;
  }

  &__refetch-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.15);
    z-index: 10;
  }
}

@media (max-width: $desktop-breakpoint) {
  .filtered-list {
    &__actions {
      &-left,
      &-right {
        flex: 1 1 auto;
        display: flex;
      }

      &-left {
        justify-content: flex-start;
      }

      &-right {
        justify-content: flex-end;
      }
    }
  }
}
