.row
  - Manufacturer.known.all.each_with_index do |manufacturer, index|
    - if index %3 == 0 && index != 0
      .row.visible-md.visible-lg
    - if index %2 == 0 && index != 0
      .row.visible-sm
    .col-md-4.col-sm-6.col-xs-12
      .manufacturer-logo.text-center
        - unless manufacturer.logo.blank?
          %img{src: manufacturer.logo.small, title: manufacturer.name, alt: manufacturer.name, data: {toggle: 'tooltip'}}
