.heading {
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar {
    margin-right: 20px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;

  > a {
    margin-right: 20px;
    font-size: 3rem;

    &:last-child {
      margin-right: 0;
    }

    .icon-rsi {
      opacity: 0.8;
      transition: opacity $transition-base-speed ease;
      width: 76px;
      height: 40px;
    }

    &:hover {
      .icon-rsi {
        opacity: 1;
      }
    }
  }
}

.description {
  margin-top: 15px;
}

@media (max-width: $desktop-breakpoint) {
  .heading {
    flex-wrap: wrap;

    .avatar {
      margin-right: 0;
    }

    .title {
      margin-top: 15px;
      text-align: center;
    }
  }

  .links {
    flex-wrap: wrap;

    > a {
      font-size: 2rem;

      .icon-rsi {
        width: 46px;
        height: 24px;
      }
    }
  }
}
