.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th.preview
        %th=sort_link(@q, :name)
        %th=sort_link(@q, :starsystem_name, 'Starsystem')
        %th=sort_link(@q, :hidden)
        %th.actions.actions-two=I18n.t(:"labels.table.actions")
    %tbody
      = render partial: "admin/celestial_objects/show", collection: @celestial_objects, as: :celestial_object

      - if @celestial_objects.blank?
        = render "shared/tables/blank", count: 5, resource: 'celestial_object'
