.empty {
  width: 600px;

  &--box {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: $desktop-breakpoint) {
  .empty {
    max-width: 100%;
    padding: 0;
  }
}
