.form-group-checkbox {
  margin-bottom: 15px;
  display: flex;
}

.form-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    padding-left: 30px;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  & + label::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: text-top;
    background: $input-bg;
    border: 1px solid $input-border;
    border-radius: 2px;
    transition: all 250ms ease;
    content: "";
  }

  & + label::after {
    position: absolute;
    left: 3px;
    width: 18px;
    height: 18px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    transition: all 250ms ease;
    content: "";
  }

  &:hover + label::before {
    background: $input-bg;
  }

  &:checked + label::after {
    background: url("@/images/icons/solid/check-primary.svg");
  }

  &:disabled + label {
    cursor: not-allowed;
    opacity: 0.5;

    &::before {
      box-shadow: 0 0 0 1px $gray inset;
    }
  }

  &:checked {
    &:focus + label::before {
      outline: none;
      box-shadow: 0 0 0 1px $primary inset;
    }
  }
}

.form-group-checkbox-expanded {
  margin-top: 30px;
}
