.station-item {
  > .panel {
    .panel-image {
      height: 350px;
      opacity: .8;
    }

    .panel-title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      margin-bottom: 0;
      text-shadow: 0 0 2px black;
    }
  }
}
