name: JS Lint Job

on:
  workflow_call:

jobs:
  api-schema-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/js-setup-action
      - run: yarn run validate-schema
      - run: yarn run validate-admin-schema
