
name: Health Check

on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:
    branches:
      - '**'

jobs:
  health-check:
    runs-on: ubuntu-latest
    steps:
      - run: curl --write-out '%{http_code}' --silent --fail --output /dev/null https://fleetyards.net
