name: Release

on:
  push:
    tags: ["v*"]

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    env:
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/js-setup-action
      - run: yarn cypress install
      - name: Run E2E Tests
        run: yarn run test:e2e --record --config baseUrl=https://${{ vars.STAGE_DOMAIN }} --parallel

  # build:
  #   needs: [smoke-test]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: ./.github/workflows/build.job.yml
  #       with:
  #         name: ${GITHUB_REF/refs\/tags\//}
  #       secrets: inherit

  deploy-to-live:
    needs: [smoke-test]
    uses: ./.github/workflows/deploy.job.yml
    with:
      capEnv: live
      name: Live
      url: https://fleetyards.net
    secrets: inherit

  notify_app_signal:
    runs-on: ubuntu-latest
    needs: [deploy-to-live]
    environment: Live
    env:
      APP_SIGNAL_DEPLOY_HOOK: ${{ secrets.APP_SIGNAL_DEPLOY_HOOK }}
    steps:
      - run: |
          curl -X POST $APP_SIGNAL_DEPLOY_HOOK \
          -H 'Content-Type: application/json' \
          -d "{\"revision\": \"$GITHUB_SHA\", \"user\": \"${{ github.actor }}\"}"

  create-release:
    needs: [deploy-to-live]
    runs-on: ubuntu-latest
    environment: Live
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Set TAG_NAME
        run: echo "TAG_NAME=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - name: extract Changelog for the current Tag
        run: bundle exec thor changelog:entry $TAG_NAME
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref }}
          name: ${{ env.TAG_NAME }}
          body_path: ${{ env.TAG_NAME }}.md
          draft: false
          prerelease: false

  notify-discord:
    runs-on: ubuntu-latest
    needs: [create-release]
    environment: Live
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
    steps:
      - name: Set TAG_NAME
        run: echo "TAG_NAME=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - run: |
          curl -X POST $DISCORD_WEBHOOK \
          -H 'Content-Type: application/json' \
          -d "{\"content\": \"**New Release:** $TAG_NAME\nhttps://github.com/fleetyards/fleetyards/releases/tag/$TAG_NAME\" }"
