$footer-border-color:    #ccc;
$footer-bg-color:        #ddd;
$gravatar-shadow:        0 1px 0 #fff;
$navbar-active:          #428bca;

$container-lg:           90%;
$container-md:           90%;
$container-xs:           90%;
$container-sm:           90%;
