$footer-border-color:    #ccc;
$footer-bg-color:        #ddd;
$gravatar-shadow:        0 1px 0 #fff;
$primary:              #428bca;
$navbar-active:          $primary;


$container-xlg:           80%;
$container-lg:           90%;
$container-md:           90%;
$container-xs:           90%;
$container-sm:           90%;

$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.15));
$font-size-h2: floor(($font-size-base * 1.7));
$font-size-h3: floor(($font-size-base * 1.25));
$font-size-h4: $font-size-base;
$font-size-h5: floor(($font-size-base * 0.85));
$font-size-h6: floor(($font-size-base * 0.85));
