%footer#footer
  .container
    .pull-left
      &copy; 2014
      = link_to "Marten Klitzke - mortik.", "mailto:info@mortik.de", target: "_blank", data: { no_turbolink: 'true'}
    .pull-right
      .version
        = "#{Fleetyards::CODENAME} (#{Fleetyards::VERSION})"

