%nav#main-nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-ex1-collapse'}}
        %span.sr-only
          = I18n.t(:"nav.header.toggle")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path}
        = I18n.t(:"title.default")

    .collapse.navbar-collapse.navbar-ex1-collapse
      = render "layouts/nav"
      = render "layouts/user_nav"
