<% content_for :title do %>
  <%= I18n.t(:"title.shop_commodity.confirmation") %>
<% end %>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h2>
          <%= I18n.t(:"headlines.admin.shop_commodity.confirmation") %>
        </h2>
      </div>
    </div>
  </div>
</div>
